<div class="container-fluid">
    <div class="card my-3">
        <div class="card-header"><h2>Submission Details</h2></div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Question</th>
                    <th>Time Submitted</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Temp Question</td>
                    <td>Temp Time</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header"><h2>Temp Answer</h2></div>
        <div class="card-body">
            <pre>
                <code class="language-java ts-2 hljs">
                    Temp Code
                </code>
            </pre>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header"><h2>Compile Output</h2></div>
        <div class="card-body">
            Compiled Successfully!
        </div>
    </div>
    <button class="btn btn-info mb-3">Re-Attempt</button>
</div>
