{{ file.name }}
<div class="tui-row">
    <div class="tui-col_6">
        <h2>Lines</h2>
        <div class="left-container" [dragula]="file.name" [(dragulaModel)]="leftContainer">
            <div class="container-object" *ngFor="let line of leftContainer">
                <pre>{{line.value}}</pre>
            </div>
        </div>
    </div>
    <div class="tui-col_6">
        <h2>My Solution</h2>
        <div class="right-container" [dragula]="file.name"
             [(dragulaModel)]="rightContainer">
            <div class="container-object" *ngFor="let line of rightContainer">
                <pre>{{line.value}}</pre>
            </div>
        </div>
    </div>
</div>
