@import '~@taiga-ui/core/styles/taiga-ui-local';

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.1rem;

    &-object {
        cursor: move;
        padding: 0.1rem 1rem;
        background-color: var(--tui-base-02);
        border-radius: var(--tui-radius-s);
    }
}
