<tui-island class="tui-space_bottom-6">
    <h2 class="tui-text_h6 tui-space_top-0">Generated Variables</h2>
    <ng-container *ngIf="generatedVariables.length !== 0; else elseBlock">
        <p class="tui-island__paragraph" *ngFor="let variable of generatedVariables">
            {{ variable.name }}: {{ variable.value }}
        </p>
    </ng-container>
    <ng-template #elseBlock>
        <p class="tui-island__paragraph">
            No Variables.
        </p>
    </ng-template>
    <ng-container *ngIf="variableErrors.length !== 0; else noErrors">
        <tui-notification class="tui-space_top-2" status="error" [hasIcon]="false" *ngFor="let error of variableErrors">
            {{ error }}
        </tui-notification>
    </ng-container>
    <ng-template #noErrors>
        <p class="tui-island__paragraph">No Errors.</p>
    </ng-template>
</tui-island>
