<tui-island class="tui-space_top-6">
  <h2 class="tui-text_h6 tui-space_top-0">Generated Variables</h2>
  @if (generatedVariables.length !== 0) {
    @for (variable of generatedVariables; track variable) {
      <p class="tui-island__paragraph">
        {{ variable.name }}: {{ variable.value }}
      </p>
    }
  } @else {
    <p class="tui-island__paragraph">
      No Variables.
    </p>
  }
  @if (variableErrors.length !== 0) {
    @for (error of variableErrors; track error) {
      <tui-notification size="m" icon="" class="tui-space_top-2" appearance="error">
        {{ error }}
      </tui-notification>
    }
  } @else {
    <p class="tui-island__paragraph">No Errors.</p>
  }
</tui-island>
