.signup-brand {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;

    & img {
        width: 100%;
    }
}

.signup-button__wide {
    width: 100%;
}

.signup-login__center {
    text-align: center;
}
