<div class="profile-header">
    <div
        class="profile-header_background"
        [style.backgroundColor]="avatarComponent.bgColor"
        [class.tui-skeleton]="!userDetails"
    ></div>
    <tui-avatar
        [text]="userDetails ? (form.first_name.value && form.last_name.value) ? form.first_name.value + ' ' + form.last_name.value : form.email.value : ''"
        size="xl"
        [rounded]="true"
        [autoColor]="true"
        class="profile-header_logo"
        [class.tui-skeleton]="!userDetails"
        [class.tui-skeleton_rounded]="!userDetails"
        #avatarComponent
    ></tui-avatar>
</div>
<div class="tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive">
        <div class="tui-space_auto tui-col_xs-12 tui-col_md-8 tui-col_lg-6">
            <div class="tui-space_top-15">
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                    <h2 class="tui-form__header">Profile Details:</h2>
                    <div class="tui-form__row tui-form__row_multi-fields">
                        <div class="tui-form__multi-field">
                            <tui-input formControlName="first_name" aria-label="First Name">
                                First Name
                            </tui-input>
                            <tui-field-error formControlName="first_name"></tui-field-error>
                        </div>
                        <div class="tui-form__multi-field">
                            <tui-input formControlName="last_name" aria-label="Last Name">
                                Last Name
                            </tui-input>
                            <tui-field-error formControlName="last_name"></tui-field-error>
                        </div>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="email" aria-label="Email" [readOnly]="true">
                            Email
                        </tui-input>
                        <tui-field-error formControlName="email"></tui-field-error>
                    </div>
                    <div class="tui-form__buttons">
                        <button
                            tuiButton
                            size="m"
                            type="submit"
                            class="tui-form__button"
                            aria-label="Update"
                        >
                            Update
                        </button>
                        <a
                            tuiButton
                            size="m"
                            appearance="whiteblock-active"
                            routerLink="../change-password"
                            class="tui-form__button"
                            aria-label="Change Password"
                        >
                            Change Password
                        </a>
                    </div>
                </form>
                <tui-island class="tui-space_top-8">
                    <h3 class="tui-island__title">Consent</h3>
                    <div *ngIf="!userConsent">
                        <p class="tui-island__paragraph">
                            You have not consented to our Informed Consent Form,
                            if you wish to consent please click on the button below
                        </p>
                        <a
                            tuiButton
                            size="m"
                            appearance="flat"
                            class="tui-island__footer-button"
                            routerLink="../consent-form"
                        >
                            Consent
                        </a>
                    </div>
                    <div *ngIf="userConsent">
                        <p class="tui-island__paragraph">
                            You have consented to our Informed Consent Form, if you
                            wish to withdraw please click on the button below
                        </p>
                        <button
                            tuiButton
                            size="m"
                            appearance="flat"
                            class="tui-island__footer-button"
                            aria-label="Withdraw Your Consent"
                            (click)="confirmWithdrawConsentDialog(withdrawConsentDialog)"
                        >
                            Withdraw Your Consent
                        </button>
                    </div>
                </tui-island>
            </div>
        </div>
    </div>
</div>
<ng-template let-observer #withdrawConsentDialog>
    <p>Are you sure that you would like to withdraw your consent?</p>
    <div class="tui-form__buttons">
        <button
            tuiButton
            size="m"
            class="tui-form__button"
            (click)="observer.next(); observer.complete()"
        >
            Confirm Changes
        </button>
        <button
            tuiButton
            size="m"
            appearance="secondary"
            class="tui-form__button"
            (click)="observer.complete()"
        >
            Cancel
        </button>
    </div>
</ng-template>
