.profile {
    &-header {
        position: relative;

        &_background {
            width: 100%;
            height: 10rem;
        }

        &_logo {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -3rem;
            margin: 0 auto;
            border: var(--tui-base-01) 2px solid
        }
    }

    &_text-center {
        text-align: center;
    }
}
