<form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
    <div class="tui-form__row">
        <tui-input formControlName="email">Email</tui-input>
        <tui-field-error formControlName="email"></tui-field-error>
        <div class="tui-form__field-note">We'll never share your email with anyone else.</div>
    </div>
    <div class="tui-form__row">
        <tui-input formControlName="fullname">Full Name</tui-input>
        <tui-field-error formControlName="fullname"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-text-area formControlName="comment">Comment</tui-text-area>
        <tui-field-error formControlName="comment"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <re-captcha
            formControlName="recaptcha_key"
            siteKey="{{siteKey}}"
        >
        </re-captcha>
    </div>
    <div class="tui-form__buttons">
        <button tuiButton appearance="primary" size="m" class="tui-form__button" [disabled]="formData.invalid">Submit</button>
    </div>
</form>
