<h1 class="tui-text_h3 tui-space_vertical-10">
    {{ questionDetails ? 'Edit' : 'New' }}{{ isCheckbox ? ' Checkbox Question' : ' Multiple Choice Question' }}
</h1>
<form
    (ngSubmit)="isCheckbox ? checkCheckboxAnswersDialog(checkboxOneAnswerDialog) : onSubmit()"
    [formGroup]="formGroup"
>
    <app-default-create-edit-snippet
        [formGroup]="formGroup"
        [disableEvent]="!!eventId || !!courseId"
    ></app-default-create-edit-snippet>
    <div class="tui-form__row">
        <h2 class="tui-form__header">Question</h2>
        <app-editor formControlName="text"></app-editor>
    </div>
    <ng-container *ngIf="!isCheckbox else checkboxAnswers">
        <div class="tui-form__row">
            <h2 class="tui-form__header">Correct Answer</h2>
            <app-editor [formControl]="getAnswerFormControls()[0]"></app-editor>
        </div>
    </ng-container>
    <ng-template #checkboxAnswers>
        <div class="tui-form__row">
            <h2 class="tui-form__header">Correct Answers</h2>
            <div class="new-answers tui-space_bottom-4">
                <div *ngFor="let answerFormControl of getAnswerFormControls(); let index = index"
                     class="new-answers__answer">
                    <div class="new-answers__answer-input" formArrayName="answer">
                        <app-editor [formControl]="answerFormControl"></app-editor>
                    </div>
                    <button (click)="removeAnswer(index)" appearance="secondary" icon="tuiIconTrash"
                            size="m" tuiButton
                            type="button">
                        Remove
                    </button>
                </div>
            </div>
            <button (click)="addAnswer()" icon="tuiIconPlus" size="m" tuiButton type="button">
                Add Another
            </button>
        </div>
    </ng-template>
    <div class="tui-form__row">
        <h2 class="tui-form__header">Distractor Answers</h2>
        <div class="tui-form__field-note tui-space_bottom-2">Number of Visible Distractors (please
            ensure you have at least one distractor)
        </div>
        <div class="distractor-count tui-space_bottom-4">
            <tui-radio-labeled [item]="999" formControlName="visible_distractor_count" size="l">
                All
            </tui-radio-labeled>
            <tui-radio-labeled [item]="2" formControlName="visible_distractor_count" size="l">
                2
            </tui-radio-labeled>
            <tui-radio-labeled [item]="3" formControlName="visible_distractor_count" size="l">
                3
            </tui-radio-labeled>
        </div>
        <tui-field-error formControlName="visible_distractor_count"></tui-field-error>
        <div class="new-answers tui-space_bottom-4">
            <div *ngFor="let distractor of getDistractorFormControls(); let index = index"
                 class="new-answers__answer">
                <div class="new-answers__answer-input">
                    <app-editor [formControl]="distractor"></app-editor>
                </div>
                <button (click)="removeDistractor(index)" appearance="secondary" icon="tuiIconTrash"
                        size="m" tuiButton
                        type="button">
                    Remove
                </button>
            </div>
        </div>
        <button (click)="addDistractor()" icon="tuiIconPlus" size="m" tuiButton type="button">
            Add Another
        </button>
    </div>
    <div class="tui-form__row">
        <h2 class="tui-form__header">Variables</h2>
        <app-variation-types-selector [variationControl]="variationControl"></app-variation-types-selector>
        <p class="tui-form__field-note py-2">
            If you are not using variables,
            please don't add any variables
            and delete the existing ones.
        </p>
        <app-variables-editor formControlName="variables"></app-variables-editor>
    </div>
    <div class="tui-form__buttons">
        <button
            [disabled]="formGroup.invalid"
            class="tui-form__button"
            size="m"
            tuiButton
        >
            Submit
        </button>
    </div>
</form>
<ng-template #checkboxOneAnswerDialog let-observer>
    <p>
        This checkbox question only contains one answer! If you would still like to
        submit, the question will be converted to a regular multiple choice question.
    </p>
    <div class="tui-form__buttons">
        <button
            (click)="observer.next(); observer.complete()"
            class="tui-form__button"
            size="m"
            tuiButton
        >
            Submit
        </button>
        <button
            (click)="observer.complete()"
            appearance="secondary"
            class="tui-form__button"
            size="m"
            tuiButton
        >
            Cancel
        </button>
    </div>
</ng-template>
