<tui-island>
    <h2 class="tui-island__title">INFORMED CONSENT: COURSE ADMINISTRATION PARTICIPATION</h2>
    <h3>Introduction</h3>
    <p class="tui-island__paragraph">
        You are invited to participate in a study that concerns how people interact educational software and/or output of
        educational software. As a participant in this study, you will be asked to complete a questionnaire and interact
        with educational software as needed.
    </p>
    <p class="tui-island__paragraph tui-space_top-2">
        This statement contains information about the present study that is intended to help you decide whether you wish to
        participate in it. You may refuse to sign this form and not participate in this study. You should be aware that even
        after you signed, you are free to withdraw at any time. If you withdraw from this study, it will not affect your
        relationship with this unit, the people involved in the study, the services it may provide to you, or the University
        of British Columbia Okanagan. If you have any questions about this study before, during, or after your
        participation, please feel free to direct them to:
    </p>
    <p class="tui-island__paragraph tui-space_top-2">
        Dr. Bowen Hui <br>
        Tel: 250-807-9353, Email: bowen.hui@ubc.ca
    </p>
    <h3>Study Objectives</h3>
    <p class="tui-island__paragraph">
        The objective of this work is to develop educational software that helps students and course administrators to
        automatically generate and interpret feedback from assignment submissions in a course.
    </p>
    <h3>Procedure: Software Feedback Usefulness (Total Expected Time: 1 hour)</h3>
    <div>
        <ol class="tui-list tui-list_ordered">
            <li class="tui-list__item tui-island__paragraph">
                A student researcher will visit your class without your presence to explain the study and the consent form
                to the students.
            </li>
            <li class="tui-list__item tui-island__paragraph">
                As part of the course, your students will work on assignments and submit them as usual. Nothing will change
                from standard procedures.
            </li>
            <li class="tui-list__item tui-island__paragraph">
                You and the students can use the software as much or as little as you see fit. There are many educational
                activities available in the software that you can use throughout the semester.
            </li>
            <li class="tui-list__item tui-island__paragraph">
                At the end of the course, you will be asked to complete a short questionnaire that helps us identify what
                was useful for you and what changes you would like to see in the future.
            </li>
        </ol>
    </div>
    <h3>Risks</h3>
    <p class="tui-island__paragraph">
        There are no known risks to participants that as there is nothing more than what you would normally be doing for
        teaching purposes.
    </p>
    <h3>Benefits</h3>
    <p class="tui-island__paragraph">
        The participants may gain a better understanding of the students learning’s learning process, may develop an
        appreciation for learning analytics software, and may develop interest in the research and development process.
    </p>
    <h3>Privacy and Confidentiality</h3>
    <p class="tui-island__paragraph">
        Questionnaires and computer logs are anonymous. Names of participants will be stored separately from information
        collected. Your name will not be associated in any way with the information collected about you or your usage of the
        computer during the study. Furthermore, because the interest of this study is to identify average responses and
        behavior of the entire group of participants, you will not be identified in any way in any written reports of this
        research.
    </p>
    <p class="tui-island__paragraph tui-space_top-2">
        Since we are only interested in average responses and behaviors, reports about individual students will not be
        produced or released. You may choose to provide a bonus mark in the course as an incentive for students to
        participate in this study. If you choose to do so, we will provide you with a list of consented participants. If you
        choose not to do so, then student participation will have no impact on their course grade. Meanwhile, if any student
        decided not to participate in the study, they can be provided with an alternative question for the additional bonus
        mark. If you decided to not offer an alternative bonus question, all bonus marks for the participation will be
        cancelled.
    </p>
    <p class="tui-island__paragraph tui-space_top-2">
        Participants have a right to access their own results as long as their names and numeric tags are still available.
        The data obtained from both components of the study will be retained for at least 5 years after publication in
        secured, electronic form, which only researchers associated with this research will have access to. No audio or
        video tapes will be used. General results of the research study may be available through publications. A summary of
        the results will be made available to participants upon request.
    </p>
    <h3>Concerns About Participants' Rights</h3>
    <p class="tui-island__paragraph">
        If you have any concerns or complaints about your rights as a research participant and/or your experiences while
        participating in this study, contact the Research Participant Complaint Line in the UBC Office of Research Ethics
        toll free at 1-877-822-8598 or the UBC Okanagan Research Services Office at 250-807-8832. It is also possible to
        contact the Research Complaint Line by email (RSIL@ors.ubc.ca). When doing so, include the study number H19- 02053
        when contacting their staff so they can better assist you.
    </p>
    <h3>Participation Certification</h3>
    <p class="tui-island__paragraph">
        I have read this Consent and Authorization form. I have had the opportunity to ask, and I have received answers to,
        any questions I had regarding the study and the use and disclosure of information about me for the study. I agree to
        take part in this study as a research participant. By my signature I affirm that I am at least 18 years old and I
        have received a copy of this Consent form.
    </p>
</tui-island>
