// Reused elements
// #region
$border: 2px solid black;
$big-drop-shadow: 5px 5px 26px -6px rgba(0, 0, 0, 0.75);
$small-drop-shadow: 0 0 0 0.75rem - 0.55rem rgba(0, 0, 0, 0.75);
// #endregion


// Colors
// #region
$dark-gold: #ffbf00;
$med-gold: #F0A500;
$bronze: #cd7f32;
$dark-bronze: #bf6517;
// #endregion

// Utility Classes
// #region
// Class for centered text
.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.transparent-absolute {
    position: absolute;
    opacity: 0;
}

// #endregion

// Mixins
// #region
@mixin backface-visibility {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

// #endregion


// Podium styling
// #region
// Outer container of entire podium
.podium-container {
    margin: 5rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    place-items: center;
    line-height: 1.6;
}

// Outer container of each step
.podium-wrapper {
    padding: 10rem 0 0;
    max-width: 50ch;
    min-width: 30ch;
    border-radius: 0.25rem;
    overflow: hidden;
    color: white;

    transition: tranform 500ms ease;
}

.podium-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.1) 20%,
        hsl(0 0% 0% / 0.5));

    transform: translateY(65%);
    transition: transform 500ms ease;
}

.podium-wrapper:hover .podium-content,
.podium-wrapper:focus-within .podium-content {
    transform: translateY(0);
    transition-delay: 250ms;
}

.podium-wrapper:focus-within .podium-content {
    transition-duration: 0ms;
}

.podium-content > *:not(.podium-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.podium-wrapper:hover .podium-content > *:not(.podium-title),
.podium-wrapper:focus-within .podium-content > *:not(.podium-title) {
    opacity: 1;
    transition-delay: 750ms;
}

.podium-title {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.podium-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: white;

    transform: scaleX(0);

    transform-origin: left;
    transition: transform 500ms ease;


}

.podium-wrapper:hover .podium-title::after,
.podium-wrapper:focus-within .podium-title::after {
    transform: scaleX(1);
}


.first {
    background: $med-gold;
    grid-column: 2;
    grid-row: 1;

}

// Silver podium card

.second {
    background: silver;
    grid-column: 1;
    grid-row: 1;
}

// Third podium card
.third {
    background: $bronze;
    grid-column: 3;
    grid-row: 1;
}

// #endregion


// Main Table Styling
// #region
.leaderboard-header {
    font-weight: bold;
}

// Styling for each row in main leaderboard
.row {
    height: 4rem;
    margin: 0.5rem;
    border: $border;
    border-radius: 0.5rem;

    &:nth-child(2n) {
        background-color: lightgray;
    }

    &:nth-child(2n + 1) {
        background-color: rgb(231, 231, 231);
    }

}

//User score in table
.table-token-display {
    text-align: right;
    padding-right: 2rem;
}


// #endregion

// Streak icon styling
// #region

// Large icon size
.streakIcon {
    height: 150px;
    width: auto;
}

// small icon size
.smallStreakIcon {
    @include backface-visibility;
    height: 50px;
    width: auto;
}

// #endregion