@import "mixins";

.question {
    display: flex;

    @include screen-sm() {
        flex-direction: column;
    }

    &_content {
        flex: 1;
        min-width: 0;
    }

    &-header {
        display: flex;
        align-items: center;
    }

    &-skeleton {
        height: 30rem;
        width: 100%;
    }
}
