<!--Question Details-->
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Category</th>
        <th>Tokens Value</th>
        <th>Status</th>
        <th>Num Attempts</th>
        <th>Favorite Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ uqj?.question?.full_category_name || 'No Category'}}</td>
        <td>{{uqj?.question?.token_value || 'No Token Value'}}</td>
        <td>{{uqj?.status || 'No Status'}}</td>
        <td>{{uqj?.question?.max_submission_allowed || 'No Value'}}</td>
        <td>
            <ng-container *ngIf="favoriteStatus[uqj?.question.id]">
                <button type="button" mat-icon-button
                        [ngClass]="'red-icon'"
                        (click)="switchFavorite(uqj?.id, favoriteStatus[uqj.question.id], uqj?.question.id)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="!favoriteStatus[uqj?.question.id]">
                <button type="button" mat-icon-button
                        [ngClass]="'gray-icon'"
                        (click)="switchFavorite(uqj?.id, favoriteStatus[uqj.question.id], uqj?.question.id)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </ng-container>
            <ng-container>
                {{countFavorite[uqj?.question.id]}}
            </ng-container>
        </td>
    </tr>
    </tbody>
</table>

<!--Question Text-->
<div class="card my-1">
    <div class="card-header">
        <h1>{{uqj?.question?.title}}</h1>
    </div>
    <div class="card-body" [innerHTML]="safeRenderedText"></div>
</div>

<!--Question Submission Form-->
<ng-container *ngIf="uqj?.question?.type_name === 'multiple choice question'">
    <app-mcq-view-snippet [uqj]="uqj"></app-mcq-view-snippet>
</ng-container>
<ng-container *ngIf="uqj?.question?.type_name === 'java question'">
    <app-java-view-snippet [uqj]="uqj"></app-java-view-snippet>
</ng-container>
<ng-container *ngIf="uqj?.question?.type_name === 'parsons question'">
    <app-parsons-view-snippet [uqj]="uqj"></app-parsons-view-snippet>
</ng-container>

<!--Question Variables (Admin Only)-->
<ng-container *ngIf="user && uqj">
    <app-variable-view *ngIf="user.is_teacher" [variables]="uqj.variables"
                       [variableErrors]="uqj.variables_errors"></app-variable-view>
</ng-container>

<!--Previous Submissions-->
<ng-container *ngIf="previousSubmissions">
    <app-submission-snippet [previousSubmissions]="previousSubmissions"></app-submission-snippet>
</ng-container>
