<div class="flex flex-wrap gap-3">
    <div class="min-w-[8rem] type flex items-center">
        <ng-container *ngIf="event.type === 'ASSIGNMENT'">Assignment
        </ng-container>
        <ng-container *ngIf="event.type === 'EXAM'">Exam</ng-container>
    </div>
    <div class="flex items-center flex-grow">
        {{ event.name }}
    </div>
    <div class="min-w-[22rem]">
        <div>From: {{ event.start_date | date: 'EEEE, MMM d, y, h:mm a' }}</div>
        <div>Until: {{ event.end_date | date: 'EEEE, MMM d, y, h:mm a' }}</div>
    </div>
    <div
        class="flex items-center min-w-[2rem]"
    >
        <tui-marker-icon
            *ngIf="event.featured"
            src="tuiIconStarFilledLarge"
            mode="warning"
            size="xs"
        >
        </tui-marker-icon>
    </div>
    <div class="min-w-[8rem] flex items-center">
        <tui-tag
            *ngIf="event.is_open"
            size="m"
            status="success"
            value="Available"
        >
        </tui-tag>
        <tui-tag
            *ngIf="event.is_not_available_yet"
            size="m"
            status="error"
            value="Coming Soon"
        ></tui-tag>
        <tui-tag
            *ngIf="event.is_closed"
            size="m"
            status="default"
            value="Closed"
        >
        </tui-tag>
    </div>
    <div class="min-w-[6rem] flex items-center">
        <ng-container
            *ngIf="event.is_not_available_yet || event.is_exam; else totalEventGrade">
            Grade: TBA
        </ng-container>
        <ng-template #totalEventGrade>
            Grade: {{ event.total_event_grade | number: '1.0-1' || 'TBA'}}%
        </ng-template>
    </div>
    <div class="flex items-center">
        <button *ngIf="user.is_student"
                [routerLink]="['/course', event.course, 'assignments-exams', event.id]"
                appearance="primary"
                [disabled]="!event.is_allowed_to_open && !user?.is_teacher"
                class="tui-space_right-2 tui-space_vertical-2"
                size="s"
                tuiButton
        >
            View
        </button>
        <button *ngIf="user.is_teacher"
                [routerLink]="['/course', event.course, 'assignments-exams', event.id]"
                [disabled]="!event.is_allowed_to_open && !user?.is_teacher"
                [tuiHint]="viewTooltip"
                class="tui-space_right-2 tui-space_vertical-2"
                icon="tuiIconEyeOpen"
                size="s"
                tuiDescribedBy="view"
                tuiHintDirection="top-left"
                tuiHintId="edit"
                tuiHintMode="onDark"
                tuiIconButton
        ></button>
        <ng-template #viewTooltip>
            View
        </ng-template>
        <button *ngIf="event.has_edit_permission"
                (click)="openEditDialog(editEvent, event.is_closed)"
                [tuiHint]="editTooltip"
                class="tui-space_right-2 tui-space_vertical-2"
                icon="tuiIconEdit"
                size="s"
                tuiDescribedBy="edit"
                tuiHintDirection="top-left"
                tuiHintId="edit"
                tuiHintMode="onDark"
                tuiIconButton
        ></button>
        <ng-template #editTooltip>
            Edit
        </ng-template>
        <ng-template #editEvent let-observer>
            <p>This assessment has finished. Are you sure that you would like to edit this assessment?</p>
            <div class="tui-form__buttons">
                <button
                    (click)="observer.complete()"
                    [routerLink]="['/course', event.course, 'assignments-exams', event.id, 'edit']"
                    class="tui-form__button"
                    size="m"
                    tuiButton
                >
                    Edit Assessment
                </button>
                <button
                    (click)="observer.complete()"
                    appearance="secondary"
                    class="tui-form__button"
                    size="m"
                    tuiButton
                >
                    Cancel
                </button>
            </div>
        </ng-template>
        <button *ngIf="event.has_edit_permission"
                (click)="openDeleteEventDialog(deleteDialog)"
                [tuiHint]="deleteTooltip"
                class="mr-2"
                icon="tuiIconTrash"
                size="s"
                tuiDescribedBy="delete-{{event.name}}"
                tuiHintDirection="top-left"
                tuiHintId="delete-{{event.name}}"
                tuiHintMode="onDark"
                tuiIconButton
        ></button>
        <ng-template #deleteTooltip>
            Delete
        </ng-template>
        <button *ngIf="event.has_edit_permission"
                [routerLink]="['/course', event.course, 'assignments-exams', event.id, 'stats']"
                [tuiHint]="statsTooltip"
                class="tui-space_right-2 tui-space_vertical-2"
                icon="tuiIconChartLineLarge"
                size="s"
                tuiDescribedBy="stats"
                tuiHintDirection="top-left"
                tuiHintId="stats"
                tuiHintMode="onDark"
                tuiIconButton
        ></button>
        <ng-template #statsTooltip>
            Stats
        </ng-template>
        <button *ngIf="event.has_edit_permission"
                (click)="setFeatured()"
                [disabled]="event.featured"
                [tuiHint]="featuredTooltip"
                class="tui-space_vertical-2"
                icon="tuiIconStar"
                size="s"
                tuiDescribedBy="set featured"
                tuiHintDirection="top-left"
                tuiHintId="set featured"
                tuiHintMode="onDark"
                tuiIconButton
                type="button"
        ></button>
        <ng-template #featuredTooltip>
            Set featured
        </ng-template>
    </div>
</div>

<ng-template #deleteDialog let-observer>
    <p>Are you sure that you would like to delete this assessment?</p>
    <div class="tui-form__buttons">
        <button
            (click)="observer.next(); observer.complete()"
            class="tui-form__button"
            size="m"
            tuiButton
        >
            Confirm Delete
        </button>
        <button
            (click)="observer.complete()"
            appearance="secondary"
            class="tui-form__button"
            size="m"
            tuiButton
        >
            Cancel
        </button>
    </div>
</ng-template>
