<div class="flex justify-between">
  <form [formGroup]="form" class="mb-1 text-sm">
    <label class="mr-2">
      <input
        size="m"
        tuiCheckbox
        type="checkbox"
        [formControlName]="'names'"
        (change)="submit()"
        />
      Show Names
    </label>
    <label>
      <input
        size="m"
        tuiCheckbox
        type="checkbox"
        [formControlName]="'grades'"
        (change)="submit()"
        />
      Show Grades
    </label>
  </form>
  <form [formGroup]="formGroup" class="flex">
    <tui-select
      tuiTextfieldSize="s"
      formControlName="status"
      class="w-32"
      >
      Status
      <tui-data-list *tuiDataList>
        @for (status of ['All', 'Correct', 'Partially Correct', 'Incorrect']; track status) {
          <button
            [value]="status" tuiOption
            (click)="filter(status)"
            >
            {{status}}
          </button>
        }
      </tui-data-list>
    </tui-select>
  </form>
</div>
@if (filteredSubmissions.length !== 0) {
  <div>
    <span class="mb-1 text-sm"><b>Status:</b> {{filteredSubmissions[index].status}}</span>
    @if (showName) {
      <span
        class="mb-1 ml-2 text-sm"><b>Name:</b> {{filteredSubmissions[index].name}}</span>
      }
      @if (showGrade) {
        <span
          class="mb-1 ml-2 text-sm"><b>Grade:</b> {{filteredSubmissions[index].grade}}</span>
        }
      </div>
      <div class="flex mt-2">
        <tui-island class="w-2/3">
          <p class="tui-island__paragraph">Code: </p>
          @for (item of answerFiles; track item) {
            <div class="tui-island__paragraph">
              <app-code-editor [codeTemplate]="item.code"
              [readOnly]="true"></app-code-editor>
            </div>
          }
        </tui-island>
        @if (filteredSubmissions[index].passed_results?.length ||
          filteredSubmissions[index].failed_results?.length) {
          <tui-island
            class="w-1/3">
            <h3 class="tui-island__paragraph"><b>Unit Testing Results:</b></h3>
            @if (filteredSubmissions[index].passed_results?.length) {
              <div>
                <h4 class="tui-island__paragraph tui-space_top-2">Passed:</h4>
                <ul class="tui-list">
                  @for (result of filteredSubmissions[index].passed_results; track result) {
                    <li
                      class="tui-list__item"
                      >
                      {{result.name}}
                    </li>
                  }
                </ul>
              </div>
            }
            @if (filteredSubmissions[index].failed_results?.length) {
              <div>
                <h4 class="tui-island__paragraph tui-space_top-2">Failed:</h4>
                <ul class="tui-list">
                  @for (result of filteredSubmissions[index].failed_results; track result) {
                    <li
                      class="tui-list__item"
                      >
                      {{result.message}}
                    </li>
                  }
                </ul>
              </div>
            }
          </tui-island>
        }
        @if (filteredSubmissions[index].decoded_stderr !== '') {
          <tui-island class="w-1/3">
            <p class="tui-island__paragraph">The following error occurred: </p>
            <div class="tui-island__paragraph">
              <app-code-editor
                [codeTemplate]="filteredSubmissions[index].decoded_stderr"
                [readOnly]="true"
                >
              </app-code-editor>
            </div>
          </tui-island>
        }
      </div>
    } @else {
      <div class="flex justify-center items-center w-full h-32">
        <tui-avatar
          class="tui-space_right-4"
          size="m"
          src="@tui.circle-alert"
        ></tui-avatar>
        <h2 class="tui-text_body-xl">
          Looks like there are no submissions to show
        </h2>
      </div>
    }
    <tui-pagination
      [index]="index"
      [length]="filteredSubmissions.length"
      (indexChange)="goToPage($event)"
      class="mt-2"
      >
    </tui-pagination>
