<section class="tui-container tui-container_adaptive">
  @if (!courseNotFound) {
    <h1
      [class.tui-skeleton]="showSkeletons"
      [class.tui-skeleton_text]="showSkeletons"
      class="tui-text_h3 tui-space_vertical-10"
      >
      Registration for {{courseName}}
    </h1>
    @if (showSkeletons) {
      <div
      class="course-registration_skeleton-notification tui-skeleton tui-space_bottom-7"></div>
    }
    @if (showSkeletons) {
      <div class="course-registration_skeleton tui-skeleton"></div>
    }
    @if (registered && !showSkeletons) {
      <div tuiNotification size="m" appearance="positive">
        You are already registered in this course
      </div>
      <div class="tui-form__buttons">
        <a [routerLink]="['/course', courseId]" class="tui-form__button" size="m" tuiButton type="button">
          Open Course
        </a>
      </div>
    }
    @if (blocked && !showSkeletons) {
      <div tuiNotification size="m" appearance="negative">
        Registration has been blocked for you. Please contact your instructor.
      </div>
    }
    @if (!registered && !blocked && !showSkeletons) {
      <div tuiNotification size="m" class="tui-space_bottom-7" appearance="info">
        If you don't have a verification code please contact your instructor to get one.
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="tui-space_top-5">
          <!-- TODO: (Taiga UI migration) tui-input migration (see https://taiga-ui.dev/components/input):
     - "aria" is an unrecognized attribute and was placed on <tui-textfield>. Move it to <input tuiInput> if it targets the native element.
-->
          <tui-textfield [tuiTextfieldCleaner]="true" aria-label="Verification Code">
          <label tuiLabel>Enter verification code</label>
          <input tuiInput formControlName="code" />
<span class="tui-required"></span>          </tui-textfield>
          <tui-error  formControlName="code"></tui-error>
        </div>
        <div class="tui-form__buttons">
          <button [loading]="loadingContent" aria-label="Register" class="tui-form__button" size="m"
            tuiButton
            type="submit">
            Register
          </button>
        </div>
      </form>
    }
  }
  @if (courseNotFound) {
    <div class="course-registration_none">
      <span tuiAvatar="@tui.circle-alert"
        class="tui-space_bottom-4 tui-space_top-15"
        appearance="negative"
        size="m"
       
      ></span>
      <h1 class="tui-text_h6 tui-island_text-align_center">
        Unable to find the course for registration.
      </h1>
      <p class="tui-island__paragraph">
        Please try again later, or contact your course administrator.
      </p>
    </div>
  }
</section>
