.course-registration {
    &_skeleton {
        height: 11rem;
        width: 100%;

        &-notification {
            height: 3rem;
            width: 100%;
        }
    }

    &_none {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
