<section class="tui-container tui-container_adaptive">
    <h1 class="tui-text_h3 tui-space_vertical-10">Register Course</h1>
    <ng-container *ngIf="registered">
        <tui-notification status="success">
            You are already registered in this course
        </tui-notification>
        <div class="tui-form__buttons">
            <a tuiButton class="tui-form__button" type="button" [routerLink]="['/course', courseId]" size="m">
                Open Course
            </a>
        </div>
    </ng-container>
    <ng-container *ngIf="!registered">
        <tui-notification class="tui-space_bottom-7" status="info">
            Note: You can only register in courses that you are also registered in on Canvas!
        </tui-notification>
        <app-course-registration-stepper [steps]="['Enter Name', 'Confirm Identity', 'Verification', 'Registered']"
                                         #stepper>
            <app-course-registration-step>
                <form [formGroup]="nameForm" (ngSubmit)="onNameFormSubmit()">
                    <div class="tui-space_top-5">
                        <tui-input formControlName="nameControl"
                                   aria-label="Full Name on Canvas"
                                   [tuiTextfieldCleaner]="true">
                            Enter your full name as it appears on Canvas&nbsp;<span class="tui-required"></span>
                        </tui-input>
                        <tui-field-error formControlName="nameControl"></tui-field-error>
                    </div>
                    <div class="tui-form__buttons">
                        <button tuiButton class="tui-form__button" appearance="secondary" type="button" size="m"
                                aria-label="Previous"
                                [disabled]="true">
                            Prev
                        </button>
                        <button tuiButton class="tui-form__button" type="submit" size="m" aria-label="Next"
                                [showLoader]="loadingContent">
                            Next
                        </button>
                    </div>
                </form>
            </app-course-registration-step>
            <app-course-registration-step>
                <form [formGroup]="needsStudentNumber ? studentNumberForm : confirmNameForm"
                      (ngSubmit)="onConfirmationFormSubmit()">
                    <ng-container *ngIf="needsStudentNumber">
                        <div class="tui-space_top-5">
                            <tui-input formControlName="studentNumberControl"
                                       aria-label="Student Number"
                                       [tuiTextfieldCleaner]="true">
                                Student Number&nbsp;<span class="tui-required"></span>
                            </tui-input>
                            <tui-field-error formControlName="studentNumberControl"></tui-field-error>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!needsStudentNumber">
                        <div class="tui-space_top-5">
                            <tui-input formControlName="confirmNameControl"
                                       aria-label="Confirm Name"
                                       [tuiTextfieldCleaner]="true"
                                       [readOnly]="true">
                                Please confirm that this is your name.&nbsp;<span class="tui-required"></span>
                            </tui-input>
                            <tui-field-error formControlName="confirmNameControl"></tui-field-error>
                        </div>
                    </ng-container>
                    <div class="tui-form__buttons">
                        <button tuiButton class="tui-form__button" appearance="secondary" type="button" size="m"
                                aria-label="Previous"
                                (click)="stepper.setPrevStep()">Prev
                        </button>
                        <button tuiButton class="tui-form__button" type="submit" size="m" aria-label="Next"
                                [showLoader]="loadingContent">
                            Next
                        </button>
                    </div>
                </form>
            </app-course-registration-step>
            <app-course-registration-step>
                <form [formGroup]="verifyForm" (ngSubmit)="onVerificationFormSubmit()">
                    <div class="tui-space_top-5">
                        <tui-input formControlName="verifyControl"
                                   aria-label="Verification Code"
                                   [tuiTextfieldCleaner]="true" [textMask]="verificationNumberMask">
                            Verification Code&nbsp;<span class="tui-required"></span>
                        </tui-input>
                        <tui-field-error formControlName="verifyControl"></tui-field-error>
                    </div>
                    <div class="tui-space_top-3">
                        <tui-notification *ngIf="attemptsRemaining" status="error">
                            <span *ngIf="attemptsRemaining >= 1">
                                Attempts Remaining: {{ attemptsRemaining }}
                            </span>
                            <span *ngIf="attemptsRemaining < 1">
                                You don't have any attempts remaining! Contact your instructor.
                            </span>
                        </tui-notification>
                    </div>
                    <div class="tui-form__buttons">
                        <button tuiButton class="tui-form__button" appearance="secondary" type="button" size="m"
                                aria-label="Previous"
                                [disabled]="true">
                            Prev
                        </button>
                        <button tuiButton class="tui-form__button" type="submit" size="m" aria-label="Next"
                                [showLoader]="loadingContent">
                            Next
                        </button>
                    </div>
                </form>
            </app-course-registration-step>
            <app-course-registration-step>
                <p class="tui-space_top-5">Registration Complete.</p>
                <div class="tui-form__buttons">
                    <button tuiButton class="tui-form__button" appearance="secondary" type="button" size="m"
                            aria-label="Previous"
                            [disabled]="true">
                        Prev
                    </button>
                    <a tuiButton class="tui-form__button" type="button" [routerLink]="['/course', courseId]"
                       size="m">
                        Open Course
                    </a>
                </div>
            </app-course-registration-step>
        </app-course-registration-stepper>
    </ng-container>
</section>
