.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__island {
        width: 100%;

        &-json {
            height: 100%;
        }
    }
}

.lines-control {
    display: flex;
    align-items: center;

    &__input {
        flex-grow: 1;
    }
}

.code-block-dropdown {
    min-width: 15rem;
    max-width: 25rem;
    padding: var(--tui-padding-m);

    &_button {
        width: 100%;
    }
}
