@import '~@taiga-ui/core/styles/taiga-ui-local';

.view-switcher__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parsons__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-title {
        padding-bottom: 1rem;
        @include inset-border(bottom, medium);
    }
}
