<div class="card my-1">
    <div class="card-header">
        <h1>My Answer</h1>
    </div>
    <div class="container">
        <form (ngSubmit)="onSubmit()">
            <div class="card-body">
                <ng-container *ngFor="let file of files">
                    <app-parsons-lines [file]="file" (code)="file.solution = $event"></app-parsons-lines>
                </ng-container>
            </div>
            <ng-container *ngIf="uqj.question.is_practice">
                <button class="btn btn-outline-primary" type="button">Previous</button>
                <button class="btn btn-primary" type="button" (click)="skipQuestion(true)">Skip</button>
            </ng-container>
            <button type="submit" class="btn btn-success my-3">Submit</button>
        </form>
    </div>
</div>
