<section class="tui-container tui-container_fullwidth">
    <div class="flex-container">

        <tui-island class="course-tile tui-island_hoverable"
                    [routerLink]="['/course', courseId, 'practice']" size="m">
            <div class="course-background practice"></div>
            <div class="course-tile-text">
                <h3 class="tui-island__title">Question Bank</h3>
                <p class="tui-island__paragraph tui-text_body-xl flex-space">
                    Improve your skills by solving practice
                    questions.</p>
                <div class="course-view-button tui-space_top-3">
                    <a
                        appearance="primary"
                        [routerLink]="['/course', courseId, 'practice']"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>

        <tui-island class="course-tile tui-island_hoverable"
                    [routerLink]="['/course', courseId, 'assignments-exams']"
                    size="m">
            <div class="course-background assessment"></div>
            <div class="course-tile-text">
                <h3 class="tui-island__title ">Assignments and Exams</h3>
                <p class="tui-island__paragraph tui-text_body-xl flex-space">
                    Work on assignments and exams for this course.</p>
                <div class="course-view-button tui-space_top-3">
                    <a
                        appearance="primary"
                        [routerLink]="['/course', courseId, 'assignments-exams']"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>

        <tui-island class="course-tile tui-island_hoverable"
                    [routerLink]="['/course', courseId, 'challenge']" size="m">
            <div class="course-background challenge "></div>
            <div class="course-tile-text">
                <h3 class="tui-island__title">Challenges</h3>
                <p class="tui-island__paragraph tui-text_body-xl flex-space">
                    Complete challenges on your own or in a team.
                </p>
                <div class="course-view-button tui-space_top-3">
                    <a
                        appearance="primary"
                        [routerLink]="['/course', courseId, 'challenge']"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>

        <tui-island class="course-tile tui-island_hoverable"
                    [routerLink]="['/course', courseId, 'leaderboard']"
                    size="m">
            <div class="course-background leaderboard"></div>
            <div class="course-tile-text">
                <h3 class="tui-island__title">Leaderboard</h3>
                <p class="tui-island__paragraph tui-text_body-xl flex-space">
                    View your performance on the leaderboard for this
                    website.</p>
                <div class="course-view-button tui-space_top-3">
                    <a
                        appearance="primary"
                        [routerLink]="['/course', courseId, 'leaderboard']"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>
        <tui-island
            size="m"
            class="course-tile cursor-"
            tuiPointerHint="Coming Soon..."
            tuiHintDirection="top-middle"
        >
            <div class="course-background tokens"></div>
            <div class="course-tile-text">
                <h3 class="tui-island__title">Tokens</h3>
                <p class="tui-island__paragraph tui-text_body-xl flex-space tui-space_right-5">
                    See how many tokens you earned.</p>
                <div class="course-view-button tui-space_top-3">

                    <a
                        appearance="primary"
                        [routerLink]="['/course', courseId, 'token']"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                        disabled="true"
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>
    </div>
</section>
