<h2
    [class.tui-skeleton]="!course"
    class="tui_text_h2"
>
    {{course?.description}}
</h2>

<div class="flex-container">
    <tui-island class="tui-island_hoverable course-tile" size="m">
        <div class="course-background practice"></div>
        <h3 class="tui-island__title">Question Bank</h3>
        <p class="tui-island__paragraph tui-text_body-xl flex-space"> Improve your skills by solving practice
            questions.</p>
        <div class="course-view-button tui-space_top-3">
            <a
                appearance="primary"
                [routerLink]="['practice']"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                View
            </a>
        </div>
    </tui-island>

    <tui-island class="tui-island_hoverable course-tile" size="m">
        <div class="course-background assessment"></div>
        <h3 class="tui-island__title ">Assignments and Exams</h3>
        <p class="tui-island__paragraph tui-text_body-xl flex-space">Work on assignments and exams for this course.</p>
        <div class="course-view-button tui-space_top-3">
            <a
                appearance="primary"
                [routerLink]="['event']"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                View
            </a>
        </div>
    </tui-island>

    <tui-island class="tui-island_hoverable course-tile" size="m">
        <div class="course-background challenge "></div>
        <h3 class="tui-island__title">Challenges</h3>
        <p class="tui-island__paragraph tui-text_body-xl flex-space">Complete challenges on your own or in a team.</p>
        <div class="course-view-button tui-space_top-3">
            <a
                appearance="primary"
                [routerLink]="['challenges']"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                View
            </a>
        </div>
    </tui-island>

    <tui-island class="tui-island_hoverable course-tile" size="m">
        <div class="course-background leaderboard"></div>
        <h3 class="tui-island__title">Leaderboard
            and Statistics</h3>
        <p class="tui-island__paragraph tui-text_body-xl flex-space">View detailed performance statistics.</p>
        <div class="course-view-button tui-space_top-3">
            <a
                appearance="primary"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                View
            </a>
        </div>
    </tui-island>

    <tui-island class="tui-island_hoverable course-tile" size="m">
        <div class="course-background tokens"></div>
        <h3 class="tui-island__title">Tokens</h3>
        <p class="tui-island__paragraph tui-text_body-xl flex-space">See how many tokens you earned.</p>
        <div class="course-view-button tui-space_top-3">
            <a
                appearance="primary"
                [routerLink]="['token']"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                View
            </a>
        </div>
    </tui-island>
</div>
