<section class="tui-container tui-container_fullwidth">
    <div class="pb-4">
        <label class="tui-text_body-l">
            List View
            <tui-toggle
                [(ngModel)]="enableListView"
                size="m"
            ></tui-toggle>
        </label>
    </div>
    <div
        *ngIf="enableListView; then listView; else mapView"
    ></div>
    <ng-template #listView>
        <app-concept-list [currCourse]="course"></app-concept-list>
    </ng-template>
    <ng-template #mapView>
        <app-concept-map [currCourse]="course"></app-concept-map>
    </ng-template>
</section>
