<span class="tui-text_h4">Average Course Grade:     </span>
<label *ngIf="value" tuiProgressLabel>
    <span class="percent">{{avgGrade}}%</span>

    <tui-progress-circle
        size="xl"
        [max]="max"
        [value]="avgGrade"
    ></tui-progress-circle>
</label>

<tui-tabs-with-more class="tui-space_bottom-4" #tabsComponent>
    <button *tuiTab tuiTab>Course Grade</button>
    <button *tuiTab tuiTab>Weekly Online Activity</button>
    <button *tuiTab tuiTab>Students</button>
    <button *tuiTab tuiTab>Questions</button>
</tui-tabs-with-more>
<ng-container *ngIf="tabsComponent.activeItemIndex === 0">
    <div class="tui-container tui-container_adaptive tui-container_example" style="margin-left: 0">
        <div class="tui-row tui-row_adaptive">
            <div class="tui-col_xs-12 tui-col_md-5 tui-col_lg-5">
                 <p class="tui-text_h5">Grade Distribution</p><br>
                <tui-axes class="axes" [axisXLabels]="gradeX" [axisYLabels]="gradeY">
                    <tui-bar-chart [max]="20" [value]="gradeDistr"></tui-bar-chart>
                </tui-axes>
            </div>
            <div class="tui-col_xs-12 tui-col_md-2 tui-col_lg-2"></div>
            <div class="tui-col_xs12 tui-col_md-5 tui-col_lg-5">
                <p class="tui-text_h5">Grade By Events</p><br>
                <tui-axes class="axes" [axisXLabels]="labelsX" [axisYLabels]="labelsY">
                    <tui-bar-chart [max]="100" [value]="grade"></tui-bar-chart>
                </tui-axes>
            </div>
        </div>
    </div>



</ng-container>
<ng-container *ngIf="tabsComponent.activeItemIndex === 1">
    <p class="tui-text_h5">Average Page Views</p><br>
    <tui-axes class="axes" [verticalLines]="8" [horizontalLines]="4" [axisXLabels]="lineX" [axisYLabels]="lineY">
        <tui-line-chart
            [x]="0"
            [y]="0"
            [width]="8"
            [height]="200"
            [smoothingFactor]="50"
            [value]="value"
            [filled]="true"
            [xStringify]="stringify"
            [yStringify]="stringify"
        ></tui-line-chart>
    </tui-axes>
</ng-container>
<ng-container *ngIf="tabsComponent.activeItemIndex === 2">
    <tui-input icon="tuiIconSearchLarge" [(ngModel)]="search">Search People</tui-input>
    <br><br>
    <div class="tui-container tui-container_adaptive tui-container_example" style="margin-left: 0; width: 100%">
        <div class="tui-row tui-row_adaptive">
            <div class="tui-col_xs-12 tui-col_md-7 tui-col_lg-7">
                <p class="tui-text_h6">37 Students</p><br>
                <table tuiTable class="table" [columns]="columns">
                    <thead>
                    <tr tuiThGroup>
                        <th tuiTh [resizable]="true">Name</th>
                        <th tuiTh>Page View</th>
                        <th tuiTh>Last Time Active</th>
                        <th tuiTh>Submission</th>
                        <th tuiTh>Missing Submission</th>
                        <th tuiTh>Current Score</th>
                        <th tuiTh>Concepts Struggling With</th>
                    </tr>
                    </thead>
                    <tbody tuiTbody [data]="students">
                    <tr *tuiRow="let item of students" tuiTr>
                        <td *tuiCell="'name'" tuiTd>
                            <a href="">{{item.name}}</a>
                        </td>
                        <td *tuiCell="'pageView'" tuiTd>
                            {{item.pageView}}
                        </td>
                        <td *tuiCell="'lastActive'" tuiTd>
                            {{item.lastActive}}
                        </td>
                        <td *tuiCell="'submission'" tuiTd>
                            {{item.submission}}
                        </td>
                        <td *tuiCell="'missing'" tuiTd>
                            {{item.missing}}
                        </td>
                        <td *tuiCell="'score'" tuiTd>
                            {{item.score}}
                        </td>
                        <td *tuiCell="'categoryStruggling'" tuiTd>
                            {{item.categoryStruggling}}
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tui-col_xs-12 tui-col_md-5 tui-col_lg-5">
                <div class="card">
                  <div class="container">
                    <tui-notification status="warning" class="tui-space_top-4">
                        Potential At-Risk Students
                    </tui-notification><br>
                    <table tuiTable class="table" [columns]="atRiskCol">
                        <thead>
                        <tr tuiThGroup>
                            <th tuiTh [resizable]="true">Name</th>
                            <th tuiTh>Risk Type</th>
                            <th tuiTh>Page View</th>
                            <th tuiTh>Last Time Active</th>
                            <th tuiTh>Submission</th>
                            <th tuiTh>Missing Submission</th>
                            <th tuiTh>Current Score</th>
                            <th tuiTh>Concepts Struggling With</th>
                        </tr>
                        </thead>
                        <tbody tuiTbody [data]="atRiskStudents">
                        <tr *tuiRow="let item of atRiskStudents" tuiTr>
                            <td *tuiCell="'name'" tuiTd>
                                <a href="">{{item.name}}</a>
                            </td>
                            <td *tuiCell="'riskType'" tuiTd>
                                <div *ngIf="item.riskType === 'Dropout'">
                                    <tui-badge
                                        status="error"
                                        value="Dropout"
                                        class="tui-space_right-2"
                                    ></tui-badge>
                                </div>
                                <div *ngIf="item.riskType === 'Struggling'">
                                    <tui-badge
                                        status="warning"
                                        value="Struggling"
                                        class="tui-space_right-2"
                                    ></tui-badge>
                                </div>
                            </td>

                            <td *tuiCell="'pageView'" tuiTd>
                                {{item.pageView}}
                                <p style="color: #dd4c1e">↓ -35</p>
                            </td>
                            <td *tuiCell="'lastActive'" tuiTd>
                                {{item.lastActive}}
                            </td>
                            <td *tuiCell="'submission'" tuiTd>
                                {{item.submission}}
                                <p style="color: #3aa981">↑ +1</p>
                            </td>
                            <td *tuiCell="'missing'" tuiTd>
                                {{item.missing}}
                                <p style="color: #dd4c1e">↑ +7</p>
                            </td>
                            <td *tuiCell="'score'" tuiTd>
                                {{item.score}}
                            </td>
                            <td *tuiCell="'categoryStruggling'" tuiTd>
                                {{item.categoryStruggling}}
                            </td>

                        </tr>
                        </tbody>
                    </table>

                  </div>
                </div>

            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="tabsComponent.activeItemIndex === 3">
    <p class="tui-text_h5" style="display: inline-block; margin-right: 2em">View by:</p>
    <tui-combo-box
        class="b-form"
        [(ngModel)]="val"
    >
        All Questions
        <tui-data-list-wrapper
            *tuiDataList
            [items]="viewby | tuiFilterByInput"
        ></tui-data-list-wrapper>
    </tui-combo-box>
    <br><br>
    <table tuiTable class="table" [columns]="col">
        <thead>
        <tr tuiThGroup>
            <th tuiTh [resizable]="true">Title</th>
            <th tuiTh>Category</th>
            <th tuiTh>Action</th>
        </tr>
        </thead>
        <tbody tuiTbody [data]="questions">
        <tr *tuiRow="let item of questions" tuiTr>
            <td *tuiCell="'title'" tuiTd>
                <p class="tui-text_body-m">{{item.title}}</p>
            </td>
            <td *tuiCell="'category'" tuiTd>
                <p class="tui-text_body-m">{{item.category}}</p>
            </td>
            <td *tuiCell="'action'" tuiTd>
                <a tuiButton size="m" appearance="primary" class="tui-form__button"
                >
                    Open
                </a>
                <a tuiButton size="m" appearance="primary" class="tui-form__button"
                >
                    Edit
                </a>
                <a tuiButton size="m" appearance="primary" class="tui-form__button"
                >
                    Metrics
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</ng-container>
