.footer {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding-top: 1.25rem;
    //padding-bottom: 1.25rem;
    border-top: solid 1px var(--tui-base-03);

    &-links {
        list-style-type: none;
        display: flex;
        gap: 0.75rem;

        * {
            color: var(--tui-text-02);
        }
    }
}
