<footer class="tui-container tui-container_fullwidth footer">
    <p class="tui-island__paragraph tui-space_vertical-0">2022 &copy; Canvas Gamification</p>
    <ul class="footer-links">
        <li>
            <a tuiLink routerLink="/faq">
                FAQ
            </a>
        </li>
        <li>
            /
        </li>
        <li>
            <a tuiLink href="https://github.com/canvas-gamification" target="_blank">
                Github
            </a>
        </li>
    </ul>
</footer>
