<button type="button" class="btn btn-outline-primary">Register New Student</button>
<table class="table table-bordered table-light mt-5 hover-shadow">
    <caption>List of Students currently enrolled</caption>
    <thead class="thead-light">
    <tr>
        <th scope="col">Email</th>
        <th scope="col">First name</th>
        <th scope="col">Last name:</th>
        <th scope="col">Role</th>
        <th scope="col">Block status</th>
        <th scope="col">Verify status</th>
    </tr>
    </thead>
    <tbody *ngFor="let user of userList; let i = index">
    <tr>
        <td>{{ user.email || 'No ID' }}</td>
        <td>{{ user.first_name || '' }}</td>
        <td>{{ user.last_name || 'N' }}</td>
        <td>{{ user.role || ''}}</td>
        <td>{{ registrationList[i].is_blocked }}
            <button type="button" class="btn btn-outline-dark" (click)="updateBlockStatus(registrationList[i])">Toggle status</button>
        </td>
        <td>{{ registrationList[i].is_verified }}</td>
    </tr>
    </tbody>
</table>
