// Css for button
.red-button{
    background : #ff3333;
}
.green-button{
    background : #32a86d;
}

// Css for search box
.search-name{
    flex : auto;
}

.search{
    display : flex;
    width : 130%;
}
