<ul class="nav nav-tabs mt-5" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="student-list-tab" data-toggle="tab" href="#student-list" role="tab"
           aria-controls="student-list"
           aria-selected="false">Student List</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="student-list" role="tabpanel" aria-labelledby="student-list-tab">
        <div class="hover-shadow p-3">
        <div [ngStyle]="{'display' : 'flex', 'width' : '130%'}" >
            <form [formGroup]="formGroup" (ngSubmit)="applyFilter()" [ngStyle]="{'flex' : 'auto'}">
                <div class="form-row">
                    <div class="form-group col-3">
                        <label for="name">Search first or last name:</label>
                        <input type="text" class="form-control" name="name" formControlName="name" id="name"
                               placeholder="Search a name..">
                    </div>
                    <div class="form-group col-1 mt-auto">
                        <button type="submit" class="btn btn-primary float-right">Go</button>
                    </div>
                </div>
            </form>
            <form [formGroup]="formGroup" (ngSubmit)="registerUser(formGroup.value.username)" [ngClass]="'search-name'">
                <div class="form-row">
                    <div class="form-group col-3">
                        <label for="username">Search username for registration:</label>
                        <input type="text" class="form-control" name="username" formControlName="username" id="username"
                               placeholder="Search a username">
                    </div>
                    <div class="form-group col-1 mt-auto">
                        <button type="submit" class="btn btn-primary float-right">Go</button>
                    </div>
                </div>
            </form>
        </div>

            <table class="table table-bordered table-light mt-5 hover-shadow">
                <caption>List of Students currently enrolled</caption>
                <thead class="thead-light">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>

                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody *ngFor="let registration of registrationList">
                <ng-container>
                    <tr>
                        <td>{{ registration.username || 'No username found' }}</td>
                        <td>{{ registration.name || 'No name found' }}</td>
                        <td> {{registration.status}}</td>
                        <td>
                            <button type="button" *ngIf="registration.status != 'BLOCKED'" [ngClass]="(registration.status == 'UNREGISTERED')?
                            'btn btn-outline-dark btn-success mr-2' : 'btn btn-outline-dark bg-warning mr-2'"
                                    (click)="changeStatus(registration.id, registration.status == 'UNREGISTERED' ? 'VERIFIED' : 'UNREGISTERED')">
                                {{registration.status == 'UNREGISTERED' ? "Register" : "Unregister"}}
                            </button>
                            <button type="button" [ngClass]="registration.status == 'BLOCKED'?
                            'btn btn-outline-dark btn-danger mr-2' : 'btn btn-outline-dark btn-success mr-2'"
                                    (click)="changeStatus(registration.id, registration.status == 'BLOCKED'? 'VERIFIED' : 'BLOCKED')">
                                {{registration.status == 'BLOCKED'? "Unblock" : "Block"}}
                            </button>
                            <button type="button" class="btn btn-outline-dark bg-info mr-2"
                                    (click)="changeStatus(registration.id, 'VERIFIED')" *ngIf="registration.status == 'PENDING_VERIFICATION'">
                                Verify
                                user
                            </button>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
