<button type="button" class="btn btn-outline-primary" (click)="open(dropDownAdd)">Register New Student</button>

<table class="table table-bordered table-light mt-5 hover-shadow">
    <caption>List of Students currently enrolled</caption>
    <thead class="thead-light">
    <tr>
        <th scope="col">Email</th>
        <th scope="col">First name</th>
        <th scope="col">Last name:</th>
        <th scope="col">Role</th>
        <th scope="col">Block status</th>
        <th scope="col">Verify status</th>
    </tr>
    </thead>
    <tbody *ngFor="let user of userList; let i = index">
    <tr>
        <td>{{ user.email || 'No ID' }}</td>
        <td>{{ user.first_name || '' }}</td>
        <td>{{ user.last_name || 'N' }}</td>
        <td>{{ user.role || ''}}</td>
        <td>{{ getBlockStatus(user.id) }}
            <button type="button" class="btn btn-outline-dark float-right"
                    (click)="changeStatus(registrationList[i],!getBlockStatus(user.id),getVerifyStatus(user.id))">Toggle
                status
            </button>
        </td>
        <td>{{ getVerifyStatus(user.id) }}
            <button type="button" class="btn btn-outline-dark float-right"
                    (click)="changeStatus(registrationList[i],getBlockStatus(user.id),!getVerifyStatus(user.id))">Toggle
                status
            </button>
        </td>
        <td><button type="button" class="btn btn-outline-dark" (click)="unregisterUser(registrationList[i].id)">Unregister</button></td>
    </tr>
    </tbody>
</table>

<ng-template #dropDownAdd let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select a user to add</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
    </div>
</ng-template>
