<div class="topics-page container-fluid mt-md-5">
    <div class="mx-auto">
        <h1 class="my-md-2">{{ title }}</h1>
        <h4>{{ subtitle }}</h4>
        <table class="table table-lg table-bordered table-hover" style="width:100%">
            <caption class="sr-only">Topics covered in Canvas Gamification</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Topic</th>
                    <th scope="col">Available Questions</th>
                    <th scope="col">Average Success Rate</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                <tr *ngFor="let item of topicsArray">
                    <th>{{ item.name }}</th>
                    <td>{{ item.numQues }}</td>
                    <td>{{ item.avgSuccess }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>