body,
html {
  width: 100%;
  height: 100%;
}

.topics-page {
  padding: 0 7rem 0 7rem;
}

table th,
table tr,
table td {
  font-size: 1rem;
  padding: 2rem;
  vertical-align: middle;
}

thead th {
  height: 5rem;
  text-align: center;
}

thead th.header-topic {
  text-align: left;
}

tbody th,
tbody tr,
tbody td {
  height: 7rem;
}

table td {
  text-align: center;
}

.subcat-row {
  opacity: 75%;
}

tbody tr .subcat-name {
  text-align: left;
}

.expanded-icon {
  display: inline-block;
  width: 1.5rem;
}
