<div>
    <table class="table table-lg table-bordered table-hover" style="width:100%">
        <caption class="sr-only">Topics covered in Canvas Gamification</caption>
        <thead class="thead-light">
        <tr>
            <th class="header-topic" >Topic</th>
            <th >Available Questions</th>
            <th >Average Success Rate</th>
        </tr>
        </thead>
        <tbody class="table-striped">
        <ng-container *ngFor="let categoryStat of categoryStatData">
            <tr [class.table-primary]="expanded[categoryStat.category.name]" (click)="toggleChildTopics(categoryStat)">
                <th>
                                <span class="expanded-icon">
                                    <fa-icon [icon]=faCaretRight *ngIf="!expanded[categoryStat.category.name]"></fa-icon>
                                    <fa-icon [icon]=faCaretDown *ngIf="expanded[categoryStat.category.name]"></fa-icon>
                                </span>
                    {{ categoryStat.category.name }}
                </th>
                <td>{{ categoryStat.category.question_count }}</td>
                <td *ngIf="categoryStat.category.average_success">{{ categoryStat.category.average_success }}%</td>
                <td *ngIf="!categoryStat.category.average_success">-</td>
            </tr>
            <ng-container *ngIf="expanded[categoryStat.category.name]">
                <ng-container *ngFor="let subcat of categoryStat.children">
                    <tr class="subcat-row">
                        <td class="subcat-name"><span class="heavy-indent">{{ subcat.name }}</span></td>
                        <td>{{ subcat.question_count }}</td>
                        <td *ngIf="subcat.average_success">{{ categoryStat.category.average_success }}%</td>
                        <td *ngIf="!subcat.average_success">-</td>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-container>
        </tbody>
    </table>
</div>
