<div class="tui-container tui-container_adaptive">
    <a
        [routerLink]="eventId ? ['../..'] : ['..']"
        icon="tuiIconArrowLeft"
        size="s"
        tuiButton
        appearance="flat"
    >
        Back to List of Challenges
    </a>
    <h5 class="tui-text_h5 my-3">Which Type of Challenge Would You Like to Create?</h5>
    <div class="flex gap-5">
        <tui-island *ngFor="let localChallengeType of localChallengeTypes; index as i">
            <h3 class="tui-island__title">{{localChallengeType[1]}} Challenge</h3>
            <p class="tui-island__paragraph">
                {{challengeTypeDes[i][1]}}
            </p>
            <div class="flex justify-end">
                <button
                    (click)="setFilter(localChallengeType)"
                    appearance="primary"
                    size="s"
                    tuiButton
                >
                    Select This Type
                </button>
            </div>
        </tui-island>
    </div>

    <ng-container *ngIf="filter">
        <ng-container *ngIf="filter[0] === 'CONSISTENCY'; else quotaAndTopTeamTemplate">
            <app-consistency-form-snippet [localChallengeType]="filter"></app-consistency-form-snippet>
        </ng-container>
        <ng-template #quotaAndTopTeamTemplate>
            <app-challenge-form-snippet [localChallengeType]="filter"></app-challenge-form-snippet>
        </ng-template>
    </ng-container>

</div>
