<ng-container *ngIf="!readonly else editorSocket">
    <form [formGroup]="editorForm">
        <tui-editor new [exampleText]="exampleText" formControlName="editor">
            {{placeHolder}}
            <ng-container ngProjectAs="tools">
                <app-katex-tool tuiToolbarTool></app-katex-tool>
            </ng-container>
        </tui-editor>
    </form>
</ng-container>
<ng-template #editorSocket>
    <tui-editor-socket [content]="editorForm.controls.editor.value | getKatexHtmlString"></tui-editor-socket>
</ng-template>
