<ng-container *ngIf="course">
  <div class="container">
    <table class="table table-bordered table-light mt-5 hover-shadow">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">URL</th>
        <th scope="col">Canvas&nbsp;Course&nbsp;Name</th>
        <th scope="col">Start&nbsp;Date</th>
        <th scope="col">End&nbsp;Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.url }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.start_date | date: 'LLL. dd, YYYY, hh:MM a'}}</td>
        <td>{{ course.end_date | date: 'LLL. dd, YYYY, hh:MM a'}}</td>
      </tr>
      </tbody>
    </table>

    <ul class="nav nav-tabs mt-5" role="tablist">
      <ng-container *ngIf="isTeacher()">
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="problem-set-tab" data-toggle="tab" href="#problem-set" role="tab"
             aria-controls="problem-set" aria-selected="true">Questions</a>
        </li>
      </ng-container>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab"
           aria-controls="events" aria-selected="true">Events</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tokens-tab" data-toggle="tab" href="#tokens" role="tab" aria-controls="tokens"
           aria-selected="false">Token Use</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <ng-container *ngIf="isTeacher()">
        <div class="tab-pane fade" id="problem-set" role="tabpanel" aria-labelledby="problem-set-tab">
          <div class="hover-shadow p-3">
            <app-course-question-snippet [questions]="course.question_set"
                                         [uqjs]="course.uqjs"></app-course-question-snippet>
          </div>
        </div>
      </ng-container>
      <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">
        <div class="hover-shadow p-3">
          <app-course-events-snippet [events]="course.events"
                                     [courseId]="courseId"
                                     [teacherForClass]="teacherForClass"></app-course-events-snippet>
        </div>
      </div>
      <!--Should this be disabled if it's a teacher?-->
      <div class="tab-pane fade" id="tokens" role="tabpanel" aria-labelledby="tokens-tab">
        <div class="hover-shadow p-3">
          <app-token-use-snippet [courseReg]="courseReg"
                                 [teacherForClass]="teacherForClass"></app-token-use-snippet>
        </div>
      </div>
    </div>
  </div>
</ng-container>
