<div (cdkDropListDropped)="onDrop($event)" cdkDropList>
  @for (form of models.controls; track form; let index = $index) {
    <form
      [formGroup]="form | asFormGroup"
      class="tui-space_bottom-4 drag-container"
      cdkDrag
      >
      <tui-icon
        [tuiHint]="reorderTooltip"
        class="drag-container_handle"
        icon="@tui.grip-vertical"
        id="reorder-{{index}}"
        tuiHintDirection="top-end"
        tuiHintDescribe="reorder-{{index}}"
        tuiHintAppearance="dark"
        cdkDragHandle
      ></tui-icon>
      <ng-template #reorderTooltip>
        Reorder Variable
      </ng-template>
      <div class="tui-island tui-island_size_m drag-container_content">
        <div class="tui-island__content">
          <div class="tui-island__figure">
            <button
              (click)="removeModel(index)"
              [tuiHint]="removeTooltip"
              iconStart="@tui.trash"
              size="m"
              id="remove-{{index}}"
              tuiHintDirection="top-start"
              tuiHintDescribe="remove-{{index}}"
              tuiHintAppearance="dark"
              tuiIconButton
              type="button"
            ></button>
            <ng-template #removeTooltip>
              Remove Value
            </ng-template>
          </div>
          <div class="content__island">
            <h2 class="tui-island__title">
              {{ (form | asFormGroup).controls.type.value | titlecase }}
            </h2>
            <div class="tui-row tui-row_adaptive">
              <div class="tui-col_8">
                <div class="tui-form__row">
                  <tui-textfield>
                    <label tuiLabel>Name</label>
                    <input tuiInput formControlName="name" />
                  </tui-textfield>
                  <tui-error  formControlName="name"></tui-error>
                </div>
                @if ((form | asFormGroup).controls.type.value === 'int' || (form | asFormGroup).controls.type.value === 'float') {
                  <div class="tui-form__row tui-form__row_multi-fields">
                    <div class="tui-form__multi-field">
                      <tui-textfield decimal="never"  >
                        <label tuiLabel>Minimum Value</label>
                        <input tuiInputNumber formControlName="min" [step]="1" />
                      </tui-textfield>
                      <tui-error  formControlName="min"></tui-error>
                    </div>
                    <div class="tui-form__multi-field">
                      <tui-textfield decimal="never"  >
                        <label tuiLabel>Maximum Value</label>
                        <input tuiInputNumber formControlName="max" [step]="1" />
                      </tui-textfield>
                      <tui-error  formControlName="max"></tui-error>
                    </div>
                  </div>
                }
                @if ((form | asFormGroup).controls.type.value === 'float') {
                  <div class="tui-form__row">
                    <tui-textfield decimal="never"  >
                      <label tuiLabel>Number of Digits After the Decimal
                        Point
                      </label>
                      <input tuiInputNumber formControlName="precision" [step]="1" />
                    </tui-textfield>
                    <tui-error  formControlName="precision"></tui-error>
                  </div>
                }
                @if ((form | asFormGroup).controls.type.value === 'enum') {
                }
                @if ((form | asFormGroup).controls.type.value === 'expression') {
                  <div class="tui-form__row">
                    <tui-textfield>
                      <label tuiLabel>Expression</label>
                      <input tuiInput formControlName="expression" />
                    </tui-textfield>
                    <tui-error  formControlName="expression"></tui-error>
                  </div>
                }
                @if ((form | asFormGroup).controls.type.value === 'choice') {
                  <div class="tui-form__row">
                    <tui-textfield>
                      <label tuiLabel>Choice</label>
                      <input tuiInput formControlName="choice" />
                    </tui-textfield>
                    <tui-error  formControlName="choice"></tui-error>
                  </div>
                }
                @if ((form | asFormGroup).controls.type.value === 'choice' || (form | asFormGroup).controls.type.value === 'enum') {
                  <div class="tui-form__row">
                    <div class="tui-form__field-note">Values</div>
                    @if (getValues(form).value.length > 0) {
                      <div class="tui-island tui-island_size_m tui-space_bottom-4">
                        @for (value of getValues(form).controls; track value; let index = $index) {
                          <div
                            class="tui-form__row values-control"
                            >
                            <div class="tui-space_right-4 values-control__input" formArrayName="values">
                              <tui-textfield>
                                <label tuiLabel>Value</label>
                                <input tuiInput [formControl]="value | asFormControl" />
                              </tui-textfield>
                              <tui-error
                              [formControl]="value | asFormControl"></tui-error>
                            </div>
                            <button
                              (click)="removeValue(form, index)"
                              [tuiHint]="removeValueTooltip"
                              iconStart="@tui.trash"
                              size="m"
                              id="remove-value-{{index}}"
                              tuiHintDirection="top-start"
                              tuiHintDescribe="remove-value-{{index}}"
                              tuiHintAppearance="dark"
                              tuiIconButton
                              type="button"
                            ></button>
                            <ng-template #removeValueTooltip>
                              Remove Value
                            </ng-template>
                          </div>
                        }
                      </div>
                    }
                    <button
                      (click)="addNewValue(form)"
                      iconStart="@tui.plus"
                      size="m"
                      tuiButton
                      type="button"
                      >
                      Add New Value
                    </button>
                  </div>
                }
              </div>
              <div class="tui-col_4">
                <tui-textfield class="content__island-json">
                  <label tuiLabel>JSON</label>
                  <textarea tuiTextarea (ngModelChange)="setFormFromString(form, $event)" [ngModel]="getFormString(form)" [ngModelOptions]="{standalone: true}"></textarea>
                </tui-textfield>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  }
</div>
<div
  [(tuiDropdownOpen)]="openNewValueDropdown"
  [tuiDropdown]="newValueDropdownContent"
  >
  <button [tuiChevron]="openNewValueDropdown" iconStart="@tui.plus" size="m" tuiButton type="button">
    Add New Variable
  </button>
</div>
<ng-template #newValueDropdownContent>
  <tui-data-list>
    @for (modelType of modelTypes; track modelType) {
      <button
        (click)="addNewModel(modelType)"
        tuiOption
        >
        {{ modelType | titlecase }}
      </button>
    }
  </tui-data-list>
</ng-template>
