@import '~@taiga-ui/core/styles/taiga-ui-local';

.drag-container {
    display: flex;

    &_handle {
        padding: var(--tui-padding-s);
        cursor: pointer;
        border: solid 1px var(--tui-base-03);
        border-right: none;
        border-top-left-radius: var(--tui-radius-m);
        border-bottom-left-radius: var(--tui-radius-m);

        @include transition(background-color);
        transition-duration: 300ms;

        &:hover {
            background-color: var(--tui-base-02);
        }
    }

    &_content {
        flex-grow: 1;
        border-top-left-radius: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__island {
        width: 100%;

        &-json {
            height: 100%;
        }
    }
}

.new-item-icon {
    @include transition(transform);
    transition-duration: 300ms;

    &_rotated {
        transform: rotate(180deg);
    }
}

.values-control {
    display: flex;
    align-items: center;

    &__input {
        flex-grow: 1;
    }
}
