<header class="header">
    <button
        class="header-sidebar"
        tuiButton
        type="button"
        icon="tuiIconMenuLarge"
        appearance="icon"
        shape="square"
        aria-label="Open Sidebar"
        (click)="toggleSidebar(true)"
        (tuiActiveZoneChange)="toggleSidebar($event)"
    >
        <nav *tuiSidebar="openSidebar; direction: 'left'" class="header-sidebar_nav">
            <div class="header-logo">
                <a tuiLink routerLink="" class="tui-space_right-2" (click)="toggleSidebar(false)">
                    <img [src]="logoPath" alt="Logo">
                </a>
            </div>
            <a tuiLink routerLink="homepage" class="tui-text_body-m" (click)="toggleSidebar(false)">Homepage</a>
            <a tuiLink routerLink="course" class="tui-text_body-m" (click)="toggleSidebar(false)">Courses</a>
            <a *ngIf="user?.is_teacher" tuiLink routerLink="problems" class="tui-text_body-m"
               (click)="toggleSidebar(false)">Problem Sets</a>
            <a *ngIf="user?.is_teacher" tuiLink routerLink="token-values" class="tui-text_body-m"
               (click)="toggleSidebar(false)">Token&nbsp;Values</a>
            <a tuiLink routerLink="faq" class="tui-text_body-m" (click)="toggleSidebar(false)">FAQ</a>
        </nav>
    </button>
    <div class="header-logo">
        <a tuiLink routerLink="" class="tui-space_right-2">
            <img [src]="logoPath" alt="Logo">
        </a>
        <span class="tui-text_h6">Canvas Gamification</span>
    </div>
    <nav class="header-nav">
        <a tuiLink routerLink="homepage" class="tui-text_body-m">Homepage</a>
        <a tuiLink routerLink="course" class="tui-text_body-m">Courses</a>
        <a *ngIf="user?.is_teacher" tuiLink routerLink="problems" class="tui-text_body-m">Problem Sets</a>
        <a *ngIf="user?.is_teacher" tuiLink routerLink="token-values" class="tui-text_body-m">Token&nbsp;Values</a>
        <a tuiLink routerLink="faq" class="tui-text_body-m">FAQ</a>
    </nav>
    <div class="header-user">
        <ng-container *ngIf="user else login">
            <tui-hosted-dropdown
                [content]="userActions"
                [(open)]="openUserActions"
            >
                <button class="header-user_dropdown" aria-label="User Profile Dropdown">
                    <ng-container *ngIf="user.first_name; else incompleteProfile">
                        {{ user.first_name }}
                    </ng-container>
                    <ng-template #incompleteProfile>
                        {{ user.username }}
                    </ng-template>
                    <tui-avatar
                        class="tui-space_left-2"
                        [autoColor]="true"
                        [rounded]="true"
                        size="s"
                        [text]="user.first_name ? user.first_name + ' ' + user.last_name : user.username"
                    ></tui-avatar>
                    <tui-svg
                        src="tuiIconChevronDown"
                        class="icon"
                        [class.icon_rotated]="openUserActions"
                    ></tui-svg>
                </button>
            </tui-hosted-dropdown>
            <ng-template #userActions>
                <tui-data-list>
                    <tui-opt-group label="Appearance">
                        <button tuiOption>
                            <label class="tui-text_body-m">
                                Night mode
                                <tui-toggle
                                    size="m"
                                    [(ngModel)]="enableNightMode"
                                    (ngModelChange)="setNightMode($event)"
                                    class="tui-space_left-2"
                                ></tui-toggle>
                            </label>
                        </button>
                    </tui-opt-group>
                    <ng-container *ngIf="user.is_teacher">
                        <tui-opt-group label="Admin">
                            <a tuiOption routerLink="">Dashboard</a>
                            <a tuiOption routerLink="token-values">Token Values</a>
                        </tui-opt-group>
                    </ng-container>
                    <tui-opt-group label="Profile">
                        <a tuiOption routerLink="accounts/profile">Profile</a>
                    </tui-opt-group>
                    <tui-opt-group>
                        <a tuiOption class="dropdown-item" routerLink="#" (click)="logout()">Logout</a>
                    </tui-opt-group>
                </tui-data-list>
            </ng-template>
        </ng-container>
        <ng-template #login>
            <a
                tuiButton
                size="m"
                appearance="flat"
                class="tui-space_right-2"
                routerLink="accounts/login"
            >
                Login
            </a>
            <a
                tuiButton
                size="m"
                appearance="primary"
                routerLink="accounts/register"
            >
                Sign Up
            </a>
        </ng-template>
    </div>
</header>
