<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">Canvas Gamification</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#about">Find Out More</a>
      <a class="navbar-item" href="/homepage">Get Started</a>
      <a class="navbar-item" routerLink="sample-questions">Sample Questions</a>
      <a class="navbar-item" routerLink="contact">Contact Us</a>
    </div>
  </div>
</nav>
