<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img [src]="logoPath" width="40" height="40" class="d-inline-block align-top"
         alt="Logo" style="border-radius: 50%">
  </a>
  <a class="navbar-brand" routerLink="">
    <a class="nav-item" routerLink="">Canvas Gamification</a>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">Find Out More</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="homepage">Get Started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sample-questions">Sample Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="concept-map">Concept Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="accounts/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
