<tui-island class="shadow">
  <div class="flex flex-wrap gap-5">
    <div class="flex-1 space-y-1">
      <span class="tui-text_bold">Tasks:</span>
      <ul class="tui-list tui-list_ordered pl-3">
        @for (goalItem of goal.goal_items; track goalItem) {
          <li class="tui-list__item">
            <div class="flex flex-wrap gap-3">
              <div>
                {{getGoalItemString(goalItem)}}
                (Solved {{goalItem.progress}} / {{goalItem.number_of_questions}})
                <!-- TODO: (Taiga UI migration) For colored icons, please use <img src="'name' | tuiIcon" alt="icon" /> -->
                @if (goalItem.progress >= goalItem.number_of_questions) {
                  <tui-icon
                    class="success"
                    icon="@tui.check"
                  ></tui-icon>
                }
              </div>
              @if (goalItem.progress < goalItem.number_of_questions && !goal.is_finished) {
                <a
                  tuiLink
                  iconStart="@tui.play"
                  [routerLink]="['/course', courseId, 'practice', 'category', goalItem.category]"
                  [queryParams]="{difficulty: goalItem.difficulty}"
                  (click)="logClick(goal, goalItem)"
                  >
                  Practice
                </a>
              }
            </div>
          </li>
        }
        <li class="tui-list__item">
          <div class="flex flex-wrap gap-3">
            <div>
              Review performance ({{(goal.claimed ? 1 : 0)}} / 1)
            </div>
            <!-- TODO: (Taiga UI migration) For colored icons, please use <img src="'name' | tuiIcon" alt="icon" /> -->
            @if (goal.claimed) {
              <tui-icon
                class="success"
                icon="@tui.check"
              ></tui-icon>
            }
          </div>
        </li>
      </ul>
    </div>
    <div class="min-w-200 flex flex-col space-y-3">
      @if (!goal.is_finished) {
        <div>
          <span class="tui-text_bold">Due:</span> {{getRelativeTime(goal.end_date)}}
        </div>
      }
      <div class="flex-grow w-full">
        <label
          tuiProgressLabel
          class="w-full"
          >
          {{goal.progress + (goal.claimed ? 1 : 0)}} / {{goal.number_of_questions + 1}}
          <progress
            class="info"
            tuiProgressBar
            [max]="goal.number_of_questions + 1"
            [value]="goal.progress + (goal.claimed ? 1 : 0)"
            >
          </progress>
        </label>
      </div>
      @if (showPerformanceButton) {
        <a
          tuiButton
          size="m"
          appearance="secondary"
          class="w-full"
          [routerLink]="[goal.id]">
          {{canClaim() ? 'Review Performance' : 'View Progress'}}
        </a>
      }
    </div>
  </div>
</tui-island>
