<tui-island class="shadow">
    <div class="flex flex-wrap gap-3">
        <div class="flex-1">
            <span class="tui-text_bold">Tasks:</span>
            <ul class="tui-list tui-space_left-3">
                <li class="tui-list__item" *ngFor="let goalItem of goal.goal_items">
                    <div class="flex flex-wrap gap-3">
                        <div class="leading-8">
                            {{getGoalItemString(goalItem)}}
                            (Solved {{goalItem.progress}} / {{goalItem.number_of_questions}})
                        </div>
                        <a
                            *ngIf="goalItem.progress < goalItem.number_of_questions && !goal.is_finished"
                            tuiButton
                            size="s"
                            appearance="flat"
                            [routerLink]="['/course', courseId, 'practice', 'category', goalItem.category]"
                            [queryParams]="{difficulty: goalItem.difficulty}"
                        >
                            Start Practice
                        </a>
                        <tui-marker-icon
                            *ngIf="goalItem.progress >= goalItem.number_of_questions"
                            src="tuiIconCheckCircleLarge"
                            mode="success"
                            size="xs"
                        ></tui-marker-icon>
                        <!--                        <tui-marker-icon-->
                        <!--                            *ngIf="goalItem.progress < goalItem.number_of_questions && goal.is_finished"-->
                        <!--                            src="tuiIconCloseCircleLarge"-->
                        <!--                            mode="error"-->
                        <!--                            size="xs"-->
                        <!--                        ></tui-marker-icon>-->
                    </div>
                </li>
            </ul>
        </div>
        <div class="min-w-200 flex flex-col space-y-3">
            <div *ngIf="!goal.is_finished">
                <span class="tui-text_bold">Remaining Time:</span> {{getRelativeTime(goal.end_date)}}
            </div>
            <div class="flex-grow w-full">
                <label
                    tuiProgressLabel
                    class="w-full"
                >
                    {{goal.progress}} / {{goal.number_of_questions}}
                    <progress
                        tuiProgressBar
                        [max]="goal.number_of_questions"
                        [value]="goal.progress"
                    >
                    </progress>
                </label>
            </div>
            <a
                *ngIf="showPerformanceButton"
                tuiButton
                size="s"
                appearance="outline"
                class="self-end"
                [routerLink]="[goal.id]">Review Performance
            </a>
        </div>
    </div>
</tui-island>
