<div class="topics-page container-fluid mt-md-5">
    <div class="mx-auto">
        <h1 class="my-md-2">{{ 'Categories & Sub-Categories' }}</h1>
        <h4>{{ 'A complete listing of all categories with their sub categories' }}</h4>

        <table mat-table [dataSource]="categoriesSource" matSort (matSortChange)="sortData($event)" matSortDisableClear
               class="table table-hover hover-shadow" multiTemplateDataRows>
            <caption>Topics covered in Canvas Gamification</caption>

            <ng-container matColumnDef="pk">
                <th mat-header-cell *matHeaderCellDef>Index</th>
                <td mat-cell *matCellDef="let category"> {{category.pk || 'No name found'}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
                <td mat-cell *matCellDef="let category"> {{category.name || 'No name found'}} </td>
            </ng-container>

            <ng-container matColumnDef="parent">
                <th mat-header-cell *matHeaderCellDef>Parent</th>
                <td mat-cell *matCellDef="let category"> {{category.parent || 'No parent found'}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let category" [attr.colspan]="displayedColumns.length">
                    <div [ngStyle]="{'overflow': 'hidden', 'display':'flex'}"
                         [@detailExpand]="category == expandedElement ? 'expanded' : 'collapsed'">
                        <div>
                            <div class="p-3"> Category's description: {{category.description}} </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let category; columns: displayedColumns;"
                (click)="expandedElement = expandedElement === category ? null : category"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [ngStyle]="{'height': '0'}"></tr>

        </table>
    </div>
</div>
