<div class="topics-page container-fluid mt-md-5">
    <div class="mx-auto">
        <h1 class="my-md-2">{{ title }}</h1>
        <h4>{{ subtitle }}</h4>
        <table class="table table-lg table-bordered table-hover" style="width:100%">
            <caption class="sr-only">Topics covered in Canvas Gamification</caption>
            <thead class="thead-light">
            <tr>
                <th class="header-topic">Categories</th>
            </tr>
            </thead>
            <tbody class="table-striped">
            <ng-container *ngFor="let category of categories">
                <tr [class.table-primary]="expanded[category.name]">
                    <th>
                        {{ category.name }}
                    </th>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>
