<div class="reset-password">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 mb-5">
            <div class="brand">
                <img [src]="logoPath" alt="logo">
            </div>
            <div class="card">
                <h2 class="card-header">Change Password</h2>
                <div class="card-body">
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="old_password">Old Password:</label>
                            <input type="password" class="form-control" name="old_password"
                                   formControlName="old_password" id="old_password">
                            <div *ngIf="form.old_password.touched && form.old_password.invalid"
                                 class="alert alert-danger my-1">
                                <div *ngIf="form.old_password.errors.required">Old Password is Required.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">New Password:</label>
                            <input type="password" class="form-control" name="password"
                                   formControlName="password" id="password">
                            <div *ngIf="form.password.touched && form.password.invalid"
                                 class="alert alert-danger my-1">
                                <div *ngIf="form.password.errors.required">Password is Required.</div>
                            </div>
                        </div>

                        <div class="alert alert-info">
                            <ul>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="password2">Confirm New Password:</label>
                            <input type="password" class="form-control" name="password2"
                                   formControlName="password2" id="password2">
                            <div *ngIf="form.password2.touched && form.password2.invalid"
                                 class="alert alert-danger my-1">
                                <div *ngIf="form.password2.errors.required">Password is Required.</div>
                                <div *ngIf="form.password2.errors.confirmedValidator">Passwords must match.
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" [disabled]="formGroup.invalid">
                            Reset&nbsp;Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
