<ng-container *ngIf="teams else skeletonTemplate">
    <section
        *ngIf="course && event && teams"
        class="tui-container tui-container_adaptive ng-star-inserted"
    >
        <div class="flex flex-wrap gap-3 tui-space_top-6">
            <h3 class="tui-text_h3 tui-col_stretch flex-grow">List of Teams</h3>
            <a
                *ngIf="!(event.is_open || event.is_closed)"
                [routerLink]="['create']"
                icon="tuiIconPlus"
                appearance="primary"
                aria-label="Create New Team"
                size="m"
                tuiButton
            >
                Create New Team
            </a>
        </div>
        <div class="tui-island__paragraph tui-text_body-l tui-space_top-6">
            The team that has the person icon (<tui-svg src="tuiIconUser"></tui-svg>) is your team.
            You can change the team's name by editing it.
            You can also edit the team settings and invite specific people privately to your team or
            make it public so anyone can join your team.
        </div>
        <ng-container *ngFor="let team of teams; let index = index">
            <ng-container *ngIf="team">
                <tui-accordion class="tui-space_top-6">
                    <tui-accordion-item>
                        <div class="flex flex-wrap gap-3">
                            <div class="min-w-[2rem]">
                                <span class="mr-1">
                                    {{index + 1}}
                                </span>
                                <tui-svg
                                    src="tuiIconUser"
                                    *ngIf="isInTeam(team)"
                                ></tui-svg>
                            </div>
                            <div class="flex-grow">{{team.name}}</div>
                            <div>
                                <tui-svg *ngIf="team.is_private" src="tuiIconLock"></tui-svg>
                            </div>
                            <div>
                                {{team.member_names.length}}
                                {{team.member_names.length===1? 'student': 'students'}}
                            </div>
                        </div>
                        <ng-template tuiAccordionItemContent>
                            <div class="flex flex-wrap gap-3">
                                <div class="flex-grow">
                                    <div
                                        *ngFor="let name of team.member_names"
                                        class="tui-text_body-l"
                                    >
                                        {{name}}
                                    </div>
                                </div>
                                <ng-container *ngIf="isInTeam(team); else notInTeam;">
                                    <a
                                        *ngIf=
                                            "isInTeam(team) && !event.is_not_available_yet"
                                        [routerLink]="[team.id, 'edit']"
                                        appearance="secondary"
                                        aria-label="Edit"
                                        size="m"
                                        tuiButton
                                        class="w-fit"
                                    >
                                        Edit
                                    </a>
                                </ng-container>
                                <ng-template #notInTeam>
                                    <button
                                        *ngIf="isJoinAble(team, event)"
                                        (click)="joinTeam(team.id)"
                                        appearance="secondary"
                                        aria-label="Join"
                                        size="m"
                                        tuiButton
                                        class="w-fit"
                                    >
                                        Join
                                    </button>
                                </ng-template>
                            </div>
                        </ng-template>
                    </tui-accordion-item>
                </tui-accordion>
            </ng-container>
        </ng-container>
    </section>
</ng-container>

<ng-template #skeletonTemplate>
    <div class="tui-container tui-container_adaptive ng-star-inserted">
    <div class="flex flex-wrap gap-3 tui-space_top-6">
        <h3 class="tui-text_h3 tui-col_stretch flex-grow tui-skeleton">List of Teams</h3>
        <a
            class="tui-skeleton"
            icon="tuiIconPlus"
            appearance="primary"
            aria-label="Create New Team"
            size="m"
            tuiButton
        >
            Create New Team
        </a>
    </div>
    <div class="tui-skeleton tui-island__paragraph tui-text_body-l tui-space_top-6"
    >
        Instructions
    </div>
    <tui-accordion class="accordionContainer tui-space_top-6">
        <tui-accordion-item>
            <div class="accordionHeader">
                <div class="tui-skeleton">content</div>
                <div class="tui-skeleton">content</div>
                <div class="tui-skeleton">content</div>
            </div>
        </tui-accordion-item>
    </tui-accordion>
    </div>
</ng-template>

