<div class="card my-1">
    <div class="card-header">
        <h1>My Past Submissions</h1>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th *ngIf="previousSubmissions[0]?.show_answer">Answer</th>
                <th>Grade</th>
                <th>Tokens Received</th>
                <th>Time Submitted</th>
                <th>Status</th>
                <th *ngIf="previousSubmissions[0]?.show_detail">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let submission of previousSubmissions; let i = index"
                [attr.class]="'highlight-'+submission.status_color">
                <td>{{i + 1 || 'No ID'}}</td>
                <td *ngIf="submission.show_answer">
                    <div *ngFor="let safeAnswer of submission.safeAnswer" [innerHTML]="safeAnswer"></div>
                </td>
                <td>{{submission.grade.toFixed(2)}}</td>
                <td>{{submission.tokens_received.toFixed(2)}}/{{submission.token_value.toFixed(2)}}</td>
                <td>{{submission.submission_time | date:'medium' || 'No Date'}}</td>
                <td>{{submission.status || 'No Status'}}</td>
                <td *ngIf="submission.show_detail">
                    <a class="btn btn-primary" [routerLink]="['submission', submission.pk]">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
