.previous-submissions-island {
    padding: 0;

    &__title {
        padding: 1rem 1rem;
    }

    &__submission {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__no-submission {
        padding: 0 1rem 1rem;
    }
}
