<tui-island class="previous-submissions-island">
    <h2 class="tui-island__title previous-submissions-island__title">My Past Submissions</h2>
    <ng-container *ngIf="previousSubmissions.length > 0 else noSubmissions">
        <tui-accordion [rounded]="false" class="tui-space_bottom-4">
            <tui-accordion-item
                size="s"
                [showArrow]="false"
                *ngFor="let submission of previousSubmissions; let index = index"
            >
                <div class="previous-submissions-island__submission">
                    #{{ index + 1 }}
                    <div class="previous-submissions-island__submission-right">
                        <ng-container *ngIf="!submission.question.is_exam_and_open">
                            {{ submission.submission_time | date:'short' || 'No Date' }}
                            <tui-tag [status]="submission.status_color" [value]="submission.status || 'No Status'"></tui-tag>
                        </ng-container>
                    </div>
                    <ng-template tuiAccordionItemContent>
                        <p class="tui-island__paragraph">Grade Given: {{ submission.grade.toFixed(2) }}</p>
                        <p class="tui-island__paragraph">Tokens Received: {{ submission.tokens_received.toFixed(2)}} / {{submission.token_value.toFixed(2) }}</p>
                        <p class="tui-island__paragraph">Answer:</p>
                        <ng-container *ngIf="submission.show_answer else noAnswerShown">
                            <div *ngFor="let safeAnswer of submission.safeAnswer" [innerHTML]="safeAnswer"></div>
                        </ng-container>
                        <ng-template #noAnswerShown>
                            No answer available
                        </ng-template>
                        <div class="tui-form__buttons tui-space_top-2">
                            <a
                                tuiButton
                                size="s"
                                class="tui-form__button"
                                [routerLink]="['/problems', 'submission', submission.pk]"
                            >
                                See Details
                            </a>
                        </div>
                    </ng-template>
                </div>
            </tui-accordion-item>
        </tui-accordion>
    </ng-container>
    <ng-template #noSubmissions>
        <p class="tui-island__paragraph previous-submissions-island__no-submission">No Submissions Available</p>
    </ng-template>
    <!--    <table class="tui-table">-->
    <!--        <thead>-->
    <!--        <tr class="tui-table__tr">-->
    <!--            <th class="tui-table__th">#</th>-->
    <!--            <th class="tui-table__th" *ngIf="previousSubmissions[0]?.show_answer">Answer</th>-->
    <!--            <th class="tui-table__th">Grade</th>-->
    <!--            <th class="tui-table__th">Tokens Received</th>-->
    <!--            <th class="tui-table__th">Time Submitted</th>-->
    <!--            <th class="tui-table__th">Status</th>-->
    <!--            <th class="tui-table__th" *ngIf="previousSubmissions[0]?.show_detail">Details</th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <ng-container *ngIf="previousSubmissions[0].question.is_exam_and_open; else displaySubmissionDetails">-->
    <!--            <tr *ngFor="let submission of previousSubmissions; let i = index">-->
    <!--                <td>{{i + 1 || 'No ID'}}</td>-->
    <!--                <td *ngIf="submission.show_answer">-->
    <!--                    <div *ngFor="let safeAnswer of submission.safeAnswer" [innerHTML]="safeAnswer"></div>-->
    <!--                </td>-->
    <!--                <td>N/A</td>-->
    <!--                <td>N/A</td>-->
    <!--                <td>{{submission.submission_time | date:'medium' || 'No Date'}}</td>-->
    <!--                <td>{{submission.status || 'No Status'}}</td>-->
    <!--                <td *ngIf="submission.show_detail">-->
    <!--                    <a class="btn btn-primary" [routerLink]="['/problems', 'submission', submission.pk]">Details</a>-->
    <!--                </td>-->
    <!--            </tr>-->
    <!--        </ng-container>-->
    <!--        <ng-template #displaySubmissionDetails>-->
    <!--            <tr *ngFor="let submission of previousSubmissions; let i = index"-->
    <!--                [attr.class]="'highlight-'+submission.status_color">-->
    <!--                <td>{{i + 1 || 'No ID'}}</td>-->
    <!--                <td *ngIf="submission.show_answer">-->
    <!--                    <div *ngFor="let safeAnswer of submission.safeAnswer" [innerHTML]="safeAnswer"></div>-->
    <!--                </td>-->
    <!--                <td>{{submission.grade.toFixed(2)}}</td>-->
    <!--                <td>{{submission.tokens_received.toFixed(2)}}/{{submission.token_value.toFixed(2)}}</td>-->
    <!--                <td>{{submission.submission_time | date:'medium' || 'No Date'}}</td>-->
    <!--                <td>{{submission.status || 'No Status'}}</td>-->
    <!--                <td *ngIf="submission.show_detail">-->
    <!--                    <a class="btn btn-primary" [routerLink]="['/problems', 'submission', submission.pk]">Details</a>-->
    <!--                </td>-->
    <!--            </tr>-->
    <!--        </ng-template>-->
    <!--        </tbody>-->
    <!--    </table>-->
</tui-island>
