<div class="card my-1">
    <div class="card-header">
        <h1>{{QuestionDetails?.title}}</h1>
    </div>
    <div class="card-body" [innerHTML]="QuestionDetails?.text"></div>
</div>
<div class="card my-1">
    <div class="card-header">
        <h1>My Answer</h1>
    </div>
    <div class="container">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Lines</h2>
                        <div class="left-container" [dragula]="PARSONS_LINES" [(dragulaModel)]="parsonLines">
                            <div class="container-object" *ngFor="let line of parsonLines">
                                <pre>{{line.value}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>My Solution</h2>
                        <div class="right-container" [dragula]="PARSONS_LINES"
                             [(dragulaModel)]="parsonAnswerLines">
                            <div class="container-object" *ngFor="let line of parsonAnswerLines">
                                <pre>{{line.value}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" [value]="code" formControlName="solution"/>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="card my-1">
    <div class="card-header">
        <h1>Generated Variables</h1>
    </div>
    <div *ngIf="variables.length !== 0; else elseBlock">
        <div *ngFor="let variable of variables" class="card-body">
            <ul>
                <li>
                    Name: {{variable.name}}
                    <ul>
                        <li>Type: {{variable.type}}</li>
                        <li>Min: {{variable.min}}</li>
                        <li>Max: {{variable.max}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="card-body">
            No Variables
        </div>
    </ng-template>
    <div class="card-footer">
        No Error Detected.
    </div>
</div>
<div class="card my-1">
    <div class="card-header">
        <h1>My Past Submissions</h1>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Answer</th>
                <th>Grade</th>
                <th>Tokens Received</th>
                <th>Time Submitted</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let submission of previousSubmissions; let i = index">
                <td>{{i + 1}}</td>
                <td>{{submission.answer}}</td>
                <td>{{submission.grade.toFixed(2)}}</td>
                <td>{{submission.tokens_received.toFixed(2)}}/{{submission.token_value.toFixed(2)}}</td>
                <td>{{submission.submission_time | date:'medium'}}</td>
                <td>{{submission.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
