<div class="tui-container tui-container_adaptive">
    <ng-container *ngIf="questionType === 'MCQ' || questionType === 'multiple choice question'">
        <app-mcq-create-snippet [isCheckbox]="false" [questionDetails]="questionDetails"></app-mcq-create-snippet>
    </ng-container>
    <ng-container *ngIf="questionType === 'checkbox'">
        <app-mcq-create-snippet [isCheckbox]="true" [questionDetails]="questionDetails"></app-mcq-create-snippet>
    </ng-container>
    <ng-container *ngIf="questionType === 'java' || questionType === 'java question'">
        <app-java-create-snippet [questionDetails]="questionDetails"></app-java-create-snippet>
    </ng-container>
    <ng-container *ngIf="questionType === 'parsons' || questionType === 'parsons question'">
        <app-parsons-create-snippet [questionDetails]="questionDetails"></app-parsons-create-snippet>
    </ng-container>
</div>
