<div [formGroup]="formGroup">
    <div class="tui-form__row">
        <tui-input formControlName="title">Question Name</tui-input>
        <tui-field-error formControlName="title"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-select
            [valueContent]="difficulties ? (difficulties | stringifyTuiDataList: 0: 1) : ''"
            formControlName="difficulty"
        >
            Difficulty
            <tui-data-list *tuiDataList>
                <button *ngFor="let difficulty of difficulties" [value]="difficulty[0]" tuiOption>
                    {{ difficulty[1] }}
                </button>
            </tui-data-list>
            <tui-field-error formControlName="difficulty"></tui-field-error>
        </tui-select>
    </div>
    <div class="tui-form__row">
        <tui-select
            [valueContent]="categories ? (categories | stringifyTuiDataList: 'pk': 'full_name') : ''"
            formControlName="category"
        >
            Category
            <tui-data-list *tuiDataList>
                <button *ngFor="let category of categories" [value]="category.pk" tuiOption>
                    {{ category.full_name }}
                </button>
            </tui-data-list>
        </tui-select>
        <tui-field-error formControlName="category"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-checkbox-labeled formControlName="is_verified" size="l">Is Verified</tui-checkbox-labeled>
    </div>
    <div class="tui-form__row">
        <tui-checkbox-labeled
            (ngModelChange)="resetCourseIfPractice($event)"
            [ngModelOptions]="{standalone: true}"
            [ngModel]="isPractice"
            [disabled]="disableEvent"
            size="l"
        >
            Practice Question
        </tui-checkbox-labeled>
    </div>
    <ng-container *ngIf="!isPractice">
        <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
                <tui-select
                    [tuiTextfieldCleaner]="true"
                    [valueContent]="courses ? (courses | stringifyTuiDataList: 'id': 'name') : ''"
                    formControlName="course"
                >
                    Course
                    <tui-data-list *tuiDataList>
                        <button *ngFor="let course of courses" [value]="course.id" tuiOption>
                            {{ course.name }}
                        </button>
                    </tui-data-list>
                </tui-select>
                <tui-field-error formControlName="course"></tui-field-error>
            </div>
            <div class="tui-form__multi-field">
                <tui-select
                    [tuiTextfieldCleaner]="true"
                    [valueContent]="events ? (events | stringifyTuiDataList: 'id': 'name') : ''"
                    formControlName="event"
                >
                    Event
                    <tui-data-list *tuiDataList>
                        <button *ngFor="let event of events" [value]="event.id" tuiOption>
                            {{ event.name }}
                        </button>
                    </tui-data-list>
                </tui-select>
                <tui-field-error formControlName="event"></tui-field-error>
            </div>
        </div>
    </ng-container>
    <ng-content></ng-content>
</div>
