<div class="tui-container tui-container_adaptive">
    <div class="flex flex-wrap gap-3 tui-space_top-6">
        <h3 class="tui-text_h3 tui-col_stretch flex-grow">
            Active Goals
        </h3>
        <a tuiButton size="m" routerLink="create">Create a new goal</a>
    </div>
    <div *ngFor="let goal of activeGoals" class="tui-space_vertical-3">
        <app-goal-island
            [goal]="goal"
        >
        </app-goal-island>
    </div>
    <h3 class="tui-text_h3 tui-space_top-3">
        Completed Goals
    </h3>
    <div *ngFor="let goal of completedGoals" class="tui-space_vertical-3">
        <app-goal-island
            [goal]="goal"
        >
        </app-goal-island>
    </div>
</div>
