<div class="tui-container tui-container_adaptive">
  <a
    [routerLink]="['../practice']"
    iconStart="@tui.arrow-left"
    size="s"
    tuiButton
    appearance="flat"
    >
    Back to Question Bank
  </a>
  <div class="flex flex-wrap gap-3 mt-3">
    <h5 class="tui-text_h5 tui-col_stretch flex-grow">
      Active Goals
    </h5>
    <a class="min-w-200 mr-4" tuiButton size="m" routerLink="create">Create a new goal</a>
  </div>
  @if (activeGoals && activeGoals.length !== 0) {
    @for (goal of activeGoals; track goal) {
      <div class="tui-space_vertical-3">
        <app-goal-island
          [goal]="goal"
          >
        </app-goal-island>
      </div>
    }
  } @else {
    <div class="flex justify-center items-center w-full h-32">
      <span tuiAvatar="@tui.circle-alert"
        class="tui-space_right-4"
        size="m"
       
      ></span>
      <h2 class="tui-text_body-xl">
        Looks like there are no goals to show
      </h2>
    </div>
  }
  <h5 class="tui-text_h5 tui-space_top-6">
    Past Goals
  </h5>
  @if (completedGoals && completedGoals.length !== 0) {
    @for (goal of completedGoals; track goal) {
      <div class="tui-space_vertical-3">
        <app-goal-island
          [goal]="goal"
          >
        </app-goal-island>
      </div>
    }
  } @else {
    <div class="flex justify-center items-center w-full h-32">
      <span tuiAvatar="@tui.circle-alert"
        class="tui-space_right-4"
        size="m"
       
      ></span>
      <h2 class="tui-text_body-xl">
        Looks like there are no goals to show
      </h2>
    </div>
  }
</div>
