@import "mixins";
@import '~@taiga-ui/core/styles/taiga-ui-local';

.no-content-heading {
    margin-top: 0;
}

.question-islands {
    @include island-grid();
}

.teamBar{
    background-color: var(--tui-base-02);
}

.new-question-icon {
    @include transition(transform);
    transition-duration: 300ms;

    &_rotated {
        transform: rotate(180deg);
    }
}
