@import "mixins";

.no-content-heading {
    margin-top: 0;
}

.question-islands {
    @include island-grid();
}

.teamBar{
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--tui-base-02);
    display: flex;
    align-items: baseline;
}

.teamBar :last-child {
    margin-left: auto;
}
