<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqQuestionName">Question Name:</label>
            <input [ngClass]="{'is-invalid': form.title.errors && form.title.touched}" class="form-control"
                   formControlName="title" id="mcqQuestionName" type="text">
            <div *ngIf="form.title.touched && form.title.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.title.errors.required">Question Name is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqDifficulty">Difficulty</label>
            <select [ngClass]="{'is-invalid': form.difficulty.errors && form.difficulty.touched}" class="form-control"
                    formControlName="difficulty" id="mcqDifficulty">
                <option value="EASY">EASY</option>
                <option value="NORMAL">MEDIUM</option>
                <option value="HARD">HARD</option>
            </select>
            <div *ngIf="form.difficulty.touched && form.difficulty.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.difficulty.errors.required">Question Difficulty is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqCategory">Category:</label>
            <select [ngClass]="{'is-invalid': form.category.errors && form.category.touched}" class="form-control"
                    formControlName="category" id="mcqCategory">
                <option *ngFor="let category of categories" value="{{category.pk}}">{{category.full_name}}</option>
            </select>
            <div *ngIf="form.category.touched && form.category.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.category.errors.required">Question Category is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <div class="form-check">
                <input (change)="practiceCheckboxChanged($event)" [checked]="isPractice" class="form-check-input"
                       id="practiceCheckbox" type="checkbox">
                <label class="form-check-label" for="practiceCheckbox">Practice Question</label>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!isPractice">
        <div class="form-row m-3 p-3">
            <div class="col-md-6">
                <label for="mcqCourse">Course:</label>
                <select (change)="courseSelectionChanged($event)"
                        [ngClass]="{'is-invalid': form.course.value === null && form.course.touched}"
                        class="form-control" formControlName="course"
                        id="mcqCourse">
                    <option [ngValue]="null" disabled>------</option>
                    <option *ngFor="let course of courses" value="{{course.id}}">{{course.name}}</option>
                </select>
                <div *ngIf="form.course.touched && form.course.value === null"
                     class="invalid-feedback">
                    <div *ngIf="!isPractice">Course is Required.</div>
                </div>
            </div>
        </div>
        <div class="form-row m-3 p-3">
            <div class="col-md-6">
                <label for="mcqEvent">Event Name:</label>
                <select (change)="eventSelectionChanged($event)"
                        [ngClass]="{'is-invalid': form.event.value === null && form.event.touched}" class="form-control"
                        formControlName="event" id="mcqEvent">
                    <option [ngValue]="null" disabled>------</option>
                    <option *ngFor="let event of events" value="{{event.id}}">{{event.name}}</option>
                </select>
                <div *ngIf="form.event.touched && form.event.value === null"
                     class="invalid-feedback">
                    <div *ngIf="!isPractice">Event is Required.</div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqQuestion">Question:</label>
            <app-ck-editor [(value)]="questionText" id="mcqQuestion"></app-ck-editor>
        </div>
    </div>
    <ng-container *ngIf="!questionDetails.is_checkbox">
        <div class="form-row m-3 p-3">
            <div class="col-md-6">
                <label for="mcqCorrectAnswer">Correct Answer:</label>
                <app-ck-editor [(value)]="answerText" id="mcqCorrectAnswer"></app-ck-editor>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="questionDetails.is_checkbox">
        <div class="form-row m-3">
            <div class="col-md-6">
                <label for="mcqCorrectAnswers">Correct Answers:</label>
                <table id="mcqCorrectAnswers">
                    <tbody>
                    <tr *ngFor="let _ of correctAnswers; index as i">
                        <td class="p-3">
                            <app-ck-editor [(value)]="correctAnswers[i].text"></app-ck-editor>
                        </td>
                        <td class="p-3">
                            <button (click)="removeAnswer(i)" class="btn btn-danger m-auto" type="button">Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tr>
                        <td class="p-3" colspan="2">
                            <button (click)="addAnswer()" class="btn btn-primary m-auto" type="button">Add Another
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ng-container>
    <div class="form-row m-3 p-3">
        <div class="col-md-6>">
            <h3>Distract Answers:</h3>
            <label class="radio-inline mx-1">
                <input
                    [ngClass]="{'is-invalid': form.visible_distractor_count.errors && form.visible_distractor_count.touched}"
                    formControlName="visible_distractor_count" name="visible_distractor_count" type="radio"
                    value="999">All
            </label>
            <label class="radio-inline mx-1">
                <input
                    [ngClass]="{'is-invalid': form.visible_distractor_count.errors && form.visible_distractor_count.touched}"
                    formControlName="visible_distractor_count" name="visible_distractor_count" type="radio"
                    value="2">2
            </label>
            <label class="radio-inline mx-1">
                <input
                    [ngClass]="{'is-invalid': form.visible_distractor_count.errors && form.visible_distractor_count.touched}"
                    formControlName="visible_distractor_count" name="visible_distractor_count" type="radio"
                    value="3">3
            </label>
            <div *ngIf="form.visible_distractor_count.touched && form.visible_distractor_count.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.visible_distractor_count.errors.required">Visible Distractor Count is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <table>
                <tbody>
                <tr *ngFor="let _ of distractors; index as i">
                    <td class="p-3">
                        <app-ck-editor [(value)]="distractors[i].text"></app-ck-editor>
                    </td>
                    <td class="p-3">
                        <button (click)="removeChoice(i)" class="btn btn-danger m-auto" type="button">Remove</button>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <td class="p-3" colspan="2">
                        <button (click)="addChoice()" class="btn btn-primary m-auto" type="button">Add Another</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <app-json-editor [(value)]="this.variables" [name]="'variables'"></app-json-editor>
        </div>
        <div class="col-md-6">
            If you are not using variables,
            please don't add any variables
            and delete the existing ones.
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <button [disabled]="formGroup.invalid || !isSubmissionValid()" class="btn btn-success" id="submit">Submit
            </button>
        </div>
    </div>
</form>
