
.flex {
    display: flex;
}

.success {
    color: var(--tui-status-positive)
}

.error {
    color: var(--tui-status-negative)
}

.info {
    color: var(--tui-status-info)
}

.button-success {
    background-color: var(--tui-status-positive);
    color: var(--tui-background-base);
    &:hover {
        opacity: 0.75;
        transition-duration: 300ms;
        cursor: pointer;
    }
}
