
.flex {
    display: flex;
}

.success {
    color: var(--tui-success-fill)
}

.error {
    color: var(--tui-error-fill)
}

.info {
    color: var(--tui-info-fill)
}

.button-success {
    background-color: var(--tui-success-fill);
    color: var(--tui-base-01);
    &:hover {
        opacity: 0.75;
        transition-duration: 300ms;
        cursor: pointer;
    }
}
