<app-base-editor [form]="form" title="Java Input File" #baseEditor>
    <form [formGroup]="form" *ngIf="form">
        <div class="tui-form__row">
            <tui-input
                formControlName="name"
                [class.tui-skeleton]="loadingValue"
            >
                Name
            </tui-input>
            <tui-field-error formControlName="name"></tui-field-error>
        </div>
        <div class="tui-form__row">
            <tui-checkbox-labeled
                formControlName="compile"
                [class.tui-skeleton]="loadingValue"
            >
                Should This File Be Compiled?
            </tui-checkbox-labeled>
            <tui-field-error formControlName="compile"></tui-field-error>
        </div>
        <div class="tui-form__row">
            <tui-text-area
                [expandable]="true"
                formControlName="template"
                [class.tui-skeleton]="loadingValue"
            >
                Template of the File
            </tui-text-area>
            <tui-field-error formControlName="template"></tui-field-error>
        </div>
    </form>
</app-base-editor>
