<header>
  <div class="container-fluid">
    <div class="row my-auto">
      <div class="col m-3">
        <h1 class="m-0">Edit Question</h1>
      </div>
    </div>
  </div>
</header>
<main class="page-content m-3">
  <div class="container-fluid">
    <form>
    <div class="form-row m-3">
      <label for="questionName">Question Name:</label>
      <input class="form-control" formControlName="questionName" type="text" id="questionName">
    </div>
      <div class="form-row m-3">
        <label for="difficulty">Difficulty</label>
        <select class="form-control" formControlName="difficulty" id="difficulty">
          <option value="EASY">EASY</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HARD">HARD</option>
        </select>
      </div>
      <div class="form-row m-3">
        <label for="category">Category:</label>
        <select class="form-control" formControlName="category" id="category">
          <option value="...">...</option>
        </select>
      </div>
      <div class="form-row m-3">
        <label for="course">Course:</label>
        <select class="form-control" formControlName="course" id="course">
          <option value="...">...</option>
        </select>
      </div>
      <div class="form-row m-3">
        <label for="event">Event Name:</label>
        <select class="form-control" formControlName="event" id="event">
          <option value="...">...</option>
        </select>
      </div>
      <div class="form-row m-3">
        <label for="question">Question:</label>
        <textarea class="form-control" formControlName="question" id="question"></textarea>
      </div>
      <div class="form-row m-3">
        Variables:
      </div>
      <div class="form-row m-3">
        <label for="correctAnswer">Correct Answer:</label>
        <textarea class="form-control" formControlName="correctAnswer" id="correctAnswer"></textarea>
      </div>
      <div class="form-row m-3">
        Distract Answers
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</main>
