<header>
    <div class="container-fluid">
        <div class="row my-auto">
            <div class="col m-3">
                <h1 class="m-0">Edit Question</h1>
            </div>
        </div>
    </div>
</header>
<main class="page-content m-3">
    <div class="container-fluid">
        <ng-container *ngIf="MultipleChoiceQuestionDetails">
            <app-mcq-edit-snippet [MCQFormData] [categories] [courses] [events]></app-mcq-edit-snippet>
        </ng-container>
        <ng-container *ngIf="JavaQuestionDetails">
            <app-java-edit-snippet [JavaFormData] [categories] [courses] [events] [inputFileNames]></app-java-edit-snippet>
        </ng-container>
        <ng-container *ngIf="ParsonsQuestionDetails">

        </ng-container>
    </div>
</main>
