<div class="tui-container tui-container_adaptive">
    <button
        appearance="flat"
        [routerLink]="['../..']"
        icon="tuiIconArrowLeft"
        aria-label="Back to Homepage"
        size="s"
        tuiButton
        class="mt-3 -mb-3"
    >
        Back to Admin Dashboard
    </button>
    <div class="tui-form__header">
        Export {{name}}
    </div>
    <ng-container *ngIf="fields">
        <div class="tui-form__row">
            <tui-multi-select
                aria-label="Fields"
                [(ngModel)]="selectedFields"
            >
                What fields do you want to export?
                <tui-data-list
                    *tuiDataList
                    tuiMultiSelectGroup
                >
                    <button
                        *ngFor="let item of fields"
                        tuiOption
                        [value]="item"
                    >
                        {{ item }}
                    </button>
                </tui-data-list>
            </tui-multi-select>
        </div>
    </ng-container>
    <ng-container *ngIf="search">
        <div class="tui-form__row">
            <tui-input
                [tuiTextfieldCleaner]="true"
                [(ngModel)]="selectedSearch"
            >
                {{search}}
            </tui-input>
        </div>
    </ng-container>
    <ng-container *ngFor="let filter of filters">
        <div class="tui-form__row">
            <tui-input-date
                *ngIf="filter.type === 'date'"
                [(ngModel)]="selectedFilters[filter.key]"
            >
                {{filter.name}}
            </tui-input-date>
            <tui-input-number
                *ngIf="filter.type === 'number'"
                [(ngModel)]="selectedFilters[filter.key]"
            >
                {{filter.name}}
            </tui-input-number>
            <tui-input
                *ngIf="filter.type === 'text'"
                [(ngModel)]="selectedFilters[filter.key]"
            >
                {{filter.name}}
            </tui-input>
            <tui-select
                *ngIf="filter.type === 'role'"
                [(ngModel)]="selectedFilters[filter.key]"
            >
                {{filter.name}}
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="roles"
                ></tui-data-list-wrapper>
            </tui-select>
            <tui-select
                *ngIf="filter.type === 'code'"
                [(ngModel)]="selectedFilters[filter.key]"
            >
                {{filter.name}}
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="codes"
                ></tui-data-list-wrapper>
            </tui-select>
            <tui-select
                *ngIf="filter.type === 'verb'"
                [(ngModel)]="selectedFilters[filter.key]"
            >
                {{filter.name}}
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="verbs"
                ></tui-data-list-wrapper>
            </tui-select>
            <tui-select
                *ngIf="filter.type === 'objectType'"
                [(ngModel)]="selectedFilters[filter.key]"
            >
                {{filter.name}}
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="objectTypes"
                ></tui-data-list-wrapper>
            </tui-select>
        </div>
    </ng-container>
    <div class="tui-form__buttons">
        <a
            appearance="primary"
            size="m"
            tuiButton
            [href]="getUrl()"
        >
            Download
        </a>
    </div>
</div>
