<div class="tui-container tui-container_adaptive">
  <button
    appearance="flat"
    [routerLink]="['../..']"
    iconStart="@tui.arrow-left"
    aria-label="Back to Homepage"
    size="s"
    tuiButton
    class="mt-3 -mb-3"
    >
    Back to Admin Dashboard
  </button>
  <div class="tui-form__header">
    Export {{name}}
  </div>
  @if (fields) {
    <div class="tui-form__row">
      <tui-multi-select
        aria-label="Fields"
        [(ngModel)]="selectedFields"
        >
        What fields do you want to export?
        <tui-data-list
          *tuiDataList
          tuiMultiSelectGroup
          >
          @for (item of fields; track item) {
            <button
              tuiOption
              [value]="item"
              >
              {{ item }}
            </button>
          }
        </tui-data-list>
      </tui-multi-select>
    </div>
  }
  @if (search) {
    <div class="tui-form__row">
      <tui-input
        [tuiTextfieldCleaner]="true"
        [(ngModel)]="selectedSearch"
        >
        {{search}}
      </tui-input>
    </div>
  }
  @for (filter of filters; track filter) {
    <div class="tui-form__row">
      @if (filter.type === 'date') {
        <tui-input-date
          [(ngModel)]="selectedFilters[filter.key]"
          >
          {{filter.name}}
        </tui-input-date>
      }
      @if (filter.type === 'number') {
        <tui-input-number
          [(ngModel)]="selectedFilters[filter.key]"
          >
          {{filter.name}}
        </tui-input-number>
      }
      @if (filter.type === 'text') {
        <tui-input
          [(ngModel)]="selectedFilters[filter.key]"
          >
          {{filter.name}}
        </tui-input>
      }
      @if (filter.type === 'role') {
        <tui-select
          [(ngModel)]="selectedFilters[filter.key]"
          >
          {{filter.name}}
          <tui-data-list-wrapper
            *tuiDataList
            [items]="roles"
          ></tui-data-list-wrapper>
        </tui-select>
      }
      @if (filter.type === 'code') {
        <tui-select
          [(ngModel)]="selectedFilters[filter.key]"
          >
          {{filter.name}}
          <tui-data-list-wrapper
            *tuiDataList
            [items]="codes"
          ></tui-data-list-wrapper>
        </tui-select>
      }
      @if (filter.type === 'verb') {
        <tui-select
          [(ngModel)]="selectedFilters[filter.key]"
          >
          {{filter.name}}
          <tui-data-list-wrapper
            *tuiDataList
            [items]="verbs"
          ></tui-data-list-wrapper>
        </tui-select>
      }
      @if (filter.type === 'objectType') {
        <tui-select
          [(ngModel)]="selectedFilters[filter.key]"
          >
          {{filter.name}}
          <tui-data-list-wrapper
            *tuiDataList
            [items]="objectTypes"
          ></tui-data-list-wrapper>
        </tui-select>
      }
    </div>
  }
  <div class="tui-form__buttons">
    <a
      appearance="primary"
      size="m"
      tuiButton
      [href]="getUrl()"
      >
      Download
    </a>
  </div>
</div>
