@import "mixins";

.challenge {
    @include screen-lg {
        display: grid;
        grid-template-columns: 4fr 5fr 10rem 18rem;
    }
    @include screen-md() {
        display: grid;
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "name teamSection"
        "dates toCompleteSection";
        align-items: start;
    }
}


.name, .dates{
    justify-self: start;
    align-self: center;
    padding-left: 1rem;

    @include screen-sm() {
        margin-top: 1rem;
    }
}

.dates {
    display: flex;
    flex-direction: column;

}


.name {
    @include screen-md() {
        padding-left: 0;
        grid-area: name;
    }
}

.dates {
    @include screen-md() {
        padding-left: 0;
        grid-area: dates;
    }
}

.teamSection {
    justify-self: end;
    align-self: center;
    padding-left: 1rem !important;

    @include screen-md() {
        grid-area: teamSection;
        justify-self: end;
        align-self: start;
    }
}

.toCompleteSection {
    padding-left: 1rem;
    justify-self: end;
    align-self: center;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    @include screen-md() {
        grid-area: toCompleteSection;
    }

}
