<div *ngIf="team" class="challenge">
    <div class="name">{{ event.name }}</div>
    <div class="dates">
        <div>
            From: {{ event.start_date | date: 'EEEE, MMM d, y, h:mm a' }}</div>
        <div>
            Until: {{ event.end_date | date: 'EEEE, MMM d, y, h:mm a' }}</div>
    </div>
    <a [routerLink]="['/course', event.course, 'challenge', event.id, 'teams']"
       class="teamSection"
       tuiButton
       appearance="flat"
       size="s"
    >
        {{event.is_not_available_yet ? 'Manage Your Team' : 'View All Teams'}}
    </a>
    <div class="toCompleteSection">
        <div>
            <ng-container
                *ngIf="team.tokens_received === 0 ; else totalEventGrade">
                Tokens: ------
            </ng-container>
            <ng-template #totalEventGrade>
                Tokens: {{ team.tokens_received }} / {{event.total_tokens}}
            </ng-template>
        </div>
        <div>
            <ng-container
                *ngIf="event.is_allowed_to_open || user?.is_teacher; else notAllowedOpen">
                <a
                    [routerLink]="['/course', event.course, 'challenge', event.id]"
                    appearance="secondary"
                    size="s"
                    tuiButton
                >
                    {{ user.is_teacher ? 'View' : 'Complete' }}
                </a>
            </ng-container>
            <ng-template #notAllowedOpen>
                <a
                    [disabled]="true"
                    appearance="secondary"
                    aria-label="Complete"
                    href=""
                    size="s"
                    tuiButton
                >
                    Complete
                </a>
            </ng-template>
            <a
                *ngIf="event.has_edit_permission"
                [routerLink]="['/course', event.course, 'challenge', event.id, 'edit']"
                appearance="secondary"
                aria-label="Edit"
                size="s"
                class="ml-2"
                tuiButton
            >
                Edit
            </a>
        </div>
    </div>
</div>
