@import '~@taiga-ui/core/styles/taiga-ui-local';

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-question-icon {
    @include transition(transform);
    transition-duration: 300ms;

    &_rotated {
        transform: rotate(180deg);
    }
}

.questions-table {
    width: 100%;
}

.filters {
    display: flex;

    .search {
        flex: 1
    }
}
