<form [formGroup]="formData" (ngSubmit)="applyFilter()">
    <div class="form-row">
        <div class="form-group col-3">
            <label for="search">Search in Question Name:</label>
            <input type="text" class="form-control" name="search" formControlName="search" id="search"
                   placeholder="Search in the problem set...">
        </div>
        <div class="form-group col-2">
            <label for="difficulty">Difficulty:</label>
            <select class="form-control" name="difficulty" formControlName="difficulty" id="difficulty">
                <option value="">All</option>
                <option *ngFor="let diff of difficulties" [value]="diff[0]">{{diff[0]}}</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="category">Category:</label>
            <select class="form-control" name="category" formControlName="parentCategory" id="category">
                <option value="">All</option>
                <option *ngFor="let cat of parentCategories" [value]="cat.name">{{cat.name}}</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="subcategory">Sub-Category:</label>
            <select class="form-control" name="subcategory" id="subcategory" formControlName="subCategory">
                <option value="">All</option>
                <option *ngFor="let subcat of subCategories" [value]="subcat.name">{{subcat.name}}</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="sample">Sample:</label>
            <select class="form-control" name="sample" formControlName="is_sample" id="sample">
                <option value="">All</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="form-group col-1 mt-auto">
            <button type="submit" class="btn btn-primary float-right">Go</button>
        </div>
    </div>
</form>
<table mat-table [dataSource]="questionsSource" matSort (matSortChange)="sortData($event)" matSortDisableClear
       class="table table-hover hover-shadow">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">#</th>
        <td mat-cell *matCellDef="let question"> {{question.id || 'No ID'}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title">Question Name</th>
        <td mat-cell *matCellDef="let question"> {{question.title || 'No Title'}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="author">Author</th>
        <td mat-cell *matCellDef="let question"> {{question.author_name || 'No Author'}} </td>
    </ng-container>

    <ng-container matColumnDef="event__name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="event__name">Event</th>
        <td mat-cell *matCellDef="let question"> {{question.event_name || 'No Event'}} </td>
    </ng-container>

    <ng-container matColumnDef="category__parent__name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="category__parent__name">Category</th>
        <td mat-cell *matCellDef="let question"> {{question.parent_category_name || 'No Category'}} </td>
    </ng-container>

    <ng-container matColumnDef="category__name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="category__name">Sub-Category</th>
        <td mat-cell *matCellDef="let question"> {{question.category_name || 'No Sub-Category'}} </td>
    </ng-container>

    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="difficulty">Difficulty</th>
        <td mat-cell *matCellDef="let question"> {{question.difficulty || 'No Difficulty'}} </td>
    </ng-container>

    <ng-container matColumnDef="token_value">
        <th mat-header-cell *matHeaderCellDef>Token Value</th>
        <td mat-cell *matCellDef="let question">{{question.token_value | number: '1.0-1' || 'No Token Value'}}</td>
    </ng-container>

    <ng-container matColumnDef="avg_success">
        <th mat-header-cell *matHeaderCellDef>Avg Success</th>
        <td mat-cell *matCellDef="let question">{{question.success_rate | number: '1.0-1' || 'No Average'}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let question">
            <div class="action-tray">
                <a class="action-icon btn-primary faEye mr-2" [routerLink]="[question.id]">
                    <fa-icon [icon]="faEye"></fa-icon>
                </a>
                <a class="action-icon btn btn-warning faPencilAlt mr-2" [routerLink]="[question.id, 'edit']">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </a>
                <a class="action-icon btn btn-secondary faDownload mr-2" (click)="downloadQuestion(question.id)">
                    <fa-icon [icon]="faDownload"></fa-icon>
                </a>
                <ng-container *ngIf="question.is_author; else cannotDelete">
                    <a class="action-icon btn btn-danger faTrashAlt" [routerLink]=""
                       (click)="open(deleteModal, question.id)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </a>
                </ng-container>
                <ng-template #cannotDelete>
                    <a class="action-icon btn btn-danger faTrashAlt disabled" [routerLink]="">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </a>
                </ng-template>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]=highlight(row.status) *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
    [length]="questionsLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="newPageEvent($event)"
>
</mat-paginator>
<div class="d-flex flex-row">
    <a class="btn btn-primary mr-5" (click)="downloadAllQuestions()">Download All Questions</a>
    <div class="">
        <input type="file" (change)="onFileChanged($event.target)">
        <button class="btn btn-primary" (click)="uploadQuestions()">Upload!</button>
    </div>
</div>
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Question</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure that you would like to delete this question?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteQuestion(); modal.close('Save click')">
            Confirm
        </button>
    </div>
</ng-template>

