@import '@taiga-ui/styles/utils';

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions-table {
    width: 100%;

    &__actions {
        display: flex;
        flex-wrap: nowrap;
    }
}

.filters {
    display: flex;

    .search {
        flex: 1
    }
}
