tui-ring-chart {
    --tui-chart-categorical-00: var(--tui-status-positive);
    --tui-chart-categorical-01: var(--tui-background-accent-1);
    --tui-chart-categorical-02: var(--tui-status-negative);
}
