.line {
    border-top: 1px solid var(--tui-background-neutral-1-hover);
}

.clickable:hover {
    background-color: var(--tui-background-base-alt);
}

.clicked {
    background-color: var(--tui-background-base-alt);
}

.box {
    height: calc(80vh - 12rem - 2px); // Window height - (header + footer + wiggle room) - border width
}

