.line {
    border-top: 1px solid var(--tui-base-03);
}

.clickable:hover {
    background-color: var(--tui-base-02);
}

.clicked {
    background-color: var(--tui-base-02);
}

.fill {
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    vertical-align: bottom;

    button {
        flex-grow: 1;
    }
}

.box {
    height: calc(80vh - 12rem - 2px); // Window height - (header + footer) - border width
}

.fill-space {
    width: 22vh;
}
