<header>
    <div class="container-fluid">
        <div class="row my-auto">
            <div *ngIf="questionType === 'MCQ'" class="col m-3">
                <h1 class="m-0">Create Multiple Choice Question</h1>
            </div>
            <div *ngIf="questionType === 'java'" class="col m-3">
                <h1 class="m-0">Create Java Question</h1>
            </div>
            <div *ngIf="questionType === 'parsons'" class="col m-3">
                <h1 class="m-0">Create Parsons Question</h1>
            </div>
        </div>
    </div>
</header>
<main class="page-content m-3">
    <div class="container-fluid">
        <ng-container *ngIf="questionType === 'MCQ'">
            <app-mcq-create-snippet [MCQFormData] [categories] [courses] [events]></app-mcq-create-snippet>
        </ng-container>
        <ng-container *ngIf="questionType === 'java'">
            <app-java-create-snippet [JavaFormData] [categories] [courses] [events]></app-java-create-snippet>
        </ng-container>
        <ng-container *ngIf="questionType === 'parsons'">

        </ng-container>
    </div>
</main>
