@if (faqs?.length) {
  <!-- TODO: (Taiga UI migration) tui-accordion-item has been removed. Use new tuiAccordion instead. See example https://taiga-ui.dev/components/accordion -->
<tui-accordion>
    @for (faq of faqs | tuiFilter: topX; track faq) {
      <button tuiAccordion>{{ faq.question }}</button>
      <tui-expand>
          <app-editor
            [ngModel]="faq.answer"
            readonly="true"
            >
          </app-editor>
      </tui-expand>
    }
  </tui-accordion>
} @else {
  <div class="no-faqs">
    <span tuiAvatar="@tui.circle-alert"
      class="tui-space_right-4"
      size="m"
     
    ></span>
    <h2 class="tui-text_body-xl">Looks like there are no FAQs to show you!</h2>
  </div>
}
