<div class="homepage">
    <div class="homepage_content">
        <div class="tui-container tui-container_fullwidth">
            <h1 class="tui-text_h3 tui-space_vertical-10">Homepage</h1>
            <app-course-dashboard></app-course-dashboard>
            <app-inactive-courses></app-inactive-courses>
        </div>
    </div>
    <aside class="homepage_sidebar tui-container tui-container_fullwidth">
        <app-recent-viewed-questions></app-recent-viewed-questions>
        <app-recent-user-actions></app-recent-user-actions>
    </aside>
</div>
