@import "mixins";

.homepage {
    display: flex;

    @include screen-sm() {
        flex-direction: column;
    }

    &_content {
        flex: 1;
    }

    &_sidebar {
        @include sidebar(right);
        justify-content: unset;

        @include screen-sm() {
            margin-top: var(--tui-padding-l);
        }
    }
}
