<ng-container>
    <table
        [columns]="tableHeaders"
        class="w-full"
        tuiTable
    >
        <thead tuiThead>
        <tr tuiThGroup>
            <th *tuiHead="'name'" tuiTh>Name</th>
            <th *tuiHead="'event_name'" tuiTh>Event Name</th>
            <th *tuiHead="'grade'" tuiTh>Tokens Earned</th>
        </tr>
        </thead>
        <tbody [data]="displayData" tuiTbody>
        <tr *tuiRow="let grade of displayData" tuiTr>
            <td *tuiCell="'grade'" tuiTd>
                {{ grade.grade }} / {{ grade.total }}
            </td>
        </tr>
        </tbody>
    </table>
</ng-container>
