<<div class="course-list-page container-fluid mt-md-5">
  <div class="mx-auto">
    <h1 class="my-md-2">Course List</h1>
      <table class="table table-lg table-bordered table-hover"  data-toggle="table" style="width:100%">
        <thead class="thead-light">
          <tr>
            <th scope="col" data-sortable="true">#</th>
            <th scope="col" data-sortable="true">Name</th>
            <th scope="col" data-sortable="true">Course&nbsp;Status</th>
            <th scope="col" data-sortable="true">Registration&nbsp;Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-striped">
          <tr>
          </tr>
        </tbody>
</table>
  </div>
</div>
