<header>
    <div class="container-fluid">
        <div class="row my-auto">
            <div class="col m-3">
                <h1 class="m-0">Question Summary</h1>
            </div>
        </div>
    </div>
</header>
<main class="page-content m-3">
    <div class="container-fluid">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Category</th>
                <th>Tokens Value</th>
                <th>Status</th>
                <th>Num Attempts</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{QuestionDetails?.parent_category_name}} :: {{QuestionDetails?.category_name}}</td>
                <td>{{QuestionDetails?.token_value}}</td>
                <td>Not in API</td>
                <td>{{QuestionDetails?.max_submission_allowed}}</td>
            </tr>
            </tbody>
        </table>
        <ng-container *ngIf="MultipleChoiceQuestionDetails">
            <div class="card my-1">
                <div class="card-header">
                    <h1>{{QuestionDetails?.title}}</h1>
                </div>
                <div class="card-body" [innerHTML]="MultipleChoiceQuestionDetails?.text"></div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>Possible Answers</h1>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-check" *ngFor="let choice of choiceArray">
                            <input class="form-check-input" name="radio" type="radio" id="answer-{{choice.id}}"
                                   value="{{choice.id}}">
                            <div [innerHTML]="choice.value">
                                <label class="form-check-label" for="answer-{{choice.id}}"></label>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-success">Submit</button>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>Generated Variables</h1>
                </div>
                <div *ngIf="variables.length !== 0; else elseBlock">
                    <div *ngFor="let variable of variables" class="card-body">
                        <ul>
                            <li>
                                Name: {{variable.name}}
                                <ul>
                                    <li>Type: {{variable.type}}</li>
                                    <li>Min: {{variable.min}}</li>
                                    <li>Max: {{variable.max}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="card-body">
                        No Variables
                    </div>
                </ng-template>
                <div class="card-footer">
                    No Error Detected.
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>My Past Submissions</h1>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Answer</th>
                            <th>Grade</th>
                            <th>Tokens Received</th>
                            <th>Time Submitted</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let submission of previousSubmissions; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{submission.answer}}</td>
                            <td>{{submission.grade.toFixed(2)}}</td>
                            <td>{{submission.tokens_received.toFixed(2)}}/{{submission.token_value.toFixed(2)}}</td>
                            <td>{{submission.submission_time | date:'medium'}}</td>
                            <td>{{submission.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="JavaQuestionDetails">
            <div class="card my-1">
                <div class="card-header">
                    <h1>{{QuestionDetails?.title}}</h1>
                </div>
                <div class="card-body" [innerHTML]="JavaQuestionDetails?.text"></div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>My Answer</h1>
                </div>
                <div class="card-body">
                    Submit the required files.
                    <form>
                        <div *ngFor="let input of inputFileNames">
                            <ul class="nav nav-tabs" id="submission" role="tablist">
                                <li class="nav-item">{{input.name}}
                                    <a class="nav-link" href="#" role="tab"></a>
                                </li>
                            </ul>
                            <div class="tab-content" role="tabpanel">
                                <div class="tab-panel">
                                    <div>{{input.name}}</div>
                                    <div class="form-group">
                                        <textarea value="{{input.template}}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>Generated Variables</h1>
                </div>
                <div *ngIf="variables.length !== 0; else elseBlock">
                    <div *ngFor="let variable of variables" class="card-body">
                        <ul>
                            <li>
                                Name: {{variable.name}}
                                <ul>
                                    <li>Type: {{variable.type}}</li>
                                    <li>Min: {{variable.min}}</li>
                                    <li>Max: {{variable.max}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="card-body">
                        No Variables
                    </div>
                </ng-template>
                <div class="card-footer">
                    No Error Detected.
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>My Past Submissions</h1>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Grade</th>
                            <th>Tokens Received</th>
                            <th>Time Submitted</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let submission of previousSubmissions; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{submission.grade.toFixed(2)}}</td>
                            <td>{{submission.tokens_received.toFixed(2)}}/{{submission.token_value.toFixed(2)}}</td>
                            <td>{{submission.submission_time | date:'medium'}}</td>
                            <td>{{submission.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="ParsonsQuestionDetails">
            <div class="card my-1">
                <div class="card-header">
                    <h1>{{QuestionDetails?.title}}</h1>
                </div>
                <div class="card-body" [innerHTML]="ParsonsQuestionDetails?.text"></div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>My Answer</h1>
                </div>
                <div class="container">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Lines</h2>
                                <div class="left_container" [dragula]="PARSONS_LINES" [(dragulaModel)]="parsonLines">
                                    <div class="container-object" *ngFor="let line of parsonLines">
                                        {{line}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>My Solution</h2>
                                <div class="right_container" [dragula]="PARSONS_LINES"
                                     [(dragulaModel)]="parsonAnswerLines">
                                    <div class="container-object" *ngFor="let line of parsonAnswerLines">
                                        {{line}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>Generated Variables</h1>
                </div>
                <div *ngIf="variables.length !== 0; else elseBlock">
                    <div *ngFor="let variable of variables" class="card-body">
                        <ul>
                            <li>
                                Name: {{variable.name}}
                                <ul>
                                    <li>Type: {{variable.type}}</li>
                                    <li>Min: {{variable.min}}</li>
                                    <li>Max: {{variable.max}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="card-body">
                        No Variables
                    </div>
                </ng-template>
                <div class="card-footer">
                    No Error Detected.
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header">
                    <h1>My Past Submissions</h1>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Answer</th>
                            <th>Grade</th>
                            <th>Tokens Received</th>
                            <th>Time Submitted</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let submission of previousSubmissions; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{submission.answer}}</td>
                            <td>{{submission.grade.toFixed(2)}}</td>
                            <td>{{submission.tokens_received.toFixed(2)}}/{{submission.token_value.toFixed(2)}}</td>
                            <td>{{submission.submission_time | date:'medium'}}</td>
                            <td>{{submission.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>
</main>
