<ng-container *ngIf="!uqj.is_checkbox">
    <form class="tui-space_top-6" (ngSubmit)="onSubmit(formData.value)" [formGroup]="formData">
        <div class="tui-space_bottom-3" *ngFor="let choice of choiceArray">
            <tui-radio-block
                formControlName="solution"
                [item]="choice.id"
                contentAlign="left"
            >
                <app-editor [ngModel]="choice.value" [ngModelOptions]="{standalone: true}" [readonly]="true"></app-editor>
            </tui-radio-block>
        </div>
        <div class="tui-form__buttons">
            <button
                tuiButton
                size="m"
                class="tui-form__button"
                [disabled]="!formData.valid"
            >
                Submit
            </button>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="uqj.is_checkbox">
    <form class="tui-space_top-6" (ngSubmit)="onCheckboxSubmit()" [formGroup]="checkboxFormData">
        <div class="tui-space_bottom-3" *ngFor="let checkbox of checkboxesArray.controls; let index = index">
            <tui-checkbox-block
                [formControl]="checkboxesArray.controls[index] | asFormControl"
                contentAlign="left"
            >
                <app-editor [ngModel]="choiceArray[index].value" [ngModelOptions]="{standalone: true}" [readonly]="true"></app-editor>
            </tui-checkbox-block>
        </div>
        <div class="tui-form__buttons">
            <button
                tuiButton
                size="m"
                class="tui-form__button"
            >
                Submit
            </button>
        </div>
    </form>
</ng-container>
