@if (!uqj.is_checkbox) {
  <form (ngSubmit)="onSubmit(formData.value)" [formGroup]="formData" class="tui-space_top-6">
    @for (choice of choiceArray; track choice) {
      <div class="tui-space_bottom-3">
        <label tuiBlock> <input tuiRadio type="radio"
          [value]="choice.id"
          formControlName="solution"
          class="max-w-[100%]"
          >
          <div class="mt-[16px]">
            <app-editor
              [ngModelOptions]="{standalone: true}"
              [ngModel]="choice.value"
              [readonly]="true"
              class="whitespace-normal"
              >
            </app-editor>
          </div>
        </label>
      </div>
    }
    <div class="tui-form__buttons">
      <button
        [disabled]="!formData.valid"
        class="tui-form__button"
        size="m"
        tuiButton
        >
        Submit
      </button>
    </div>
  </form>
}
@if (uqj.is_checkbox) {
  <form (ngSubmit)="onCheckboxSubmit()" [formGroup]="checkboxFormData" class="tui-space_top-6">
    @for (checkbox of checkboxesArray.controls; track checkbox; let index = $index) {
      <div class="tui-space_bottom-3">
        <label tuiBlock> <input tuiCheckbox type="checkbox"
          [formControl]="checkboxesArray.controls[index] | asFormControl"
          >
          <app-editor [ngModelOptions]="{standalone: true}" [ngModel]="choiceArray[index].value"
          [readonly]="true"></app-editor>
        </label>
      </div>
    }
    <div class="tui-form__buttons">
      <button
        [disabled]="!canSubmit()"
        [loading]="waitingSubmission"
        class="tui-form__button"
        size="m"
        tuiButton
        >
        Submit
      </button>
    </div>
  </form>
}
