<ng-container *ngIf="request.user.isTeacher">
    <!--Fill in these hrefs later-->
    <a class="btn btn-primary my-1 mr-3" href="">Add an Event</a>
    <a class="btn btn-primary my-1" href="#">Import an Event</a>
</ng-container>
<table class="table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Start&nbsp;Date</th>
        <th scope="col">End&nbsp;Date</th>
        <th scope="col">Grade</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let event of events; index as i">
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.start_date }}</td>
            <td>{{ event.end_date }}</td>
            <td *ngIf="isExamAndOpen(event); else totalEventGrade" >Not Available Yet</td>
            <ng-template #totalEventGrade>
                <td>{{"This will be total event grade"}}</td>
                <!-- Not sure how to calculate this better yet -->
            </ng-template>
            <td>
                <ng-container *ngIf="event.is_allowed_to_open; else notAllowedOpen">
                    <!--Fill in this href later-->
                    <a class="btn btn-primary" href="#">{{ getEventButtonText(event) }}</a>
                </ng-container>
                <ng-template #notAllowedOpen> <!--Not sure where to link this yet-->
                    <button class="btn btn-outline-info" href="www.google.com" disabled>{{ getEventButtonText(event) }}</button>
                </ng-template>
                <!--Fill in this href later-->
                <a *ngIf="event.has_edit_permission" class="btn btn-primary" href="#">Edit</a>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
