<div [collapsed]="true" [formGroup]="viewForm" class="tab-switcher" tuiGroup>
   <label tuiBlock="s" appearance=""> <input tuiRadio type="radio" tuiBlock
        
        [value]="'list'"
        [tuiHint]="listTooltip"
        
        formControlName="view"
        
        id="list"
        tuiHintDirection="top-left"
        tuiHintDescribe="list"
        tuiHintAppearance="dark"
    >
        <!-- TODO: (Taiga UI migration) For colored icons, please use <img src="'name' | tuiIcon" alt="icon" /> -->
<tui-icon  icon="@tui.more-ver"></tui-icon>
    </label>
    <ng-template #listTooltip>
        View Content as List
    </ng-template>
   <label tuiBlock="s" appearance=""> <input tuiRadio type="radio" tuiBlock
        
        [value]="'tab'"
        [tuiHint]="tabTooltip"
        
        formControlName="view"
        
        id="tab"
        tuiHintDirection="top-left"
        tuiHintDescribe="tab"
        tuiHintAppearance="dark"
    >
        <!-- TODO: (Taiga UI migration) For colored icons, please use <img src="'name' | tuiIcon" alt="icon" /> -->
<tui-icon  icon="@tui.folder"></tui-icon>
    </label>
    <ng-template #tabTooltip>
        View Content as Tabs
    </ng-template>
</div>
