<div [collapsed]="true" [formGroup]="viewForm" class="tab-switcher" tuiGroup>
    <tui-radio-block
        [hideRadio]="true"
        [item]="'list'"
        [tuiHint]="listTooltip"
        contentAlign="left"
        formControlName="view"
        size="s"
        tuiDescribedBy="list"
        tuiHintDirection="top-left"
        tuiHintId="list"
        tuiHintMode="onDark"
    >
        <tui-svg src="tuiIconMoreVer"></tui-svg>
    </tui-radio-block>
    <ng-template #listTooltip>
        View Content as List
    </ng-template>
    <tui-radio-block
        [hideRadio]="true"
        [item]="'tab'"
        [tuiHint]="tabTooltip"
        contentAlign="left"
        formControlName="view"
        size="s"
        tuiDescribedBy="tab"
        tuiHintDirection="top-left"
        tuiHintId="tab"
        tuiHintMode="onDark"
    >
        <tui-svg src="tuiIconFolder"></tui-svg>
    </tui-radio-block>
    <ng-template #tabTooltip>
        View Content as Tabs
    </ng-template>
</div>
