@import '~@taiga-ui/core/styles/taiga-ui-local';

.katex-tool {
    min-width: 5rem;
    display: flex;
    flex-direction: column;
    padding: var(--tui-padding-m);
}

.tool-button {
    @include transition(background);

    &:hover {
        background: var(--tui-secondary-hover);
    }
}
