<tui-hosted-dropdown
    #hostedDropdown
    tuiDropdownAlign="left"
    [content]="katexDropdown"
>
    <button
        tuiIconButton
        type="button"
        size="s"
        icon="tuiIconTeXLarge"
        appearance="icon"
        class="tool-button"
        [pseudoPressed]="hostedDropdown.open"
        [focusable]="hostedDropdown.open"
    ></button>
</tui-hosted-dropdown>

<ng-template #katexDropdown let-activeZone>
    <form
        class="katex-tool"
        [tuiActiveZoneParent]="activeZone"
        (submit)="insertKatex()"
    >
        <tui-input
            [ngModel]="equation"
            (ngModelChange)="equation = $event; displayKatex()"
            [ngModelOptions]="{standalone: true}"
        >
            Type an equation
            <input tuiTextfield type="text" />
        </tui-input>
        <p>Preview:</p>
        <div #katexContent></div>
        <button tuiButton type="submit" appearance="primary" size="s" class="tui-space_top-2">
            Submit
        </button>
    </form>
</ng-template>
