<div
    [tuiDropdown]="katexDropdown"
    [(tuiDropdownOpen)]="open"
    tuiDropdownAlign="start"
>
    <button
        [tuiAppearanceState]="open ? 'active' : null"
        appearance="icon"
        class="tool-button"
        iconStart="@tui.sigma"
        size="s"
        tuiIconButton
        type="button"
    ></button>
</div>

<ng-template #katexDropdown>
    <form
        (submit)="insertKatex()"
       
        class="katex-tool"
    >
        <div class="katex-tool_input">
            <tui-textfield class="katex-tool_input-text">
            <label tuiLabel>Type an equation</label>
            <input tuiInput (ngModelChange)="equation = $event; displayKatex()" [ngModel]="equation" [ngModelOptions]="{standalone: true}"/>
            </tui-textfield>
            <button
                appearance="icon"
                class="tui-space_left-2"
                iconStart="@tui.circle-check"
                size="s"
                tuiIconButton
                type="submit"
            ></button>
        </div>
        <div>
            <p class="tui-space_vertical-1">Preview:</p>
            <div class="tui-island tui-island_size_m">
                <div #katexContent></div>
            </div>
        </div>
    </form>
</ng-template>
