<div
    [tuiDropdown]="katexDropdown"
    [(tuiDropdownOpen)]="open"
    tuiDropdownAlign="start"
>
    <button
        [tuiAppearanceState]="open ? 'active' : null"
        appearance="icon"
        class="tool-button"
        iconStart="@tui.te-x"
        size="s"
        tuiIconButton
        type="button"
    ></button>
</div>

<ng-template #katexDropdown>
    <form
        (submit)="insertKatex()"
       
        class="katex-tool"
    >
        <div class="katex-tool_input">
            <!-- TODO: (Taiga UI migration) tui-input migration (see https://taiga-ui.dev/components/input):
     - "(ngModelChange)" is an unrecognized attribute and was placed on <tui-textfield>. Move it to <input tuiInput> if it targets the native element.
     - "[ngModelOptions]" is an unrecognized attribute and was placed on <tui-textfield>. Move it to <input tuiInput> if it targets the native element.
-->
            <tui-textfield (ngModelChange)="equation = $event; displayKatex()" [ngModelOptions]="{standalone: true}" class="katex-tool_input-text">
            <label tuiLabel>Type an equation</label>
            <input tuiInput [ngModel]="equation"/>
            </tui-textfield>
            <button
                appearance="icon"
                class="tui-space_left-2"
                iconStart="@tui.circle-check"
                size="s"
                tuiIconButton
                type="submit"
            ></button>
        </div>
        <div>
            <p class="tui-space_vertical-1">Preview:</p>
            <div tuiCardLarge>
                <div #katexContent></div>
            </div>
        </div>
    </form>
</ng-template>
