<div class="row">
    <div class="left">
        <div class= "left-modules">
            <app-course-dashboard [events]="course?.events" [courseId]="courseId"></app-course-dashboard>
        </div>
    
        <div class= "left-modules">
            <ng-container *ngIf="course">
                <app-leader-board [leaderBoard]="course?.leader_board"></app-leader-board>
            </ng-container>
        </div>
    
    </div>

    <div class="right">
        <div class="right-modules">
            <h3>Tokens</h3>
            <app-course-tokens [courseReg]="course?.course_reg" class="token-module"></app-course-tokens>
        </div>
        
        <div class="right-modules">
            <h3>Questions</h3>
            <app-course-questions [questions]="course?.question_set" [uqjs]="course?.uqjs" class="question-module"></app-course-questions>
        </div>

        <div class="right-modules">
            <h3>Concepts</h3>
            <!-- <ul class="nav nav-tabs mt-5" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="concept-map-tab" data-toggle="tab" href="#concept-map" role="tab"
                    aria-controls="concept-map"
                    aria-selected="false">Concepts</a>
                </li>
            </ul> -->
            <div id="myTabContent">
                <ng-container *ngIf="user?.is_teacher">
                    <div class="tab-pane fade" id="problem-set" role="tabpanel" aria-labelledby="problem-set-tab">
                        <div class="hover-shadow p-3">
                            <ng-container *ngIf="course">
                                <app-course-question-snippet [questions]="course?.question_set" [uqjs]="course?.uqjs">
                                </app-course-question-snippet>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <div class="tab-pane fade" id="tokens" role="tabpanel" aria-labelledby="tokens-tab">
                    <div class="hover-shadow p-3">
                        <ng-container *ngIf="course">
                            <app-token-use-snippet [courseReg]="course?.course_reg"></app-token-use-snippet>
                        </ng-container>
                    </div>
                </div>
                <div class="tab-pane fade" id="concept-map" role="tabpanel" aria-labelledby="concept-map-tab">
                    <div class="hover-shadow p-3">
                        <ng-container *ngIf="course">
                <!--                Temporarily disable concept map due to optimization errors-->
                <!--                <app-concept-map [currCourse]="course"></app-concept-map>-->
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-container *ngIf="course">
    <app-leader-board [leaderBoard]="course?.leader_board"></app-leader-board>
</ng-container> -->



