@import 'mixins';

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include screen-sm() {
        flex-direction: column;
    }
}
