@use "src/scss/mixins";
@use "src/scss/variables";

@include mixins.hover-shadow();

.tab-content {
    div {
        background-color: #fff;
    }
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.left{
    width: 60%;
    float:left;
}

.right{
    float:left;
    width: 40%;
}

.left-modules{
    padding: 20px;
    margin-top: 20px;
}

.right-modules{
    display: inline-block;
    border: 1px solid rgba(27, 27, 27, 0.125);
    border-radius: 0.25rem;
    padding: 20px;
    margin-top: 20px;
    margin-right: 1rem;
    width: 100%
}
