@use "src/scss/mixins";
@use "src/scss/variables";

@include mixins.hover-shadow();

.tab-content {
    div {
        background-color: #fff;
    }
}

.left{
    width: 60%;
    float:left;
    margin:0;
}

.right{
    width:40%;
    float:right;
    margin-bottom: 1rem;
    padding: 1rem;

    .token-module, .question-module{
        padding: 1rem;
    }
}

