<section class="tui-container tui-container_fullwidth">
    <div class="top-box my-3">
        <ng-container *ngIf="breadCrumbs && course else skeletonBreadcrumbs">
            <tui-breadcrumbs [size]="'l'">
                <ng-container *ngFor="let item of breadCrumbs">
                    <a
                        *tuiBreadcrumb
                        tuiLink
                        [routerLink]="item.routerLink">
                        {{item.caption}}
                    </a>
                </ng-container>
            </tui-breadcrumbs>
        </ng-container>
        <ng-template #skeletonBreadcrumbs>
            <tui-breadcrumbs class="my-3" [size]="'l'">
                <a *tuiBreadcrumb tuiLink class="tui-skeleton">crumb that is longer</a>
                <a *tuiBreadcrumb tuiLink class="tui-skeleton">crumb that is longer</a>
                <a *tuiBreadcrumb tuiLink class="tui-skeleton">crumb that is longer</a>
            </tui-breadcrumbs>
        </ng-template>
        <a
            *ngIf="user.is_teacher && onHomepage"
            tuiButton
            size="m"
            class="tui-form__button"
            appearance="secondary"
            [routerLink]="['/course', courseId, 'edit']"
        >
            Edit Course
        </a>
    </div>
    <ng-container *ngIf="course else skeletonTemplate">
        <h5
            [class.tui-skeleton]="!course"
            class="tui-text_h5 mb-5"
        >
            {{ course?.name }}
        </h5>
        <div class="flex-box">
            <ng-container *ngIf="onHomepage">
                <p class="tui-text_body-xl tui-island__paragraph">
                    {{course?.description}}
                </p>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #skeletonTemplate>
        <h5 class="tui-text_h5 mb-5 tui-skeleton_short tui-skeleton">
            Content
        </h5>
        <ng-container *ngIf="onHomepage">
            <div class="mb-10">
                <p class="tui-text_body-xl tui-island__paragraph tui-skeleton">
                    Content
                </p>
            </div>
        </ng-container>
    </ng-template>
</section>

<router-outlet></router-outlet>
