<ng-container *ngIf="course else skeletonTemplate">
    <div class="course-banner p-5">
        <h3
            [class.tui-skeleton]="!course"
            class="tui-text_h3"
        >
            {{ course?.name }}
        </h3>
    </div>
    <ng-container *ngIf="displayDescription">
        <h5 class="mx-5 my-3 tui-text_h5">
            {{course?.description}}
        </h5>
    </ng-container>
</ng-container>
<ng-template #skeletonTemplate>
    <div class="course-banner p-5">
        <h3 class="tui-text_h3 tui-skeleton_short tui-skeleton">
            Content
        </h3>
    </div>
    <ng-container *ngIf="displayDescription">
        <h5
            class="mx-5 my-3 tui-text_h5 tui-skeleton"
        >
            Content
        </h5>
    </ng-container>
</ng-template>

<ng-container *ngIf="breadCrumbs && course else skeletonBreadcrumbs">
    <tui-breadcrumbs class="mx-6 my-2" [size]="'l'">
        <ng-container *ngFor="let item of breadCrumbs">
            <a
                *tuiBreadcrumb
                tuiLink
                [routerLink]="item.routerLink">
                {{item.caption}}
            </a>
        </ng-container>
    </tui-breadcrumbs>
</ng-container>
<ng-template #skeletonBreadcrumbs>
    <tui-breadcrumbs class="mx-6 my-2" [size]="'l'">
        <a *tuiBreadcrumb tuiLink class="tui-skeleton">crumb</a>
        <a *tuiBreadcrumb tuiLink class="tui-skeleton">crumb</a>
        <a *tuiBreadcrumb tuiLink class="tui-skeleton">crumb</a>
    </tui-breadcrumbs>
</ng-template>

<router-outlet></router-outlet>
