<ng-container *ngIf="nestedCategories else skeletonTemplate">
    <tui-accordion>
        <tui-accordion-item *ngFor="let category of nestedCategories" class="title" open="false"
                            [disableHover]="true">
            <div class="flex flex-wrap gap-3 justify-between">
                <div class="min-w-[20rem] flex items-center">
                    <p>{{ category.category.name }}</p>
                </div>
                <div class="min-w-[5rem] flex items-center">
                    <p>{{ category.category.question_count }} Questions</p>
                </div>
                <div class="min-w-[5rem] flex items-center float-right">
                    <button
                        (click)="openPracticePage(category.category)"
                        class="tui-space_vertical-2 justify-center"
                        size="m"
                        tuiButton
                        type="button"
                        appearance="flat"
                    >
                        Practice
                    </button>
                </div>
            </div>
            <ng-template tuiAccordionItemContent>
                <div *ngFor="let childCategory of category.children" class="event">
                    <div class="flex flex-wrap gap-3 justify-between">
                        <div class="min-w-[20rem] flex items-center">
                            <p class="type">{{ childCategory.category.name }}</p>
                        </div>
                        <div class="min-w-[5rem] flex items-center">
                            <p class="type">{{ childCategory.category.question_count }}
                                Questions</p>
                        </div>
                        <div class="min-w-[5rem] flex items-center">
                            <button
                                (click)="openPracticePage(childCategory.category)"
                                class="tui-space_vertical-2 justify-center"
                                size="m"
                                tuiButton
                                type="button"
                                appearance="flat"
                            >
                                Practice
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </tui-accordion-item>
    </tui-accordion>
</ng-container>

<ng-template #skeletonTemplate>
    <tui-accordion class="w-[60rem]">
        <tui-accordion-item class="container" open="false" [disableHover]="true">
            <div class="flex flex-wrap gap-3">
                <div class="w-[20rem] type flex items-center tui-skeleton">
                    Category
                </div>
                <div class="w-[15rem] flex items-center">
                    <button
                        class="tui-space_vertical-2 justify-center tui-skeleton"
                        size="m"
                        tuiButton
                        type="button"
                        appearance="flat"
                    >
                        Practice
                    </button>
                </div>
                <div class="w-[10rem] type flex items-center tui-skeleton">
                    0 Questions
                </div>
            </div>
            <ng-template tuiAccordionItemContent>
                <div class="event">
                    <div class="flex flex-wrap gap-3">
                        <div class="w-[20rem] type flex items-center tui-skeleton">
                            Child category
                        </div>
                        <div class="w-[15rem] flex items-center">
                            <button
                                class="tui-space_vertical-2 justify-center tui-skeleton"
                                size="m"
                                tuiButton
                                type="button"
                                appearance="flat"
                            >
                                Practice
                            </button>
                        </div>
                        <div class="w-[10rem] type flex items-center tui-skeleton">
                            0 Questions
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="flex flex-wrap gap-3">
                        <div class="w-[20rem] type flex items-center tui-skeleton">
                            Child category
                        </div>
                        <div class="w-[15rem] flex items-center">
                            <button
                                class="tui-space_vertical-2 justify-center tui-skeleton"
                                size="m"
                                tuiButton
                                type="button"
                                appearance="flat"
                            >
                                Practice
                            </button>
                        </div>
                        <div class="w-[10rem] type flex items-center tui-skeleton">
                            0 Questions
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="flex flex-wrap gap-3">
                        <div class="w-[20rem] type flex items-center tui-skeleton">
                            Child category
                        </div>
                        <div class="w-[15rem] flex items-center">
                            <button
                                class="tui-space_vertical-2 justify-center tui-skeleton"
                                size="m"
                                tuiButton
                                type="button"
                                appearance="flat"
                            >
                                Practice
                            </button>
                        </div>
                        <div class="w-[10rem] type flex items-center tui-skeleton">
                            0 Questions
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="flex flex-wrap gap-3">
                        <div class="w-[20rem] type flex items-center tui-skeleton">
                            Child category
                        </div>
                        <div class="w-[15rem] flex items-center">
                            <button
                                class="tui-space_vertical-2 justify-center tui-skeleton"
                                size="m"
                                tuiButton
                                type="button"
                                appearance="flat"
                            >
                                Practice
                            </button>
                        </div>
                        <div class="w-[10rem] type flex items-center tui-skeleton">
                            0 Questions
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="flex flex-wrap gap-3">
                        <div class="w-[20rem] type flex items-center tui-skeleton">
                            Child category
                        </div>
                        <div class="w-[15rem] flex items-center">
                            <button
                                class="tui-space_vertical-2 justify-center tui-skeleton"
                                size="m"
                                tuiButton
                                type="button"
                                appearance="flat"
                            >
                                Practice
                            </button>
                        </div>
                        <div class="w-[10rem] type flex items-center tui-skeleton">
                            0 Questions
                        </div>
                    </div>
                </div>
            </ng-template>
        </tui-accordion-item>
    </tui-accordion>
</ng-template>

