<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="p-3">
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <label for="parsonsQuestionName" class="h5 pb-2">Question Name:</label>
            <input [ngClass]="{'is-invalid': form.title.errors && form.title.touched}" class="form-control"
                   formControlName="title" id="parsonsQuestionName" type="text">
            <div *ngIf="form.title.touched && form.title.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.title.errors.required">Question Name is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <label for="parsonsDifficulty" class="h5 pb-2">Difficulty:</label>
            <select [ngClass]="{'is-invalid': form.difficulty.errors && form.difficulty.touched}" class="form-control"
                    formControlName="difficulty" id="parsonsDifficulty">
                <option value="EASY">EASY</option>
                <option value="NORMAL">MEDIUM</option>
                <option value="HARD">HARD</option>
            </select>
            <div *ngIf="form.difficulty.touched && form.difficulty.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.difficulty.errors.required">Question Difficulty is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <label for="parsonsCategory" class="h5 pb-2">Category:</label>
            <select [ngClass]="{'is-invalid': form.category.errors && form.category.touched}" class="form-control"
                    formControlName="category" id="parsonsCategory">
                <option *ngFor="let category of categories"
                        value="{{category.pk}}">{{category.full_name}}</option>
            </select>
            <div *ngIf="form.category.touched && form.category.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.category.errors.required">Question Category is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <div class="form-check">
                <input (change)="practiceCheckboxChanged($event)" [checked]="isPractice" class="form-check-input"
                       id="practiceCheckbox" type="checkbox">
                <label class="form-check-label h5 pb-2" for="practiceCheckbox">Practice Question</label>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!isPractice">
        <div class="form-row m-3 p-3">
            <div class="col-md-12">
                <label for="parsonsCourse" class="h5 pb-2">Course:</label>
                <select (change)="courseSelectionChanged($event)"
                        [ngClass]="{'is-invalid': form.course.value === null && form.course.touched}"
                        class="form-control" formControlName="course"
                        id="parsonsCourse">
                    <option [ngValue]="null" disabled>------</option>
                    <option *ngFor="let course of courses" value="{{course.id}}">{{course.name}}</option>
                </select>
                <div *ngIf="form.course.touched && form.course.value === null"
                     class="invalid-feedback">
                    <div *ngIf="!isPractice">Course is Required.</div>
                </div>
            </div>
        </div>
        <div class="form-row m-3 p-3">
            <div class="col-md-12">
                <label for="parsonsEvent" class="h5 pb-2">Event Name:</label>
                <select (change)="eventSelectionChanged($event)"
                        [ngClass]="{'is-invalid': form.event.value === null && form.event.touched}" class="form-control"
                        formControlName="event" id="parsonsEvent">
                    <option [ngValue]="null" disabled>------</option>
                    <option *ngFor="let event of events" value="{{event.id}}">{{event.name}}</option>
                </select>
                <div *ngIf="form.event.touched && form.event.value === null"
                     class="invalid-feedback">
                    <div *ngIf="!isPractice">Event is Required.</div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <label for="parsonsQuestion" class="h5 pb-2">Question:</label>
            <app-ck-editor [(value)]="questionText" id="parsonsQuestion"></app-ck-editor>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <label for="parsons_junit_template" class="h5 pb-2">JUnit Template:</label>
            <div class="text-muted">
                Please provide a JUnit template to evaluate the code.
                Identify where to insert the solution using the word "code"
            </div>
            <textarea [ngClass]="{'is-invalid': form.junit_template.errors && form.junit_template.touched}"
                      class="form-control" formControlName="junit_template"
                      id="parsons_junit_template"></textarea>
            <div *ngIf="form.junit_template.touched && form.junit_template.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.junit_template.errors.required">JUnit Template is Required.</div>
            </div>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="h5 ml-3 pb-2">Submitted Files:</div>
        <div class="col-md-12 ml-3 text-muted">
            <p>
                Specify whether each file should be compiled or not. If it is compiled then
                the file name is used to put the user code in it when compiling.
                By providing a name here a file with that name will be created in the same directory
                of your Junit code and will be compiled with your Junit code.
                This name is usually the exact name of your Java class with .java extension.
                For example if the solution has a public class Calculator, the file name should be
                Calculator.java.
            </p>
            <p>
                Regardless of whether the file is compiled or not, you can paste the file in your Junit test
                by using {{"{{"}}file_name{{"}"}}{{"}"}}.
            </p>
            <p>
                Paste the solution in the lines field. Possibly add extra lines at the end.
                Lines will be extracted and shuffled.
            </p>
        </div>
        <div class="col-md-12">
            <app-json-editor [(value)]="this.inputFiles" [name]="'parsons_input_files'"></app-json-editor>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="h5 ml-3 pb-2">Variables:</div>
        <div class="col-md-12 ml-3 text-muted">
            If you are not using variables,
            please don't add any variables
            and delete the existing ones.
        </div>
        <div class="col-md-12">
            <app-json-editor [(value)]="variables" [name]="'variables'"></app-json-editor>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <button [disabled]="formGroup.invalid || !isSubmissionValid()" class="btn btn-success" id="submit">Submit
            </button>
        </div>
    </div>
</form>
