@use './variables';
@import '~@angular/material/theming';
@import './material/custom-themes.scss';

//The following map definitions might need to be changed if the colors demand it.
@include mat-core();
$md-primary: (
    500 : $primary,
    contrast: (
        500 : #000000,
    )
);

$md-secondary: (
    500 : $secondary,
    contrast: (
        500 : #000000,
    )
);

$md-warn: (
    500 : $warning,
    contrast: (
        500 : #000000,
    )
);

$app-primary: mat-palette($md-primary);
$app-accent: mat-palette($md-secondary);
$app-warn: mat-palette($md-secondary);

$app-theme: mat-light-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
    )
));

@include angular-material-theme($app-theme);
@include custom-stepper-theme();
@include custom-table-theme();
