<div class="events">
    <ng-container *ngIf="course?.has_create_event_permission">
        <tui-island
            [hoverable]="true"
            textAlign="center"
            class="new-event"
            (click)="openEventImportDialog()"
        >
            <div class="tui-space_vertical-10">
                <figure class="tui-island__figure">
                    <tui-svg src="tuiIconPlusLarge"></tui-svg>
                </figure>
                <h2 class="tui-island__title">Add Event</h2>
            </div>
        </tui-island>
    </ng-container>
    <tui-island *ngFor="let event of events; index as i">
        <p class="tui-island__category">{{ event.type }}</p>
        <h2 class="tui-island__title">{{ event.name }}</h2>
        <div class="tui-space_bottom-2">
            <tui-tag size="m" status="success" value="Open" *ngIf="event.is_open; else eventClosedTag"></tui-tag>
            <ng-template #eventClosedTag>
                <tui-tag size="m" status="error" value="Closed"></tui-tag>
            </ng-template>
        </div>
        <p class="tui-island__paragraph">From: {{ event.start_date | date: 'EEEE, MMM d, y, h:mm a' }}</p>
        <p class="tui-island__paragraph">Until: {{ event.end_date | date: 'EEEE, MMM d, y, h:mm a' }}</p>
        <p class="tui-space_top-2">
            <ng-container *ngIf="event.is_open && event.is_exam; else totalEventGrade">
                Grade Not Yet Available
            </ng-container>
            <ng-template #totalEventGrade>
                Grade: {{ event.total_event_grade | number: '1.0-1' || 'No Grade'}}%
            </ng-template>
        </p>
        <div class="tui-form__buttons">
            <ng-container *ngIf="event.is_allowed_to_open || user?.is_teacher; else notAllowedOpen">
                <a tuiButton appearance="primary" size="m" class="tui-form__button"
                   [routerLink]="['/course', courseId, 'event', event.id]"
                >
                    {{ user.is_teacher ? 'Open' : 'Complete' }}
                </a>
            </ng-container>
            <ng-template #notAllowedOpen>
                <a tuiButton appearance="primary" size="m" class="tui-form__button" href="" [disabled]="true">
                    Complete
                </a>
            </ng-template>
            <a *ngIf="event.has_edit_permission" tuiButton appearance="primary" size="m" class="tui-form__button"
               [routerLink]="['/course', courseId, 'new-event', event.id]"
            >
                Edit
            </a>
        </div>
    </tui-island>
</div>
<ng-template
    let-observer
    #importDialog
>
    <ng-container *ngIf="courseEvents">
        <div class="import-events tui-space_top-8">
            <a
                tuiIsland
                size="s"
                [hoverable]="true"
                textAlign="center"
                class="new-event"
                [routerLink]="['/course', courseId, 'new-event']"
                (click)="observer.complete()"
            >
                <figure class="tui-island__figure">
                    <tui-svg src="tuiIconPlusLarge"></tui-svg>
                </figure>
                <h2 class="tui-island__title">Create New Event</h2>
            </a>
            <tui-island size="s" *ngFor="let event of courseEvents">
                <p class="tui-island__category">{{ event.type }}</p>
                <h3 class="tui-island__title">{{ event.name }}</h3>
                <button
                    tuiButton
                    appearance="primary"
                    size="s"
                    (click)="importCourseEvent(event, courseId)"
                >
                    Import
                </button>
            </tui-island>
        </div>
    </ng-container>
    <button tuiButton type="button" size="m" class="tui-space_top-8" (click)="observer.complete()">
        Cancel
    </button>
</ng-template>
