@import "mixins";

.events {
    @include island-grid();
}

.new-event {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.import-events {
    @include island-grid-sm();
}
