.input-date{
    width: 25rem;
}
.select{
    width: 12.5rem;
}

.tui-input-number{
    width: 12.5rem;
}

.errorMessage{
    color: var(--tui-accent);
}

.flex-box {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.flex-row {
    margin: 0 0 1rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    gap: 1rem;
}

.flex-row-no-margin {
    margin: 0 0 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    gap: 1rem;
}

.page-container {
    margin: 0 0 0 1rem;
    height: 100%;
}

.form-section {
    margin: 0 0 2rem 0;
    height: 100%;
}

.button-thin{
    height: 2rem;
}

.greyed-section{
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: var(--tui-base-02);
}

.white-section{
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: var(--tui-base-01);
}

.category-control{
    width: 32rem;
}
