<div class="tui-container tui-container_adaptive">
  <a
    [routerLink]="['..']"
    iconStart="@tui.arrow-left"
    size="s"
    tuiButton
    appearance="flat"
    >
    Back to Goals
  </a>
  @if (false) {
    <h2 class="tui-form__header">Recommended Goals</h2>
  }
  @for (goal of recommendedGoals; track goal; let i = $index) {
    <div>
      @if (false) {
        <tui-island class="shadow">
          <div class="flex">
            <div class="flex-1">
              <div class="flex space-x-1">
                <div class="tui-text_bold tui-text_body-l">
                  Duration:
                </div>
                <div>{{getRelativeTime(goal.end_date)}}</div>
              </div>
              <div class="tui-text_bold tui-text_body-l tui-space_top-3">
                Tasks:
              </div>
              <ul class="tui-list">
                @for (goalItem of goal.goal_items; track goalItem) {
                  <li class="tui-list__item">
                    {{goalItemString(goalItem)}}
                  </li>
                }
              </ul>
            </div>
            <div class="flex flex-col space-y-3">
              @if (false) {
                <button
                  tuiButton
                  size="s"
                  (click)="createGoal(goal)"
                  appearance="secondary"
                  >
                  Create Goal
                </button>
              }
              <button
                tuiButton
                size="s"
                (click)="setGoal(goal)"
                appearance="secondary"
                >
                Use This Goal
              </button>
            </div>
          </div>
        </tui-island>
      }
    </div>
  }

  <form #createGoalElement (ngSubmit)="onSubmit()" [formGroup]="goalForm">
    <h5 class="tui-text_h5 mt-3">Create New Goal</h5>
    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <tui-input-date aria-label="End Date" formControlName="end_date">
          End date
        </tui-input-date>
        <tui-error [error]="[] | tuiFieldError | async" formControlName="end_date"></tui-error>
      </div>
      <div class="tui-form__multi-field">
        <tui-input-time [items]="timeOptions" aria-label="End Time" formControlName="end_time">
          End time
        </tui-input-time>
        <tui-error [error]="[] | tuiFieldError | async" formControlName="end_time"></tui-error>
      </div>
    </div>
    <h3 class="tui-form__header">
      Tasks
      <button
        (click)="addGoalItem()"
        iconStart="@tui.plus"
        size="s"
        tuiButton
        type="button"
        class="ml-3"
        appearance="secondary"
        >
        Add Another
      </button>
    </h3>
    @for (goalItemFormControl of getGoalItemFormControls(); track goalItemFormControl; let index = $index) {
      <div
        class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-select
            [valueContent]="categories ? (categories | stringifyTuiDataList: 'pk': 'full_name') : ''"
            [formControl]="getFormControl(goalItemFormControl, 'category')"
            >
            Category
            <tui-data-list *tuiDataList>
              @for (category of categories; track category) {
                <button [value]="category.pk" tuiOption>
                  {{ category.full_name }}
                </button>
              }
            </tui-data-list>
          </tui-select>
          <tui-error [error]="[] | tuiFieldError | async" [formControl]="getFormControl(goalItemFormControl, 'category')"></tui-error>
        </div>
        <div class="tui-form__multi-field">
          <tui-select
            [valueContent]="difficulties ? (difficulties | stringifyTuiDataList: 0: 1) : ''"
            [formControl]="getFormControl(goalItemFormControl, 'difficulty')"
            >
            Difficulty
            <tui-data-list *tuiDataList>
              @for (difficulty of difficulties; track difficulty) {
                <button [value]="difficulty[0]" tuiOption>
                  {{ difficulty[1] }}
                </button>
              }
            </tui-data-list>
          </tui-select>
          <tui-error [error]="[] | tuiFieldError | async"
          [formControl]="getFormControl(goalItemFormControl, 'difficulty')"></tui-error>
        </div>
        <div class="tui-form__multi-field">
          <tui-input-number
            [formControl]="getFormControl(goalItemFormControl, 'number_of_questions')"
            [max]="getNumQuestionsLimit(goalItemFormControl)"
            >
            Number of questions
          </tui-input-number>
          <tui-error [error]="[] | tuiFieldError | async"
          [formControl]="getFormControl(goalItemFormControl, 'number_of_questions')"></tui-error>
          <div class="tui-form__field-note">
            {{getNumQuestionsLimit(goalItemFormControl)}} question(s) unsolved.
          </div>
        </div>
        <div class="tui-form__multi-field">
          <div class="flex h-full items-center">
            @if (getGoalItemFormControls().length > 1) {
              <button
                (click)="removeGoalItem(index)"
                iconStart="@tui.minus"
                size="s"
                tuiButton
                type="button"
                appearance="accent"
                >
                Delete
              </button>
            }
          </div>
        </div>
      </div>
    }
    <div class="tui-form__buttons">
      <button
        [disabled]="goalForm.invalid"
        class="tui-form__button"
        size="m"
        tuiButton
        >
        Create Goal
      </button>
    </div>
  </form>
</div>
