<h1 class="tui-text_h3 tui-space_top-10 tui-space_bottom-2">Create Goal</h1>
<br>
<hr>
<p class="tui-island__paragraph tui-text_body-l">
    Recommended goals:
</p>
<br>
<div class="tui-col_md-5">

    <tui-island size="m">
        <div class="tui-island__content">
            <div class="tui-island__figure">
                <div class="tui-row">
                    <h2 class="tui-text_body-s">Solve 15 easy problems from Basics -> Variables</h2>
                    <div class="tui-island__figure" style="position: absolute; right: 0;">
                        <button
                            tuiButton
                            type="button"
                            appearance="primary"
                            size="m"
                            class="tui-space_right-6 tui-space_bottom-6"
                        >Create this goal
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </tui-island>
</div>

<br>
<hr>
<p class="tui-island__paragraph tui-text_body-l">
    Build your own goal:
</p>
<br>
<div class="tui-col">
    <div class="tui-row">
        <h2 class="tui-text_body-l"
            style="margin: 15px 0 0 50px;"
        >
            Set the end date:
        </h2>
        <tui-input-date
            tuiUnfinishedValidator="Finish filling the field"
            formControlName="testValue"

        >
            End Date
        </tui-input-date>
    </div>
    <br>
    <div class="tui-row" style="margin: 0 0 0 20px;">
        <tui-select
            class="control"
        >
            Category
        </tui-select>
        <tui-select
            class="control"
        >
            Difficulty
        </tui-select>
        <tui-input-number
        >
            Number of Questions
        </tui-input-number>
        <button
            tuiButton
            type="button"
            appearance="accent"
            class="tui-space_right-3 tui-space_bottom-3"
            style="margin: 0 20px 0 20px;"
        >
            Delete
        </button>
        <button
            tuiButton
            type="button"
            appearance="primary"
            class="tui-space_right-3 tui-space_bottom-3"
            style="margin: 0 20px 0 0;"
        >
            Add Task
        </button>
    </div>
    <br>
    <button
        tuiButton
        type="button"
        appearance="primary"
        class="tui-space_right-3 tui-space_bottom-3"
        style="margin: 0 0 0 20px;"
    >
        Create Goal
    </button>
</div>
