tui-input-date{
    width: 400px;
}
tui-select{
    width: 200px;
}

.flex-box {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.flex-row {
    margin: 0 0 0 20px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 20px;
}
