<div class="tui-container tui-container_fullwidth">
    <h1 class="tui-text_h3">Token Values</h1>
    <p class="tui-island__paragraph tui-text_body-xl flex-space tui-space_vertical-5">
        Select the value you wish to edit and submit to save.
    </p>
    <tui-loader [overlay]="true" [showLoader]="!tokenValues">
        <table *ngIf="difficulties" [columns]="tableColumns" tuiTable>
            <thead tuiThead>
            <tr tuiThGroup>
                <th *tuiHead="'name'" [sorter]="null" tuiTh>Category Name</th>
                <ng-container *ngFor="let difficulty of difficulties">
                    <th *tuiHead="difficulty[0]" [sorter]="null" tuiTh>{{ difficulty[1] }}</th>
                </ng-container>
            </tr>
            </thead>
            <tbody
                *ngFor="let tokenValue of tokenValues"
                [data]="tokenValue.children"
                [heading]="tokenValue.category_name"
                tuiTbody
            >
            <tr *tuiRow="let childTokenValue of tokenValue.children" tuiTr>
                <td *tuiCell="'name'" tuiTd>
                    {{ childTokenValue.category_name }}
                </td>
                <ng-container *ngFor="let tokenVal of childTokenValue.token_values">
                    <td *tuiCell="tokenVal.difficulty" tuiTd>
                        <tui-input-count
                            [(ngModel)]="tokenVal.value"
                            [ngModelOptions]="{updateOn: 'blur'}"
                        ></tui-input-count>
                    </td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </tui-loader>
    <div class="tui-form__buttons">
        <button (click)="submit()" appearance="primary" class="tui-form__button" size="m" tuiButton>Submit</button>
    </div>
</div>
