<form [formGroup]="tokenValueTable">
	<table>
		<thead>
			<th>Category Name</th>
			<th>Difficulty</th>
			<th>Value</th>
		</thead>
		<tbody>
    <ng-container formArrayName="categoryRows" *ngFor="let group of getFormControls.controls; let i=index">
			<tr [formGroupName]="i">
				<td>
          <input type="text" formControlName="token_val">
        </td>
        <td>
          <input type="text" formControlName="Difficulty">
        </td>
        <td>
          <input type="text" formControlName="Value">
        </td>
			</tr>
    </ng-container>
		</tbody>
	</table>
  <div class="action-container">
      <button type="submit" (click)="submitForm()">Submit</button>
    </div>
</form>

