<form [formGroup]="tokenValueTable">
	<table>
		<thead>
			<th>Category Name</th>
			<th>Easy</th>
			<th>Medium</th>
      <th>Hard</th>
		</thead>
		<tbody>
    <ng-container formArrayName="categoryRows" *ngFor="let group of getFormControls.controls; let i=index">
			<tr [formGroupName]="i">
				<td>
          <input type="text" formControlName="Category_Name">
        </td>
        <td>
          <input type="text" formControlName="Easy">
        </td>
        <td>
          <input type="text" formControlName="Medium">
        </td>
        <td>
          <input type="text" formControlName="Hard">
        </td>
			</tr>
    </ng-container>
		</tbody>
	</table>
  <div class="action-container">
      <button type="submit" (click)="submitForm()">Submit</button>
    </div>
</form>

