<div class="tui-container tui-container_adaptive">
    <header class="header tui-row tui-row_adaptive">
        <div class="left-content tui-col_lg-7 tui-col_md-8 tui-col_xs-12">
            <h1 class="tui-text_h1 tui-space_top-0">A Free Platform to Practice Programming</h1>
            <p class="tui-island__paragraph tui-text_body-xl">
                Practice your programming skills with thousands of questions
            </p>
            <div class="tui-form__buttons">
                <a
                    tuiButton
                    size="l"
                    appearance="primary"
                    class="tui-form__button"
                    iconRight="tuiIconArrowUpRight"
                    routerLink="homepage"
                >
                    Get Started
                </a>
                <button tuiButton size="l" appearance="flat" class="tui-form__button" (click)="goToServices()">
                    Find Out More
                </button>
            </div>
        </div>
        <div class="right-content tui-col_lg-5 tui-col_md-4 tui-col_xs-12">
            <div class="pattern-background"></div>
            <div class="editor">
                <app-ace
                    [template]='"public static void main(String args[])\n"+
                                "{\n"+
                                "    System.out.println(\"Hello, World!\");\n"+
                                "}"'
                ></app-ace>
            </div>
        </div>
    </header>

    <section class="services tui-row tui-row_adaptive" #services>
        <div class="tui-col_lg-5 tui-col_md-4 tui-col_xs-12">
            <h2 class="tui-text_h3">Our Services</h2>
            <p class="tui-island__paragraph tui-text_body-l">
                Providing you with the best ways to improve
            </p>
        </div>
        <div class="tui-col_lg-7 tui-col_md-8 tui-col_xs-12">
            <tui-island>
                <div class="tui-island__content">
                    <figure class="tui-island__figure">
                        <tui-marker-icon size="s" src="tuiIconOLLarge"></tui-marker-icon>
                    </figure>
                    <div>
                        <h3 class="tui-island__title">Practice</h3>
                        <p class="tui-island__paragraph">Practice from thousands of questions.</p>
                    </div>
                </div>
            </tui-island>
            <tui-island>
                <div class="tui-island__content">
                    <figure class="tui-island__figure">
                        <tui-marker-icon size="s" src="tuiIconCodeLarge"></tui-marker-icon>
                    </figure>
                    <div>
                        <h3 class="tui-island__title">Assignments</h3>
                        <p class="tui-island__paragraph">Do your assignments here.</p>
                    </div>
                </div>
            </tui-island>
            <tui-island>
                <div class="tui-island__content">
                    <figure class="tui-island__figure">
                        <tui-marker-icon size="s" src="tuiIconStarLarge"></tui-marker-icon>
                    </figure>
                    <div>
                        <h3 class="tui-island__title">Exams</h3>
                        <p class="tui-island__paragraph">Do your exams here.</p>
                    </div>
                </div>
            </tui-island>
            <tui-island>
                <div class="tui-island__content">
                    <figure class="tui-island__figure">
                        <tui-marker-icon size="s" src="tuiIconChartLineLarge"></tui-marker-icon>
                    </figure>
                    <div>
                        <h3 class="tui-island__title">Bonus Marks</h3>
                        <p class="tui-island__paragraph">Get extra grades by practicing!</p>
                    </div>
                </div>
            </tui-island>
        </div>
    </section>

    <!-- Header -->
    <!--    <header class="masthead d-flex">-->
    <!--        <div class="container text-center my-auto">-->
    <!--            <h1 class="mb-5">Canvas Gamification</h1>-->
    <!--            <h3 class="mb-5">-->
    <!--                <em>A Free Platform to Practice Programming</em>-->
    <!--            </h3>-->
    <!--            <a class="btn btn-primary btn-xl js-scroll-trigger m-3" routerLink="topics">Topics</a>-->
    <!--            <a class="btn btn-primary btn-xl js-scroll-trigger m-3" routerLink="sample-questions">Sample Question</a>-->
    <!--            <a class="btn btn-primary btn-xl js-scroll-trigger m-3" routerLink="contact">Contact Us</a>-->
    <!--        </div>-->
    <!--        <div class="overlay"></div>-->
    <!--    </header>-->

    <!-- About -->
    <section class="tui-row tui-row_adaptive">
        <div class="tui-col_lg-5 tui-col_md-5 tui-col_xs-12">
            <h2>What is this Gamification Website About?</h2>
        </div>
        <div class="tui-col_lg-5 tui-col_md-5 tui-col_xs-12">
            <p class="tui-text_body-l">
                Some students have told us they wanted more practice questions, while at the
                same time, some students protested about the heavy workload in the course. As a solution, we
                have developed this Gamification website to provide practice questions for you. The great thing
                is that doing the practice questions is completely optional. And, if you do the practice
                questions, you will earn tokens. When you have collected enough tokens, you can trade them in
                for marks in the course! That means, the more you practice here, the more you are able to make
                up for lost marks on assignments and exams (based on pre-set rules). We hope that this setup is
                flexible enough to accommodate those who want more practice with programming, those who are
                willing to do extra work to improve their marks in the course, and those who are simply happy
                with the way the course is. As an added bonus, we have developed novel exercises that will
                hopefully entice young students like yourselves. We have also dedicated a lot of time to
                incorporate different types of exercises and question formats, tailored towards students at
                different skill levels. We hope to improve the learning experience for all first year CS
                students.
            </p>
        </div>
    </section>

    <section>

    </section>

    <footer class="footer tui-row tui-row_adaptive">
        <div class="tui-col-12 tui-space_bottom-4">
            <div class="footer-logo">
                <img [src]="logoPath" alt="Canvas Gamification Logo" class="tui-space_right-2">
                <span class="tui-text_h6">Canvas Gamification</span>
            </div>
        </div>
        <hr/>
        <div class="footer-bottom tui-col-12 tui-space_top-4 tui-space_bottom-10">
            <ul class="footer-links">
                <li>
                    <a
                        tuiIconButton
                        appearance="icon"
                        size="xs"
                        href="https://www.facebook.com/universityofbc"
                        target="_blank"
                        icon="tuiIconCodeLarge"
                    >
                    </a>
                </li>
                <li>
                    <a
                        tuiIconButton
                        appearance="icon"
                        size="xs"
                        href="https://github.com/canvas-gamification/canvas-gamification-ui"
                        target="_blank"
                        icon="tuiIconCodeLarge"
                    >
                    </a>
                </li>
                <li>
                    <a
                        tuiIconButton
                        appearance="icon"
                        size="xs"
                        href="https://github.com/canvas-gamification/canvas-gamification"
                        target="_blank"
                        icon="tuiIconCodeLarge"
                    >
                    </a>
                </li>
            </ul>
            <p class="tui-island__paragraph tui-space_vertical-0 tui-text_body-l-2">2022 &copy; Canvas Gamification</p>
        </div>
    </footer>
</div>
