@import '~@taiga-ui/core/styles/taiga-ui-local';
@import 'mixins';

.header {
    height: clamp(40rem, calc(100vh - 4rem), 50rem);

    @include screen-sm() {
        height: 100vh;
    }

    .left-content {
        margin: auto 0;

        h1 {
            font-size: 4rem;
        }
    }

    .right-content {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        @include screen-sm() {
            display: none;
        }

        .pattern-background {
            position: absolute;
            top: 15%;
            right: 0;
            width: 20rem;
            height: 70%;
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill-opacity='.25'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

            @include screen-md() {
                top: 15%;
                right: 10%;
                width: 80%;
            }
        }

        .editor {
            position: relative;
            width: 90%;
            height: 20rem;
            border-radius: var(--tui-radius-m);
            overflow: auto;
            @include shadow(2);

            @include screen-md() {
                width: 100%;
            }
        }
    }
}

.header-background {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: var(--tui-accent);
}

.section {
    padding: 2rem 0;

    &-services {
        padding: 5rem 0;
        background-color: var(--tui-base-02);

        .custom-icons {
            color: var(--tui-primary);
        }
    }

    &-action {
        padding: 3rem 0;
        color: var(--tui-text-01-night);
        background-color: var(--tui-primary);

        .center-button {
            margin: 0 auto;
        }
    }

    &-features {
        padding: 5rem 0;
        background-color: var(--tui-base-02);

        .features {
            & > * {
                padding-bottom: 1.5rem;
                border-right: 1px solid var(--tui-base-04);

                &:last-child {
                    border-right: none;
                }

                @include screen-sm() {
                    border-right: none;
                }
            }

            &-title {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    &-canvas {
        &_logo {
            display: flex;
            justify-content: center;

            img {
                width: 25rem;
                height: auto;
                margin: 0 auto;
            }
        }
    }
}

.center-header {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;

    &-logo {
        display: flex;
        align-items: center;

        img {
            border-radius: 999px;
            width: 2rem;
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
    }

    &-links {
        display: flex;
        gap: 1rem;
    }
}
