<div>
    <h1>Course Registration</h1>
    <div>
        <h6>Please verify this is your full name:</h6>
    </div>
    <form class="form-inline" method="post">
        <div class="form-group">
            <label class="sr-only" for="inline_form_input2">Your Full Name:</label>
            <input class="form-control" id="inline_form_input2" type="text" name="confirmed_name"
                   [attr.value]='guessedName'/>
            <button type="submit" class="btn btn-success ml-2">Confirm</button>
            <button type="button" class="btn btn-outline-danger ml-2" onclick="location = location">Try Again</button>
        </div>
    </form>
</div>
