<div class="sticky">
    <h2 class="tui-text_h4 tui-space_bottom-8">Courses</h2>
    <tui-loader [overlay]="true" [showLoader]="!courseData">
        <tui-scrollbar class="overflow-scroll" *ngIf="courseData">
            <tui-island class="tui-space_bottom-4" *ngFor="let course of courseData">
                <h3 class="tui-island__title">{{ course.name }}</h3>
                <p class="tui-island__paragraph">
                    URL: {{ course.url }}
                </p>
                <p class="tui-island__paragraph">
                    Start Date: {{ course.start_date }}
                </p>
                <p class="tui-island__paragraph">
                    End Date: {{ course.end_date }}
                </p>
            </tui-island>
        </tui-scrollbar>
    </tui-loader>
</div>
