@import "mixins";

.courses {
    @include sidebar(right, 20rem);

    @include screen-sm() {
        margin-top: var(--tui-padding-l);
    }

    &-islands {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
