<h2 [class.tui-skeleton]="!category" class="tui-text_h5 heading">{{ category ? category.name : 'Category Name' }}</h2>
<ul class="tui-list">
    <li [class.tui-skeleton]="!category" class="tui-list__item">Your Success: {{ userSuccessRate }}</li>
    <li [class.tui-skeleton]="!category" class="tui-list__item">Average Success: {{ category?.average_success }}</li>
</ul>
<button (click)="closeDialog()" appearance="primary" aria-label="Close" class="tui-space_top-4" size="m" tuiButton>
    Close
</button>
<button (click)="goToPractice()" appearance="primary" aria-label="Close" class="tui-space_top-4 tui-space_left-4"
        size="m"
        tuiButton>
    Practice
</button>
