<h2 class="tui-text_h5 heading" [class.tui-skeleton]="!category">{{ category ? category.name : 'Category Name' }}</h2>
<ul class="tui-list">
    <li class="tui-list__item" [class.tui-skeleton]="!category">Your Success: {{ userSuccessRate }}</li>
    <li class="tui-list__item" [class.tui-skeleton]="!category">Average Success: {{ category?.average_success }}</li>
</ul>
<button tuiButton appearance="primary" size="m" class="tui-space_top-4" aria-label="Close" (click)="closeDialog()">
    Close
</button>
