<tui-island class="course-island" size="m">
    <ng-container *ngIf="!skeleton else skeletonTemplate">
        <div
            [style.backgroundColor]="course.name | getColorFromString"
            class="course-background"
        ></div>
        <h2 class="tui-island__title">{{ course.name }}</h2>
        <tui-tag
            [status]="course.status === STATUS.active ? 'success' : course.status === STATUS.blocked ? 'error' : course.status === STATUS.pending ? 'warning' : 'default'"
            [value]="course.status"
            class="tui-space_right-2"
            size="m"
        ></tui-tag>
        <tui-tag
            [status]="course.is_registered ? 'success' : 'warning'"
            [value]="course.is_registered ? 'Registered' : 'Not Registered'"
            size="m"
        ></tui-tag>
        <div class="tui-form__buttons">
            <a
                *ngIf="hasViewPermission && endDate > currentDate"
                [routerLink]="['/course', course.id]"
                appearance="primary"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                Open
            </a>
            <a
                *ngIf="!course.is_registered && endDate > currentDate"
                [appearance]="hasViewPermission ? 'whiteblock-active' : 'primary'"
                [routerLink]="['/course', course.id, 'register']"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                Register
            </a>
            <a
                *ngIf = "endDate < currentDate && user.is_teacher"
                [appearance]="hasViewPermission ? 'whiteblock-active' : 'primary'"
                [routerLink]="['/course', course.id, 'register']"
                class="tui-form__button"
                size="m"
                tuiButton
            >
                View
            </a>

        </div>
    </ng-container>
    <ng-template #skeletonTemplate>
        <div class="course-background tui-skeleton"></div>
        <h2 class="tui-island__title tui-space_top-4 tui-skeleton tui-skeleton_short">content</h2>
        <tui-tag class="tui-space_right-2 tui-skeleton" size="m" value="content-tag"></tui-tag>
        <tui-tag class="tui-skeleton" size="m" value="content-tag"></tui-tag>
        <div class="tui-form__buttons">
            <a
                class="tui-form__button tui-skeleton"
                size="m"
                tuiButton
            >
                content
            </a>
            <a
                class="tui-form__button tui-skeleton"
                size="m"
                tuiButton
            >
                content
            </a>
        </div>
    </ng-template>
</tui-island>
