<div class="container podium-container">
    <div *ngFor="let team of teamTopThree; let i = index" [ngClass]="{'first' : i == 0, 'second' : i == 1, 'third' : i == 2}"
         class="podium-wrapper">
        <div class="podium-content">
            <h2 class="podium-title">
                {{team.name | titlecase}}
            </h2>
            <p class="podium-body">Place: {{ i + 1}}</p>
            <p class="podium-body">Tokens: {{team.tokens || 'No Tokens'}}</p>
        </div>
    </div>
</div>

<table [dataSource]="teamLeaderBoardData" class="table table-hover hover-shadow" mat-table matSort matSortActive="token"
       matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="rank">
        <th *matHeaderCellDef mat-header-cell>Rank</th>
        <td *matCellDef="let i = index" mat-cell>{{i + 4}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name || 'Anon'}}</td>
    </ng-container>
    <ng-container matColumnDef="token">
        <th *matHeaderCellDef mat-header-cell>Tokens</th>
        <td *matCellDef="let element" mat-cell> {{element.tokens || 'No Tokens'}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
