<form [formGroup]="mcqFormData" (ngSubmit)="onSubmit(mcqFormData)">
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqQuestionName">Question Name:</label>
            <input class="form-control" formControlName="title" type="text" id="mcqQuestionName">
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqDifficulty">Difficulty</label>
            <select class="form-control" formControlName="difficulty" id="mcqDifficulty">
                <option value="EASY">EASY</option>
                <option value="NORMAL">MEDIUM</option>
                <option value="HARD">HARD</option>
            </select>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqCategory">Category:</label>
            <select class="form-control" formControlName="category" id="mcqCategory">
                <option *ngFor="let category of categories" value="{{category.pk}}">{{category.full_name}}</option>
            </select>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqCourse">Course:</label>
            <select class="form-control" formControlName="course" id="mcqCourse" (change)="courseSelectedEvent($event)">
                <option *ngFor="let course of courses" value="{{course.id}}">{{course.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqEvent">Event Name:</label>
            <select class="form-control" formControlName="event" id="mcqEvent">
                <option *ngFor="let event of events" value="{{event.id}}">{{event.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqQuestion">Question:</label>
            <app-ck-editor [(value)]="questionText" id="mcqQuestion"></app-ck-editor>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6">
            <label for="mcqCorrectAnswer">Correct Answer:</label>
            <app-ck-editor [(value)]="questionText" id="mcqCorrectAnswer"></app-ck-editor>
        </div>
    </div>
    <div class="form-row m-3 p-3">
        <div class="col-md-6>">
            <h3>Distract Answers:</h3>
            <label class="radio-inline mx-1">
                <input name="visible_distractor_count" type="radio" value="999"
                       formControlName="visible_distractor_count">All
            </label>
            <label class="radio-inline mx-1">
                <input name="visible_distractor_count" type="radio" value="2"
                       formControlName="visible_distractor_count">2
            </label>
            <label class="radio-inline mx-1">
                <input name="visible_distractor_count" type="radio" value="3"
                       formControlName="visible_distractor_count">3
            </label>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <table>
                <tbody>
                <tr *ngFor="let control of distract.controls; index as i">
                    <td class="p-3">
                        <app-ck-editor [(value)]="distract.controls[i]"></app-ck-editor>
                    </td>
                    <td class="p-3">
                        <button type="button" class="btn btn-danger m-auto" (click)="removeChoice(i)">Remove</button>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <td colspan="2" class="p-3">
                        <button type="button" class="btn btn-primary m-auto" (click)="addChoice()">Add Another</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <app-json-editor [(value)]="this.variables" [name]="'variables'"></app-json-editor>
        </div>
        <div class="col-md-6">
            If you are not using variables,
            please don't add any variables
            and delete the existing ones.
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <button class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
