<main class="tui-container tui-container_adaptive">
    <h1 class="title tui-text_h3 tui-space_vertical-10">Frequently Asked Questions</h1>
    <app-faq-accordion></app-faq-accordion>
    <div class="more-questions tui-space_top-8">
        <h2 class="tui-text_h5">Still Have Questions?</h2>
        <nav>
        <p class="tui-island__paragraph">
            If you can't find the question you're looking for, feel free to <a routerLink="../contact" tuiLink>contact us!</a>
        </p>
        </nav>
    </div>
</main>
