<div class="line"></div>
<div class="flex flex-col md:flex-row">
  <app-sidebar sidebarId="leaderBoardPageSide">
    <a
      [routerLink]="['/course', courseId, 'homepage']"
      iconStart="@tui.arrow-left"
      appearance="flat"
      class="my-3"
      size="m"
      tuiButton
      >
      Back to homepage
    </a>
    @if (course) {
      <div class="space-y-2">
        @for (option of options; track option) {
          <div
            (click)=setSelectedOption(option)
            class="cursor-pointer clickable p-2 rounded-lg"
                    [ngClass]="{
                        'clicked font-bold': isSelectedOption(option)
                    }"
            >
            {{option.name}}
          </div>
          <div class="border-t border-base3"></div>
        }
      </div>
    } @else {
      <div class="space-y-2">
        @for (option of [0, 0, 0, 0]; track option) {
          <div
            class="cursor-pointer clickable p-2 rounded-lg tui-skeleton"
            >
            This is the leaderboard
          </div>
          <div class="border-t border-base3"></div>
        }
      </div>
    }
  </app-sidebar>
  <div class="flex-grow tui-container tui-container_fullwidth">
    <app-leader-board
      [course]="course"
      [eventId]="selectedOption?.eventId"
      [leaderBoardName]="selectedOption?.name"
    ></app-leader-board>
  </div>

</div>
