@import "mixins";

.border-base3 {
    border-color: var(--tui-background-neutral-1-hover)
}

.clickable:hover {
    background-color: var(--tui-background-base-alt);
}

.clicked {
    background-color: var(--tui-background-base-alt);
}

.line {
    border-top: 1px solid var(--tui-background-neutral-1-hover);
}
