<div class="leaderBoardPage">
    <app-sidebar sidebarId="leaderBoardPageSide">
        <a
            [routerLink]="['/course', courseId, 'homepage']"
            icon="tuiIconArrowLeft"
            appearance="flat"
            size="m"
            tuiButton
        >
            Back to homepage
        </a>
        <ng-container *ngFor="let option of options">
            <div
                (click) = setSelectedOption(option)
            >
                {{option.name}}
            </div>
        </ng-container>
    </app-sidebar>
    <app-leader-board [courseId]="courseId" [eventId]="selectedOption.eventId"></app-leader-board>
</div>
