<tui-island>
    <h2 class="tui-island__title tui-space_bottom-6">Active Courses</h2>
    <div class="course-islands">
        <ng-container *ngIf="activeCourses else waitingActive">
            <ng-container *ngIf="activeCourses.length > 0">
                <ng-container *ngFor="let course of activeCourses">
                    <app-course-island [course]="course"></app-course-island>
                </ng-container>
            </ng-container>
            <ng-container>
                <tui-island [hoverable]="true" [routerLink]="['/course']" size="m" textAlign="center">
                    <div class="more-courses-island">
                        <div class="tui-space_vertical-12">
                            <figure class="tui-island__figure">
                                <tui-svg src="tuiIconAddRowLarge"></tui-svg>
                            </figure>
                            <h2 class="tui-island__title">
                                Looking for {{ activeCourses?.length > 0 ? 'more' : '' }} courses?
                            </h2>
                        </div>
                    </div>
                </tui-island>
            </ng-container>
        </ng-container>
        <ng-template #waitingActive>
            <app-course-island *ngFor="let _ of [0, 0, 0]" [skeleton]="true"></app-course-island>
        </ng-template>
    </div>
</tui-island>
