@import "mixins";
@import '~@taiga-ui/core/styles/taiga-ui-local';

.admin {
    display: flex;

    @include screen-sm() {
        flex-direction: column;
    }

    &-content {
        flex: 1;
    }
}

.export-icon {
    @include transition(transform);
    transition-duration: 300ms;

    &_rotated {
        transform: rotate(180deg);
    }
}
