<div class="tui-container tui-container_adaptive space-y-3">
    <button
        tuiButton
        appearance="flat"
        icon="tuiIconArrowLeft"
        size="s"
        [routerLink]="['..']"
    >
        Back to event
    </button>
    <h3 class="tui-text_h3">Event Stats</h3>
    <tui-island *ngFor="let stat of stats" class="shadow space-y-3">
        <h4 class="tui-text_h4">
            {{stat.question.title}}
        </h4>
        <div *ngFor="let answer of stat.answers | keyvalue">
            {{answer.key}}: {{answer.value}}
        </div>
    </tui-island>
</div>
