<!-- TODO: (Taiga UI migration) labels positioning on x axes were updated. Add empty string to axisXLabels array. See https://taiga-ui.dev/charts/axes -->
<tui-axes
    [axisXLabels]="labelsX"
    
    axisYName="Number of Submissions"
    [axisYLabels]="labelsY"
    class="h-80"
>
    <tui-bar-chart
        [value]="value"
        [tuiHintContent]="hint"
        [size]="null"
        [max]="getMax()"
    >
    </tui-bar-chart>
</tui-axes>
<div class="tui-text_body-xs label text-center pt-3">
    Choices
</div>
<ng-template
    #hint
    let-setIndex
>
    {{value[0][setIndex]}}
</ng-template>
