
<ng-container>
    <a class="btn btn-primary my-2 mr-3"  [routerLink]="['/course', courseId, 'new-team']">Create A Team</a>
</ng-container>
<hr/>
<table class="table table-hover mt-1" data-toggle="table">
    <thead class="thead-light text-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container>
            <ng-container *ngFor="let team of teams; index as i">
                <tr>
                    <td>{{ team.name || 'N/A'}}</td>
                    <td>
                        <button type="submit" value={{team.id}} class="btn btn-primary my-2 mr-3" 
                            (click)="joinHandler($event)" *ngIf="teamRegistration.team_id!=team.id; else leaveTeam">Join</button>
                        <ng-template #leaveTeam>
                            <button type="submit" value={{team.id}} class="btn btn-primary my-2 mr-3" 
                                (click)="leaveHandler($event)">Leave</button>
                        </ng-template>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody> 
</table>

