<!-- <table mat-table [dataSource]="teamListData" class="table table-hover hover-shadow">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef >Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name || 'Anon'}}</td>
    </ng-container>
    <ng-container matColumnDef="tokens">
        <th mat-header-cell *matHeaderCellDef >Tokens</th>
        <td mat-cell *matCellDef="let element"> {{element.tokens || 'No Tokens'}}</td>
    </ng-container> 
    <ng-container matColumnDef="join">
        <th mat-header-cell *matHeaderCellDef>Join</th>
        <td mat-cell>Join</td> 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<ng-container>
    <a class="btn btn-primary my-2 mr-3"  [routerLink]="['/course', courseId, 'new-team']">Create A Team</a>
</ng-container>
<hr/>
<table class="table table-hover mt-1" data-toggle="table">
    <thead class="thead-light text-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
        <ng-container>
            <ng-container *ngFor="let team of teams; index as i">
                <tr>
                    <td>{{ team.name || 'N/A'}}</td>
                    <td>         
                        <div class="btn-container">
                            <ng-container>
                                <a class="btn btn-primary mr-3" href="#">Join</a>
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody> 
</table>

