<p>Available Tokens: <span id="available_tokens">{{ courseReg.total_tokens_received }}</span></p>
<p id="remaining_tokens_text">Remaining Tokens:
  <span id="remaining_tokens">{{ courseReg.available_tokens }}</span></p>
<form method="post">
  <table class="table table-hover" data-toggle="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Assignment&nbsp;Name</th>
      <th scope="col">Tokens&nbsp;Required</th>
      <th scope="col">Extra&nbsp;Grade&nbsp;Given</th>
      <th scope="col">Max&nbsp;Use</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="tokenUseOptions">
      <ng-container *ngFor="let option of tokenUseOptions; index as i">
        <tr>

          <td>{{ i+1 }}</td>
          <td>{{ option.assignment_name }}</td>
          <td id="req_tokens_{{ option.id }}">{{ option.tokens_required }}</td>
          <td>{{ option.points_given }}</td>
          <td>{{ option.maximum_number_of_use }}</td>
          <td>
            <span class="bg-danger action-buttons fa-minus"><fa-icon [icon]=faMinus class="fa button-icon fa-minus"></fa-icon></span>
            <input class="no-spin-button token-input" [attr.name]="'token_use'+ option.id"
                                   [attr.id]="'#TokenUseAction' + option.id"
                                   type="number" placeholder="0" [attr.max]="option.maximum_number_of_use">
            <!--Issue: option related things in this input tags are undefined. Why?-->
            <span class="bg-success action-buttons fa-plus"> <fa-icon [icon]=faPlus class="fa button-icon fa-plus"></fa-icon></span>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
  <button class="my-1 btn btn-primary" id="submit_button">Confirm Changes</button>
</form>
