@import '~@taiga-ui/core/styles/taiga-ui-local';
@import "mixins";

.course-islands {
    @include island-grid();

    .course-island {
        overflow: hidden;

        .course-background {
            width: 110%;
            height: 3rem;
            margin-top: -1rem;
            margin-left: -1rem;
            @include tui-space(bottom, 3);
        }
    }
}
