<section class="tui-container tui-container_fullwidth">
    <h1 class="tui-text_h3 tui-space_vertical-10">Course List</h1>
    <tui-input
        class="tui-space_bottom-4"
        icon="tuiIconSearchLarge"
        aria-label="Search Courses"
        [(ngModel)]="courseNameSearch"
        [tuiTextfieldCleaner]="true"
    >
        Search Courses
    </tui-input>
    <div class="course-islands">
        <ng-container *ngIf="allCourses else skeletons">
            <ng-container *ngFor="let course of allCourses">
                <app-course-island [course]="course" [hasViewPermission]="user | userHasCourseViewPermissions: course"></app-course-island>
            </ng-container>
        </ng-container>
        <ng-template #skeletons>
            <ng-container *ngFor="let _ of [0, 0, 0, 0, 0, 0]">
                <app-course-island [skeleton]="true"></app-course-island>
            </ng-container>
        </ng-template>
    </div>
</section>
