@import "mixins";

.divide {
    &:not(:last-child) {
        border-bottom: solid 1px var(--tui-base-03);
        margin: 0;
        padding-bottom: 20px;
    }

    &:not(:first-child) {
        padding-top: 20px;
    }
}

.challengePage {
    display: flex;
    flex-direction: column;
}

.accordionContainer, .toolBar {
    align-self: center;
    width: 90%;
}

.borderB {
    border-bottom: solid 1px var(--tui-base-03);
}
