<div class="flex flex-col gap-5">
    <ng-container *ngIf="course else skeletonTemplate">

        <div class="flex justify-end toolBar">
            <div class="flex justify-start toolBar">
                <button
                    appearance="flat"
                    [routerLink]="['..']"
                    icon="tuiIconArrowLeft"
                    aria-label="Back to Homepage"
                    size="s"
                    tuiButton
                >
                    Back to Homepage
                </button>
            </div>
            <button
                *ngIf="course?.has_create_challenge_permission"
                [routerLink]="['/course', courseId, 'challenge', 'create']"
                icon="tuiIconPlus"
                appearance="secondary"
                aria-label="Add Challenge"
                size="m"
                tuiButton
            >
                Add Challenge
            </button>
        </div>
        <tui-accordion class="accordionContainer" [closeOthers]="false">
            <tui-accordion-item class="title" open="true" [disableHover]="true">
                Current Challenges
                <ng-template tuiAccordionItemContent>
                    <ng-container *ngIf="currentEvents.length > 0">
                        <div *ngFor="let challenge of currentEvents" class="divide">
                            <app-challenge-row
                                [event]="challenge"
                                (reload)="init()"
                            >
                            </app-challenge-row>
                        </div>
                    </ng-container>
                    <div *ngIf="currentEvents.length === 0" class="text-center">
                        Looks like there are no current challenges at the moment.
                    </div>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item class="title" open="true">
                Upcoming Challenges
                <ng-template tuiAccordionItemContent>
                    <ng-container *ngIf="upcomingEvents.length > 0">
                        <div *ngFor="let challenge of upcomingEvents" class="divide">
                            <app-challenge-row
                                [event]="challenge"
                            >
                            </app-challenge-row>
                        </div>
                    </ng-container>
                    <div *ngIf="upcomingEvents.length === 0" class="text-center">
                        Looks like there are no upcoming challenges at the moment.
                    </div>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item class="title" open="true">
                Past Challenges
                <ng-template tuiAccordionItemContent>
                    <ng-container *ngIf="pastEvents.length > 0">
                        <div *ngFor="let challenge of pastEvents" class="divide">
                            <app-challenge-row
                                [event]="challenge"
                            >
                            </app-challenge-row>
                        </div>
                    </ng-container>
                    <div *ngIf="pastEvents.length === 0" class="text-center">
                        Looks like there are no past challenges at the moment.
                    </div>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-container>
    <ng-template #skeletonTemplate>
        <div class="flex justify-end toolBar">
            <button
                *ngIf="course?.has_create_event_permission"
                class="tui-skeleton"
                icon="tuiIconPlus"
                appearance="secondary"
                aria-label="Add Challenge"
                size="m"
                tuiButton
            >
                Content
            </button>
        </div>
        <tui-accordion class="accordionContainer" [closeOthers]="false">
            <tui-accordion-item class="title" open="true" [disableHover]="true">
                Current Challenges
                <ng-template tuiAccordionItemContent>
                    <div class="pb-5">
                        <div class="tui-skeleton">content</div>
                        <div class="tui-skeleton">Content</div>
                    </div>
                    <div class="borderB"></div>
                    <div class="pt-5">
                        <div class="tui-skeleton">content</div>
                        <div class="tui-skeleton">Content</div>
                    </div>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item class="title" open="true" [disableHover]="true">
                Upcoming Challenges
                <ng-template tuiAccordionItemContent>
                    <div class="pb-5">
                        <div class="tui-skeleton">content</div>
                        <div class="tui-skeleton">Content</div>
                    </div>
                    <div class="borderB"></div>
                    <div class="pt-5">
                        <div class="tui-skeleton">content</div>
                        <div class="tui-skeleton">Content</div>
                    </div>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item class="title" open="true" [disableHover]="true">
                Past Challenges
                <ng-template tuiAccordionItemContent>
                    <div class="pb-5">
                        <div class="tui-skeleton">content</div>
                        <div class="tui-skeleton">Content</div>
                    </div>
                    <div class="borderB"></div>
                    <div class="pt-5">
                        <div class="tui-skeleton">content</div>
                        <div class="tui-skeleton">Content</div>
                    </div>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-template>
</div>
