@import "src/scss/mixins";

#paper {
    width: 100%;
    height: calc(100vh - 19rem);
    overflow: auto;
    border-radius: var(--tui-radius-m);
    border: var(--tui-base-03) 1px solid;
}

.flowchart-instructions {
    display: flex;
    align-items: center;
}
