<div>
    <h1>Question Type Information</h1>
    <table matSort (matSortChange)="sortData($event)" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th [mat-sort-header]="'name'" scope="col">Question Type</th>
            <th [mat-sort-header]="'count'" scope="col">Number of Questions</th>
            <th [mat-sort-header]="'success-rate'" scope="col">Success Rate</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="questionCountData; else tableEmpty">
            <ng-container *ngFor="let row of questionCountData">

                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.count}}</td>
                    <td>placeholder</td>
                </tr>
            </ng-container>
        </ng-container>
        <ng-template #tableEmpty>
            <tr>
                <td colspan="2" class="bg-info">
                    <p class="text-center text-light m-0">
                        No data was sent to this table.
                    </p>
                </td>
            </tr>
        </ng-template>
        </tbody>
    </table>
    <h1>Question Difficultly Information</h1>
</div>
