@import '~@taiga-ui/core/styles/taiga-ui-local';

.code-editors__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.island_container {
    width: 100%;
}

.test {
    float: left;
    border: red 10px;
}
