<form (ngSubmit)="onSubmit()">
    <tui-island class="tui-space_top-6">
        <div class="tui-island__content">
            <div class="tui-island__figure">
                <app-tab-list-view-switcher #viewSwitcher></app-tab-list-view-switcher>
            </div>
            <h2 class="tui-island__category tui-text_body-xs">Complete The Following</h2>
        </div>
        <div class="island_container">
            <ng-container *ngIf="viewSwitcher.view === 'tab' else listView">
                <tui-tabs-with-more #tabsComponent class="tui-space_bottom-4">
                    <ng-container *ngFor="let input of inputFileNames">
                        <button *tuiTab tuiTab>
                            {{ input.name }}
                        </button>
                    </ng-container>
                </tui-tabs-with-more>
                <div *ngFor="let input of inputFileNames; let index = index">
                    <div *ngIf="tabsComponent.activeItemIndex === index">
                        <app-code-editor [(codeTemplate)]="input.template"></app-code-editor>
                    </div>
                </div>
            </ng-container>
            <ng-template #listView>
                <div class="code-editors__list">
                    <div *ngFor="let input of inputFileNames">
                        <p class="code-editors__list-title">{{ input.name }}</p>
                        <app-code-editor [(codeTemplate)]="input.template"></app-code-editor>
                    </div>
                </div>
            </ng-template>
        </div>
    </tui-island>
    <div class="tui-form__buttons">
        <button
            [disabled]="!canSubmit()"
            [showLoader]="waitingSubmission"
            class="tui-form__button"
            size="m"
            tuiButton
        >
            Submit
        </button>
    </div>
</form>
