<h2 class="tui-form__header">My Answer</h2>
<p>Submit the required files.</p>
<form (ngSubmit)="onSubmit()">
    <tui-tabs-with-more class="tui-space_bottom-4" #tabsComponent>
        <ng-container *ngFor="let input of inputFileNames">
            <button *tuiTab tuiTab>
                {{ input.name }}
            </button>
        </ng-container>
    </tui-tabs-with-more>
    <div *ngFor="let input of inputFileNames; let index = index">
        <div *ngIf="tabsComponent.activeItemIndex === index">
            <div class="code-editor__container">
                <app-ace [(template)]="input.template"></app-ace>
            </div>
        </div>
    </div>
    <div class="tui-form__buttons">
        <button tuiButton class="tui-form__button" size="m">Submit</button>
    </div>
</form>
