<ng-container *ngIf="userActions">
    <h2 class="tui-text_h4">Recent Actions</h2>
    <ul>
        <ng-container *ngIf="userActions?.length; else noRecentActions">
            <ng-container *ngFor="let action of userActions">
                <li class="tui-space_bottom-2">
                    <tui-island size="s">
                        <p class="tui-island__paragraph">
                            <ng-container
                                    *ngIf="action.object_type == 'Question' || action.object_type == 'Submission'; else notALinkAction">
                                <ng-container *ngIf="action.object_type == 'Question'">
                                    <span>
                                        <a tuiLink class="tui-island__paragraph_link"
                                           routerLink="/problems/{{action.object_id}}"
                                           [innerHTML]="action.safeDescription"></a>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="action.object_type == 'Submission'">
                                    <span>
                                        <a tuiLink class="tui-island__paragraph_link"
                                           routerLink="/problems/submission/{{action.object_id}}"
                                           [innerHTML]="action.safeDescription"></a>
                                    </span>
                                </ng-container>
                            </ng-container>
                            <ng-template #notALinkAction>
                                <span [innerHTML]="action.safeDescription"></span>
                            </ng-template>
                            <span class="tui-space_left-2">{{this.formatTokenChange(action.token_change)}}</span>
                        </p>
                    </tui-island>
                </li>
            </ng-container>
        </ng-container>
        <ng-template #noRecentActions>
            <li>
                <p class="tui-text_body-m">No Recent Actions</p>
            </li>
        </ng-template>
    </ul>
    <div class="tui-form__buttons tui-space_top-3">
        <a tuiButton class="tui-form__button" size="m" appearance="primary" iconRight="tuiIconArrowRight"
           routerLink="../actions">View More Actions</a>
    </div>
</ng-container>
