<ng-container *ngIf="userActions">
    <div class="card">
        <div class="card-header">
            <h3>Recent Actions</h3>
        </div>
        <ul class="list-group list-group-flush">
            <ng-container *ngIf="userActions.length; else noRecentActions">
                <ng-container *ngFor="let action of userActions">
                    <li class="list-group-item">
                        <!--TODO: the inner HTML in the action API response don't route properly in Angular-->
                        <span [innerHTML]="action.description"></span>
                        <span class="float-right">{{this.formatTokenChange(action.token_change)}}</span>
                    </li>
                </ng-container>
            </ng-container>
            <ng-template #noRecentActions>
                <li class="list-group-item">No Recent Actions</li>
            </ng-template>
        </ul>
        <div class="card-footer">
            <a routerLink="../actions" class="btn btn-info">View More Actions</a>
        </div>
    </div>
</ng-container>
