<ng-container *ngIf="uqjs">
    <div [class.container]="eventId">
        <h1 *ngIf="eventId" class="mb-3 mt-5">{{ event.name }} Questions</h1>
        <table class="table table-hover mt-3" data-toggle="table">
            <thead class="thead-light text-dark">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Sub&nbsp;Category</th>
                <th scope="col">Format</th>
                <th scope="col">Tokens Earned</th>
                <th scope="col">Status</th>
                <ng-container *ngIf="isStudent()">
                    <th scope="col">Num&nbsp;Attempts</th>
                </ng-container>

                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="uqjs.length>0; else tableEmpty">
                <ng-container *ngFor="let uqj of uqjs; index as i">
                    <!--
                    {% for key, uqj in uqjs.items %}
                    {% row_class uqj event as row_class_name %}
                    -->
                    <tr [attr.class]="'.Question' + uqj.id">
                        <td>{{ uqj.question.parent_category_name }}</td>
                        <td>{{ uqj.question.category_name }}</td>
                        <td>{{ uqj.question.type_name }}</td>
                        <td>{{ uqj.formatted_current_tokens_received }}</td>
                        <td>{{ getStatus(uqj) }}</td>
                        <ng-container *ngIf="isStudent()">
                            <td>{{uqj.num_attempts}} / {{ uqj.question.max_submission_allowed }}</td>
                        </ng-container>
                        <td>
                            <!--TO DO: CHECK THESE WORK AFTER MERGING WTIH CARSON-->
                            <a class="btn btn-primary mr-3"
                               [routerLink]="['/course/question', uqj.question.id]">Open</a>
                            <ng-container *ngIf="isTeacher()">
                                <a class="btn btn-warning mr-3"
                                   [routerLink]="['/course/question/edit', uqj.question.id]">Edit</a>
                            </ng-container>

                        </td>
                    </tr>
                </ng-container>
            </ng-container>
            <ng-template #tableEmpty>
                <tr>
                    <!--      TODO: colspan depends on if the num attempts column is rendered-->
                    <td colspan="6" class="bg-info">
                        <p *ngIf="eventId; else inCourse" class="text-center text-light m-0">There currently aren't any
                            questions in this course.</p>
                        <ng-template #inCourse>
                            <p class="text-center text-light m-0">There currently aren't any questions in this
                                course.</p>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
            </tbody>
        </table>
    </div>
</ng-container>
