<section class="tui-container tui-container_adaptive ng-star-inserted">
    <div class="flex justify-between items-center">
        <h1 class="tui-text_h3 tui-space_vertical-10">List of Teams for {{event?.name}}</h1>

<!--        TODO: (in the next pr) add link to the create new team page-->
        <a
           [routerLink]=""
           icon="tuiIconPlus"
           appearance="primary"
           aria-label="Create a New Team"
           class="tui-form__button" size="m"
           tuiButton
        >
            Create a New Team
        </a>
    </div>

    <ng-container *ngFor="let team of teams; let index = index">
        <ng-container *ngIf="team">
            <tui-accordion class="accordionContainer tui-space_bottom-8">
                <tui-accordion-item >
                    <div class="accordionHeader">
                        <div>{{index + 1}}</div>
                        <div>{{team.name}}</div>
                        <div>{{team.member_names.length}} out of {{event.max_team_size}} students</div>
                        <ng-template [ngIf]="team.is_private">
                            <tui-svg src="tuiIconLock"></tui-svg>
                        </ng-template>
                    </div>
                    <ng-template tuiAccordionItemContent>
                        <div class="accordionBody">
                            <p>{{getTeamMemberNames(team)}}</p>
                            <ng-container *ngIf="isInTeam(team); else notInTeam;">
                                <!--        TODO: (in the next pr) add link to the edit new team page-->
                                <a [routerLink]=" "
                                   appearance="primary"
                                   aria-label="Edit"
                                   size="m"
                                   tuiButton
                                   class="w-fit"
                                >
                                    Edit
                                </a>
                            </ng-container>
                            <ng-template #notInTeam>
                                <button
                                    (click)="joinTeam(team.id)"
                                    appearance="primary"
                                    aria-label="Join"
                                    size="m"
                                    tuiButton
                                    class="w-fit"
                                >
                                    Join
                                </button>
                            </ng-template>
                        </div>
                    </ng-template>
                </tui-accordion-item>
            </tui-accordion>
        </ng-container>

    </ng-container>


</section>
