<section class="tui-container tui-container_adaptive ng-star-inserted">
    <div class="flex flex-wrap gap-3 tui-space_top-6">
        <h3 class="tui-text_h3 tui-col_stretch flex-grow" >List of Teams</h3>
<!--        TODO: (in the next pr) add link to the create new team page-->
        <a [disabled] = "event.is_open || event.is_closed"
           [routerLink]="['/course', courseId, 'challenge', eventId, 'teams', 'create']"
           icon="tuiIconPlus"
           appearance="primary"
           aria-label="Create a New Team"
           class="min-w-200 mr-4" size="m"
           tuiButton
        >
            Create a New Team
        </a>
    </div>
    <ng-container *ngIf="teams else skeletonTemplate">
        <ng-container *ngFor="let team of teams; let index = index">
            <ng-container *ngIf="team">
                <tui-accordion class="accordionContainer tui-space_top-6">
                    <tui-accordion-item >
                        <div class="accordionHeader">
                            <div>
                                <ng-container *ngIf="isInTeam(team); else notInTeam;">
                                    <tui-svg src="tuiIconUser"></tui-svg>
                                </ng-container>
                                <ng-template #notInTeam>
                                    {{index + 1}}
                                </ng-template>
                            </div>
                            <div>{{team.name}}</div>
                            <div>{{team.member_names.length}} out of {{event.max_team_size}} students</div>
                            <div>
                                <tui-svg *ngIf="team.is_private" src="tuiIconLock"></tui-svg>
                            </div>
                        </div>
                        <ng-template tuiAccordionItemContent>
                            <div class="accordionBody">
                                <div >
                                    <div *ngFor="let name of team.member_names" class="tui-text_body-l">{{name}}</div>
                                </div>
                                <ng-container *ngIf="isInTeam(team); else notInTeam;">
                                    <!--        TODO: (in the next pr) add link to the edit new team page-->
                                    <a [disabled] = "event.is_open || event.is_closed"
                                       [routerLink]=" "
                                       appearance="secondary"
                                       aria-label="Edit"
                                       size="m"
                                       tuiButton
                                       class="w-fit"
                                    >
                                        Edit
                                    </a>
                                </ng-container>
                                <ng-template #notInTeam>
                                    <button
                                        [disabled] = "event.is_open || event.is_closed"
                                        (click)="joinTeam(team.id)"
                                        appearance="secondary"
                                        aria-label="Join"
                                        size="m"
                                        tuiButton
                                        class="w-fit"
                                    >
                                        Join
                                    </button>
                                </ng-template>
                            </div>
                        </ng-template>
                    </tui-accordion-item>
                </tui-accordion>
            </ng-container>

        </ng-container>
    </ng-container>
    <ng-template #skeletonTemplate>
        <tui-accordion class="accordionContainer tui-space_top-6">
            <tui-accordion-item >
                <div class="accordionHeader">
                    <div class="tui-skeleton">1</div>
                    <div class="tui-skeleton">Team Name</div>
                    <div class="tui-skeleton">Number of Students</div>
                    <div class="tui-skeleton">Private Team</div>
                </div>
            </tui-accordion-item>
        </tui-accordion>
    </ng-template>


</section>
