<tui-island class="tui-space_top-4">
    <h2 class="tui-island__title tui-space_bottom-6">Inactive Courses</h2>
    <div class="course-islands">
        <ng-container *ngIf="inactiveCourses else waitingInactive">
            <ng-container *ngFor="let course of inactiveCourses">
                <app-course-island [course]="course" [hasViewPermission]="true"></app-course-island>
            </ng-container>
        </ng-container>
        <ng-template #waitingInactive>
            <app-course-island [skeleton]="true" *ngFor="let _ of [0, 0, 0]"></app-course-island>
        </ng-template>
    </div>
</tui-island>
