<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Category</th>
        <th>Tokens Value</th>
        <th>Status</th>
        <th>Num Attempts</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{QuestionDetails?.parent_category_name}} :: {{QuestionDetails?.category_name}}</td>
        <td>{{QuestionDetails?.token_value}}</td>
        <td>Not in API</td>
        <td>{{QuestionDetails?.max_submission_allowed}}</td>
    </tr>
    </tbody>
</table>
<ng-container *ngIf="questionType === 'multiple choice question'">
    <app-mcq-view-snippet [QuestionDetails]="QuestionDetails" [UQJDetails]="UQJDetails" [questionType]="questionType"></app-mcq-view-snippet>
</ng-container>
<ng-container *ngIf="questionType === 'java question'">
    <app-java-view-snippet [QuestionDetails]="QuestionDetails" [UQJDetails]="UQJDetails" [questionType]="questionType"></app-java-view-snippet>
</ng-container>
<ng-container *ngIf="questionType === 'parsons question'">
    <app-parsons-view-snippet [QuestionDetails]="QuestionDetails" [UQJDetails]="UQJDetails" [questionType]="questionType"></app-parsons-view-snippet>
</ng-container>
