<div class="register">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 mb-5">
            <div class="brand">
                <img src="../../../../assets/img/logo.jpg" alt="logo">
            </div>
            <div class="card">
                <ng-container *ngIf="!formSubmitted; else successfulSubmission">
                    <h2 class="card-header">Register</h2>
                    <div class="card-body">
                        <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                                       placeholder="Email"
                                       formControlName="email" id="email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                       formControlName="password" id="password">
                                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                                    <div *ngIf="f.password.errors.required">Password is Required.</div>
                                </div>
                            </div>
                            <div class="alert alert-info">
                                <ul>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="password2">Password Confirmation:</label>
                                <input type="password" class="form-control" name="password2"
                                       placeholder="Confirm Password"
                                       formControlName="password2" id="password2">
                                <div *ngIf="f.password2.touched && f.password2.invalid"
                                     class="alert alert-danger">
                                    <div *ngIf="f.password2.errors.required">Password is Required.</div>
                                    <div *ngIf="f.password2.errors.confirmedValidator">Passwords must match.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <re-captcha formControlName="recaptcha_key"
                                            siteKey="{{siteKey}}">
                                </re-captcha>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" *ngIf="!isLoading; else loadingSpinner">
                                <div>Register</div>
                            </button>
                            <ng-template #loadingSpinner>
                                <div class="form-row justify-content-center">
                                    <mat-spinner [diameter]="65"></mat-spinner>
                                </div>
                            </ng-template>
                            <div class="mt-4 text-center">
                                Already have an account? <a routerLink="../login">Login</a>
                            </div>
                        </form>
                    </div>
                </ng-container>
                <ng-template #successfulSubmission>
                    <div class="card-body">
                        <div class="form-group">
                            <h2>Registration Successful</h2>
                        </div>
                        <div class="form-group">
                            <p>Thank you for signing up. An activation link is sent to your email. Please Activate your
                                account using that link</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="menu-toggle" [routerLink]="'/'">
                                Go Home
                            </button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
