<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="tui-form__row">
        <tui-input formControlName="title">Question Name</tui-input>
        <tui-field-error formControlName="title"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-select
            formControlName="difficulty"
            [valueContent]="difficulties ? tuiSelectStringifyService.stringify(difficulties, 0, 1) : ''"
        >
            Difficulty
            <tui-data-list *tuiDataList>
                <button *ngFor="let difficulty of difficulties" tuiOption [value]="difficulty[0]">
                    {{ difficulty[1] }}
                </button>
            </tui-data-list>
            <tui-field-error formControlName="difficulty"></tui-field-error>
        </tui-select>
    </div>
    <div class="tui-form__row">
        <tui-select
            formControlName="category"
            [valueContent]="categories ? tuiSelectStringifyService.stringify(categories, 'pk', 'full_name') : ''"
        >
            Category
            <tui-data-list *tuiDataList>
                <button *ngFor="let category of categories" tuiOption [value]="category.pk">
                    {{ category.full_name }}
                </button>
            </tui-data-list>
        </tui-select>
        <tui-field-error formControlName="category"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-checkbox-labeled size="l" formControlName="is_verified">Is Verified</tui-checkbox-labeled>
    </div>
    <div class="tui-form__row">
        <tui-checkbox-labeled size="l" [(ngModel)]="isPractice" [ngModelOptions]="{standalone: true}">
            Practice Question
        </tui-checkbox-labeled>
    </div>
    <ng-container *ngIf="!isPractice">
        <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
                <tui-select
                    formControlName="course"
                    [tuiTextfieldCleaner]="true"
                    [valueContent]="courses ? tuiSelectStringifyService.stringify(courses, 'id', 'name') : ''"
                >
                    Course
                    <tui-data-list *tuiDataList>
                        <button *ngFor="let course of courses" tuiOption [value]="course.id">
                            {{ course.name }}
                        </button>
                    </tui-data-list>
                </tui-select>
                <tui-field-error formControlName="course"></tui-field-error>
            </div>
            <div class="tui-form__multi-field">
                <tui-select
                    formControlName="event"
                    [tuiTextfieldCleaner]="true"
                    [valueContent]="events ? tuiSelectStringifyService.stringify(events, 'id', 'name') : ''"
                >
                    Event
                    <tui-data-list *tuiDataList>
                        <button *ngFor="let event of events" tuiOption [value]="event.id">
                            {{ event.name }}
                        </button>
                    </tui-data-list>
                </tui-select>
                <tui-field-error formControlName="event"></tui-field-error>
            </div>
        </div>
    </ng-container>
    <div class="tui-form__row">
        <h2 class="tui-form__header">Question</h2>
        <app-ck-editor [(value)]="questionText"></app-ck-editor>
    </div>
    <ng-container *ngIf="!checkBox">
        <div class="tui-form__row">
            <h2 class="tui-form__header">Correct Answer</h2>
            <app-ck-editor [(value)]="answerText"></app-ck-editor>
        </div>
    </ng-container>
    <ng-container *ngIf="checkBox">
        <div class="tui-form__row">
            <h2 class="tui-form__header">Correct Answers</h2>
            <div class="new-answers tui-space_bottom-4">
                <div class="new-answers__answer" *ngFor="let correctAnswer of correctAnswers; index as i">
                    <div class="new-answers__answer-input">
                        <app-ck-editor [(value)]="correctAnswer.text"></app-ck-editor>
                    </div>
                    <button tuiButton appearance="secondary" size="m" type="button" icon="tuiIconTrash"
                            (click)="removeAnswer(i)">
                        Remove
                    </button>
                </div>
            </div>
            <button tuiButton size="m" type="button" icon="tuiIconPlus" (click)="addAnswer()">
                Add Another
            </button>
        </div>
    </ng-container>
    <div class="tui-form__row">
        <h2 class="tui-form__header">Distractor Answers</h2>
        <div class="tui-form__field-note tui-space_bottom-2">Number of Visible Distractors</div>
        <div class="distractor-count tui-space_bottom-4">
            <tui-radio-labeled size="l" formControlName="visible_distractor_count" [item]="999">
                All
            </tui-radio-labeled>
            <tui-radio-labeled size="l" formControlName="visible_distractor_count" [item]="2">
                2
            </tui-radio-labeled>
            <tui-radio-labeled size="l" formControlName="visible_distractor_count" [item]="3">
                3
            </tui-radio-labeled>
        </div>
        <tui-field-error formControlName="visible_distractor_count"></tui-field-error>
        <div class="new-answers tui-space_bottom-4">
            <div class="new-answers__answer" *ngFor="let disctrator of distractors; index as i">
                <div class="new-answers__answer-input">
                    <app-ck-editor [(value)]="disctrator.text"></app-ck-editor>
                </div>
                <button tuiButton appearance="secondary" size="m" type="button" icon="tuiIconTrash"
                        (click)="removeChoice(i)">
                    Remove
                </button>
            </div>
        </div>
        <button tuiButton size="m" type="button" icon="tuiIconPlus" (click)="addChoice()">
            Add Another
        </button>
    </div>
    <div class="tui-form__row">
        <h2 class="tui-form__header">Variables:</h2>
        <p class="tui-form__field-note">
            If you are not using variables,
            please don't add any variables
            and delete the existing ones.
        </p>
        <app-json-editor [(value)]="this.variables" [name]="'variables'"></app-json-editor>
    </div>
    <div class="tui-form__buttons">
        <button
            tuiButton
            size="m"
            class="tui-form__button"
            [disabled]="formGroup.invalid || !isSubmissionValid()"
        >
            Submit
        </button>
    </div>
</form>
