<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="tui-form__row">
        <tui-input formControlName="title">Question Name</tui-input>
        <tui-field-error formControlName="title"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-select
            formControlName="difficulty"
            [valueContent]="difficulties ? tuiSelectStringifyService.stringify(difficulties, 0, 1) : ''"
        >
            Difficulty
            <tui-data-list *tuiDataList>
                <button *ngFor="let difficulty of difficulties" tuiOption [value]="difficulty[0]">
                    {{ difficulty[1] }}
                </button>
            </tui-data-list>
            <tui-field-error formControlName="difficulty"></tui-field-error>
        </tui-select>
    </div>
    <div class="tui-form__row">
        <tui-select
            formControlName="category"
            [valueContent]="categories ? tuiSelectStringifyService.stringify(categories, 'pk', 'full_name') : ''"
        >
            Category
            <tui-data-list *tuiDataList>
                <button *ngFor="let category of categories" tuiOption [value]="category.pk">
                    {{ category.full_name }}
                </button>
            </tui-data-list>
        </tui-select>
        <tui-field-error formControlName="category"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-checkbox-labeled size="l" formControlName="is_verified">Is Verified</tui-checkbox-labeled>
    </div>
    <div class="tui-form__row">
        <tui-checkbox-labeled size="l" (change)="practiceCheckboxChanged($event)">Practice Question
        </tui-checkbox-labeled>
    </div>
    <ng-container *ngIf="!isPractice">
        <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
                <tui-select
                    formControlName="course"
                    [tuiTextfieldCleaner]="true"
                    [valueContent]="courses ? tuiSelectStringifyService.stringify(courses, 'id', 'name') : ''"
                >
                    Course
                    <tui-data-list *tuiDataList>
                        <button *ngFor="let course of courses" tuiOption [value]="course.id">
                            {{ course.name }}
                        </button>
                    </tui-data-list>
                </tui-select>
                <tui-field-error formControlName="course"></tui-field-error>
            </div>
            <div class="tui-form__multi-field">
                <tui-select
                    formControlName="event"
                    [tuiTextfieldCleaner]="true"
                    [valueContent]="events ? tuiSelectStringifyService.stringify(events, 'id', 'name') : ''"
                >
                    Event
                    <tui-data-list *tuiDataList>
                        <button *ngFor="let event of events" tuiOption [value]="event.id">
                            {{ event.name }}
                        </button>
                    </tui-data-list>
                </tui-select>
                <tui-field-error formControlName="event"></tui-field-error>
            </div>
        </div>
    </ng-container>
    <div class="tui-form__row">
        <label tuiLabel label="Question">
            <app-ck-editor [(value)]="questionText"></app-ck-editor>
        </label>
    </div>
    <ng-container *ngIf="!checkBox">
        <div class="tui-form__row">
            <label tuiLabel label="Correct Answer">
                <app-ck-editor [(value)]="answerText"></app-ck-editor>
            </label>
        </div>
    </ng-container>
    <ng-container *ngIf="checkBox">
        <div class="form-row m-3 p-3">
            <div class="col-md-12">
                <label for="mcqCorrectAnswers" class="h5 pb-2">Correct Answers:</label>
                <table id="mcqCorrectAnswers">
                    <tbody>
                    <tr *ngFor="let _ of correctAnswers; index as i">
                        <td class="p-3">
                            <app-ck-editor [(value)]="correctAnswers[i].text"></app-ck-editor>
                        </td>
                        <td class="p-3">
                            <button (click)="removeAnswer(i)" class="btn btn-danger m-auto" type="button">Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tr>
                        <td class="p-3" colspan="2">
                            <button (click)="addAnswer()" class="btn btn-primary m-auto" type="button">Add Another
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ng-container>
    <div class="form-row m-3 p-3">
        <div class="col-md-12">
            <div class="h5 pb-2">Number of Distractor Answers:</div>
            <input
                id="radioAll"
                [ngClass]="{'is-invalid': form.visible_distractor_count.errors && form.visible_distractor_count.touched}"
                formControlName="visible_distractor_count" name="visible_distractor_count" type="radio"
                value="999">
            <label for="radioAll" class="radio-inline mx-1 pr-2">All</label>
            <input
                id="radio2"
                [ngClass]="{'is-invalid': form.visible_distractor_count.errors && form.visible_distractor_count.touched}"
                formControlName="visible_distractor_count" name="visible_distractor_count" type="radio"
                value="2">
            <label for="radio2" class="radio-inline mx-1 pr-2">2</label>
            <input
                id="radio3"
                [ngClass]="{'is-invalid': form.visible_distractor_count.errors && form.visible_distractor_count.touched}"
                formControlName="visible_distractor_count" name="visible_distractor_count" type="radio"
                value="3">
            <label for="radio3" class="radio-inline mx-1 pr-2">3</label>
            <div *ngIf="form.visible_distractor_count.touched && form.visible_distractor_count.invalid"
                 class="invalid-feedback">
                <div *ngIf="form.visible_distractor_count.errors.required">Visible Distractor Count is Required.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <div class="h5 p-3">Distractor Answers:</div>
            <table>
                <tbody>
                <tr *ngFor="let _ of distractors; index as i">
                    <td class="p-3">
                        <app-ck-editor [(value)]="distractors[i].text"></app-ck-editor>
                    </td>
                    <td class="p-3">
                        <button (click)="removeChoice(i)" class="btn btn-danger m-auto" type="button">Remove</button>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <td class="p-3" colspan="2">
                        <button (click)="addChoice()" class="btn btn-primary m-auto" type="button">Add Another</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="h5 ml-3 pb-2">Variables:</div>
        <div class="col-md-12 ml-3 text-muted">
            If you are not using variables,
            please don't add any variables
            and delete the existing ones.
        </div>
        <div class="col-md-12">
            <app-json-editor [(value)]="this.variables" [name]="'variables'"></app-json-editor>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="col-md-6">
            <button [disabled]="formGroup.invalid || !isSubmissionValid()" class="btn btn-success" id="submit">Submit
            </button>
        </div>
    </div>
</form>
