@import '~@taiga-ui/core/styles/taiga-ui-local';
@import 'mixins';

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.custom-max-width{
    @include screen-lg {
        width: calc(60% - 2.75rem);
    }
    @include screen-md {
        width: calc(100% - 2.75rem);
    }
    @include screen-sm {
        width: 100%
    }
}

.practice-background {
    width: calc(100% + 2 * var(--tui-padding-l));
    height: calc(4 * var(--tui-padding-l));
    margin-top: calc(-1 * var(--tui-padding-l));
    margin-left: calc(-1 * var(--tui-padding-l));
    @include tui-space(bottom, 3);
}

.practice-question {
    background-color: var(--tui-support-06);
    opacity: 0.24;
}

.view-goals {
    background-color: var(--tui-support-02);
    opacity: 0.24;
}

.practice-tile {
    overflow: hidden;
    @include screen-lg {
        flex-basis: calc(30vw - 0.9rem - 4.5rem);
    }
    @include screen-md {
        flex-basis: calc(50vw - 1.5rem - 4.5rem);
    }
    @include screen-sm {
        flex-basis: 100%
    }
    min-height: 250px;
}

.practice-tile-text {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4 * var(--tui-padding-l));
}

.flex-space {
    flex: 1 1;
}
