@import "mixins";
@import '~@taiga-ui/core/styles/taiga-ui-local';

.sidebar {

    &_left {
        @include sidebar(left);
    }

    &_right {
        @include sidebar(right);
    }

    &_small {
        width: 15rem;

        @include screen-sm() {
            width: auto;
        }
    }

    &_large {
        width: 22rem;

        @include screen-sm() {
            width: auto;
        }
    }

    &-closed {
        width: 4rem;

        @include screen-sm() {
            width: auto;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        margin: 0;

        &_between {
            justify-content: space-between;
            height: 100%;
        }

        &_closed {
            display: none;

            @include screen-sm() {
                display: unset;
            }
        }
    }

    &-toggle {
        background-color: var(--tui-base-01);

        @include screen-sm() {
            display: none;
        }

        &_left {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
            margin-left: -1rem;
        }

        &_right {
            display: flex;
            align-items: center;
            margin-right: -1rem;
            margin-left: 0.5rem;
        }

        &_closed {
            justify-content: center;
            align-items: center;

            &_left {
                margin-left: 1rem;
                margin-right: 0;
            }

            &_right {
                margin-right: 0;
                margin-left: 0.75rem;
            }
        }

        &_button {
            border: 1px solid var(--tui-base-03);
        }

        &_icon {
            color: var(--tui-text-01);
            @include transition(transform);

            &-closed {
                transform: rotate(180deg);
            }
        }
    }
}
