<form [formGroup]="FormData" (ngSubmit)="applyFilter(FormData.value)">
    <div class="form-row">
        <div class="form-group col-3">
            <label for="query">Search in Question Name:</label>
            <input type="text" class="form-control" name="query" formControlName="query" id="query"
                   placeholder="Search in the problem set...">
        </div>
        <div class="form-group col-2">
            <label for="difficulty">Difficulty:</label>
            <select class="form-control" name="difficulty" formControlName="difficulty" id="difficulty">
                <option value="">All</option>
                <option value="EASY">EASY</option>
                <option value="NORMAL">MEDIUM</option>
                <option value="HARD">HARD</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="category">Category:</label>
            <select class="form-control" name="category" formControlName="category" id="category">
                <option value="">All</option>
                <option value="Basics">Basics</option>
                <option value="Pre-Defined Classes">Pre-Defined Classes</option>
                <option value="Conditionals">Conditionals</option>
                <option value="Loops">Loops</option>
                <option value="Methods">Methods</option>
                <option value="Arrays">Arrays</option>
                <option value="Object Oriented Programming">Object Oriented Programming</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="status">Status:</label>
            <select disabled class="form-control" name="status" id="status" [value]="'All'">
                <option value="All">All</option>
                <option value="Solved">Solved</option>
                <option value="Partially Correct">Partially Correct</option>
                <option value="Unsolved">Unsolved</option>
                <option value="Wrong">Wrong</option>
                <option value="New">New</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="sample">Sample:</label>
            <select class="form-control" name="sample" formControlName="is_sample" id="sample">
                <option value="">All</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="form-group col-1 mt-auto">
            <button type="submit" class="btn btn-primary float-right">Go</button>
        </div>
    </div>
</form>
<table matSort (matSortChange)="sortData($event)" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th mat-sort-header="id" scope="col">#</th>
        <th mat-sort-header="title" scope="col">Question Name</th>
        <th mat-sort-header="author_name" scope="col">Author</th>
        <th mat-sort-header="event_name" scope="col">Event</th>
        <th mat-sort-header="parent_category_name" scope="col">Category</th>
        <th mat-sort-header="category_name" scope="col">Sub Category</th>
        <th mat-sort-header="difficulty" scope="col">Difficulty</th>
        <th mat-sort-header="token_value" scope="col">Token Value</th>
        <th mat-sort-header="success_rate" scope="col">Avg Success</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questions">
        <td>{{question.id}}</td>
        <td>{{question.title}}</td>
        <td>{{question.author_name}}</td>
        <td>{{question.event_name}}</td>
        <td>{{question.parent_category_name}}</td>
        <td>{{question.category_name}}</td>
        <td>{{question.difficulty}}</td>
        <td>{{question.token_value}}</td>
        <td>{{question.success_rate}}</td>
        <td>
            <div style="white-space: nowrap; display: flex">
                <a routerLink="/problem/{{question.id}}">
                    <fa-icon class="action-icon" id="faEye" [icon]="faEye"></fa-icon>
                </a>
                <a routerLink="/problem/{{question.id}}/edit">
                    <fa-icon class="action-icon" id="faPencilAlt" [icon]="faPencilAlt"></fa-icon>
                </a>
                <a [routerLink]="" (click)="deleteQuestion(question.id)">
                    <fa-icon class="action-icon" id="faTrashAlt" [icon]="faTrashAlt"></fa-icon>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<mat-paginator
    [length]="questionsLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="newPageEvent($event)"
>
</mat-paginator>
