<form [formGroup]="FormData" (ngSubmit)="applyFilter()">
    <div class="d-lg-flex justify-content-between">
        <mat-form-field appearance="outline">
            <mat-label>Search in Question Name</mat-label>
            <input formControlName="search" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Difficulty</mat-label>
            <mat-select formControlName="difficulty" disableOptionCentering>
                <mat-option value="">All</mat-option>
                <mat-option value="EASY">Easy</mat-option>
                <mat-option value="NORMAL">Medium</mat-option>
                <mat-option value="HARD">Hard</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" disableOptionCentering>
                <mat-option value="">All</mat-option>
                <mat-option value="Basics">Basics</mat-option>
                <mat-option value="Pre-Defined Classes">Pre-Defined Classes</mat-option>
                <mat-option value="Conditionals">Conditionals</mat-option>
                <mat-option value="Loops">Loops</mat-option>
                <mat-option value="Methods">Methods</mat-option>
                <mat-option value="Methods">Methods</mat-option>
                <mat-option value="Arrays">Arrays</mat-option>
                <mat-option value="Object Oriented Programming">Object Oriented Programming</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <!--TODO: Add formControlName="status" to mat-select element below once we add status filtering-->
            <mat-select disabled disableOptionCentering>
                <mat-option value="All">All</mat-option>
                <mat-option value="Solved">Solved</mat-option>
                <mat-option value="Partially Correct">Partially Correct</mat-option>
                <mat-option value="Unsolved">Unsolved</mat-option>
                <mat-option value="Wrong">Wrong</mat-option>
                <mat-option value="New">New</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Sample Questions</mat-label>
            <mat-select formControlName="is_sample" disableOptionCentering>
                <mat-option value="">All</mat-option>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button class="btn-primary" type="submit">Apply Filter</button>
    </div>
</form>
<table mat-table [dataSource]="questionsSource" matSort (matSortChange)="sortData($event)" matSortDisableClear
       class="table table-hover hover-shadow">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">#</th>
        <td mat-cell *matCellDef="let question"> {{question.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title">Question Name</th>
        <td mat-cell *matCellDef="let question"> {{question.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="author">Author</th>
        <td mat-cell *matCellDef="let question"> {{question.author_name}} </td>
    </ng-container>

    <ng-container matColumnDef="event__name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="event__name">Event</th>
        <td mat-cell *matCellDef="let question"> {{question.event_name}} </td>
    </ng-container>

    <ng-container matColumnDef="category__parent__name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="category__parent__name">Category</th>
        <td mat-cell *matCellDef="let question"> {{question.parent_category_name}} </td>
    </ng-container>

    <ng-container matColumnDef="category__name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="category__name">Sub-Category</th>
        <td mat-cell *matCellDef="let question"> {{question.category_name}} </td>
    </ng-container>

    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="difficulty">Difficulty</th>
        <td mat-cell *matCellDef="let question"> {{question.author_name}} </td>
    </ng-container>

    <ng-container matColumnDef="token_value">
        <th mat-header-cell *matHeaderCellDef>Token Value</th>
        <td mat-cell *matCellDef="let question">{{question.token_value | number: '1.0-1'}}</td>
    </ng-container>

    <ng-container matColumnDef="avg_success">
        <th mat-header-cell *matHeaderCellDef>Average Success</th>
        <td mat-cell *matCellDef="let question">{{question.success_rate | number: '1.0-1'}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let question">
            <div class="action-tray">
                <a mat-flat-button class="btn-primary" routerLink="/problem/{{question.id}}">
                    <mat-icon>visibility</mat-icon>
                </a>
                <a mat-flat-button class="btn-secondary" routerLink="/problem/{{question.id}}/edit">
                    <mat-icon>edit</mat-icon>
                </a>
                <a mat-flat-button class="btn-danger" [routerLink]="" (click)="open(deleteModal, question.id)">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
    [length]="questionsLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="newPageEvent($event)"
>
</mat-paginator>
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Question</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure that you would like to delete this question?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteQuestion(); modal.close('Save click')">
            Confirm
        </button>
    </div>
</ng-template>

