<form [formGroup]="FormData" (ngSubmit)="applyFilter()">
    <mat-form-field appearance="outline">
        <mat-label>Search in Question Name</mat-label>
        <input formControlName="search" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty" disableOptionCentering>
            <mat-option value="">All</mat-option>
            <mat-option value="EASY">Easy</mat-option>
            <mat-option value="NORMAL">Medium</mat-option>
            <mat-option value="HARD">Hard</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" disableOptionCentering>
            <mat-option value="">All</mat-option>
            <mat-option value="Basics">Basics</mat-option>
            <mat-option value="Pre-Defined Classes">Pre-Defined Classes</mat-option>
            <mat-option value="Conditionals">Conditionals</mat-option>
            <mat-option value="Loops">Loops</mat-option>
            <mat-option value="Methods">Methods</mat-option>
            <mat-option value="Methods">Methods</mat-option>
            <mat-option value="Arrays">Arrays</mat-option>
            <mat-option value="Object Oriented Programming">Object Oriented Programming</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <!--TODO: Add formControlName="status" to mat-select element below once we add status filtering-->
        <mat-select disabled disableOptionCentering>
            <mat-option value="All">All</mat-option>
            <mat-option value="Solved">Solved</mat-option>
            <mat-option value="Partially Correct">Partially Correct</mat-option>
            <mat-option value="Unsolved">Unsolved</mat-option>
            <mat-option value="Wrong">Wrong</mat-option>
            <mat-option value="New">New</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Sample Questions</mat-label>
        <mat-select formControlName="is_sample" disableOptionCentering>
            <mat-option value="">All</mat-option>
            <mat-option value="true">Yes</mat-option>
            <mat-option value="false">No</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Apply Filter</button>
</form>
<table matSort (matSortChange)="sortData($event)" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th mat-sort-header="id" scope="col">#</th>
        <th mat-sort-header="title" scope="col">Question Name</th>
        <th mat-sort-header="author" scope="col">Author</th>
        <th mat-sort-header="event__name" scope="col">Event</th>
        <th mat-sort-header="category__parent__name" scope="col">Category</th>
        <th mat-sort-header="category__name" scope="col">Sub Category</th>
        <th mat-sort-header="difficulty" scope="col">Difficulty</th>
        <th scope="col">Token Value</th>
        <th scope="col">Avg Success</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let question of questions">
        <tr [attr.class]=highlight(question.status)>
            <td>{{question.id}}</td>
            <td>{{question.title}}</td>
            <td>{{question.author_name}}</td>
            <td>{{question.event_name}}</td>
            <td>{{question.parent_category_name}}</td>
            <td>{{question.category_name}}</td>
            <td>{{question.difficulty}}</td>
            <td>{{question.token_value | number: '1.0-1'}}</td>
            <td>{{question.success_rate | number: '1.0-1'}}</td>
            <td>
                <div style="white-space: nowrap; display: flex">
                    <a routerLink="/problem/{{question.id}}">
                        <fa-icon class="action-icon" id="faEye" [icon]="faEye"></fa-icon>
                    </a>
                    <a routerLink="/problem/{{question.id}}/edit">
                        <fa-icon class="action-icon" id="faPencilAlt" [icon]="faPencilAlt"></fa-icon>
                    </a>
                    <a [routerLink]="" (click)="open(deleteModal, question.id)">
                        <fa-icon class="action-icon" id="faTrashAlt" [icon]="faTrashAlt"></fa-icon>
                    </a>
                </div>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
<mat-paginator
    [length]="questionsLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="newPageEvent($event)"
>
</mat-paginator>
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Question</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure that you would like to delete this question?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteQuestion(); modal.close('Save click')">
            Confirm
        </button>
    </div>
</ng-template>

