<ng-container *ngIf="uqjs">
    <h2 class="tui-text_h4">Recently Viewed</h2>
    <ul>
        <ng-container *ngIf="uqjs?.length; else noRecentQuestions">
            <ng-container *ngFor="let uqj of uqjs">
                <li class="tui-space_bottom-2">
                    <tui-island size="s">
                        <a
                            tuiLink
                            class="tui-island__paragraph tui-island__paragraph_link"
                            routerLink="/problems/{{ uqj.question.id }}"
                        >
                            {{ formatQuestion(uqj.question) }}
                        </a>
                    </tui-island>
                </li>
            </ng-container>
        </ng-container>
        <ng-template #noRecentQuestions>
            <li>
                <p class="tui-text_body-m">No Recent Questions</p>
            </li>
        </ng-template>
    </ul>
</ng-container>
