<section class="tui-container tui-container_fullwidth">
    <div class="flex justify-center">
        <div
            tuiGroup
            class=""
            [collapsed]="true"
            [rounded]="true"
        >
            <button
                tuiButton
                type="button"
                appearance="secondary"
                size="l"
                class="whitespace-nowrap"
                (click)="setDetailedView(false)"
                [pseudoPressed]="!showDetailed"
            >
                Overview
            </button>
            <button
                tuiButton
                type="button"
                appearance="secondary"
                size="l"
                class="whitespace-nowrap"
                (click)="setDetailedView(true)"
                [pseudoPressed]="showDetailed"
            >
                Detailed View
            </button>
        </div>
    </div>
    <div class="py-3"></div>
    <ng-container *ngIf="!showDetailed">
        <form (ngSubmit)="update()" ) [formGroup]="name_filter">
            <tui-input
                [tuiTextfieldCleaner]="true"
                class="search tui-space_bottom-4"
                formControlName="search"
            >
                Search for a Student Name
            </tui-input>
            <tui-select
                [tuiTextfieldCleaner]="true"
                [valueContent]="events ? (events | stringifyTuiDataList: 'name': 'name') : ''"
                formControlName="eventName"
            >
                Event Name
                <tui-data-list *tuiDataList [class.tui-skeleton]="!events">
                    <button *ngFor="let event of events" [value]="event.name" tuiOption>
                        {{ event.name }}
                    </button>
                </tui-data-list>
            </tui-select>
            <button
                size="m"
                tuiButton
                type="submit"
            >
                Filter
            </button>
        </form>
        <table
            [columns]=" gradeBookTableHeaders
            "
            class="grades-table"
            tuiTable
            >
            <thead tuiThead>
            <tr tuiThGroup>
                <th *tuiHead="'name'" tuiTh>Name</th>
                <th *tuiHead="'event_name'" tuiTh>Event Name</th>
                <th *tuiHead="'grade'" tuiTh>Tokens Earned</th>
            </tr>
            </thead>
            <tbody [data]="gradesDisplayData" tuiTbody>
            <tr *tuiRow="let grade of gradesDisplayData" tuiTr>
                <td *tuiCell="'grade'" tuiTd>
                    {{ grade.grade }} / {{ grade.total }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td [colSpan]="gradeBookTableHeaders.length">
                    <tui-table-pagination
                        (pageChange)="update({page: $event})"
                        (sizeChange)="update({pageSize: $event})"
                        [(page)]="page"
                        [(size)]="pageSize"
                        [total]="numberOfGradeLines"
                        class="tui-space_top-2"
                    ></tui-table-pagination>
                </td>
            </tr>
            </tfoot>
            </table>
    </ng-container>
    <ng-container *ngIf="showDetailed">
        <table
            [columns]="gradeBookTableDetailedHeaders"
            class="grades-table"
            tuiTable
        >
            <thead tuiThead>
            <tr tuiThGroup>
                <th *tuiHead="'name'" tuiTh>Name</th>
                <th *tuiHead="'event_name'" tuiTh>Event Name</th>
                <th *tuiHead="'grade'" tuiTh>Tokens Earned</th>
                <th *tuiHead="'title'" tuiTh>Question Name</th>
                <th *tuiHead="'question_grade'" tuiTh>Question Tokens</th>
                <th *tuiHead="'attempts'" tuiTh>Attempts</th>
            </tr>
            </thead>
            <tbody [data]="gradesDisplayData" tuiTbody>
            <tr *tuiRow="let grade of gradesDisplayData" tuiTr>
                <td *tuiCell="'grade'" tuiTd>
                    {{ grade.grade }} / {{ grade.total }}
                </td>
                <td *tuiCell="'title'" tuiTd>
                    <div *ngFor="let detail of grade.question_details; index as idx">
                        {{ detail.title }}
                        <hr *ngIf="!(idx === grade.question_details.length - 1)">
                    </div>
                </td>
                <td *tuiCell="'question_grade'" tuiTd>
                    <div *ngFor="let detail of grade.question_details; index as idx">
                        {{ detail.question_grade }} / 1
                        <hr *ngIf="!(idx === grade.question_details.length - 1)">
                    </div>
                </td>
                <td *tuiCell="'attempts'" tuiTd>
                    <div *ngFor="let detail of grade.question_details; index as idx">
                        {{ detail.attempts }} / {{ detail.max_attempts }}
                        <hr *ngIf="!(idx === grade.question_details.length - 1)">
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td [colSpan]="gradeBookTableDetailedHeaders.length">
                    <tui-table-pagination
                        (pageChange)="update({page: $event})"
                        (sizeChange)="update({pageSize: $event})"
                        [(page)]="page"
                        [(size)]="pageSize"
                        [total]="numberOfGradeLines"
                        class="tui-space_top-2"
                    ></tui-table-pagination>
                </td>
            </tr>
            </tfoot>
        </table>
    </ng-container>
</section>
