@import "mixins";

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grades-table {
    width: 100%;

    &__actions {
        display: flex;
        flex-wrap: nowrap;
    }
}
