<ng-container *ngIf="user?.is_teacher">
    <tui-notification status="warning" class="tui-space_bottom-4">
        Warning: You are logged in as a teacher! Token uses will not do anything for you!
    </tui-notification>
</ng-container>
<div class="tokens">
    <h2 class="tui-text_h6 tui-space_bottom-8" [class.error]="invalid">
        {{ remainingTokens | number: '1.0-1' }}/{{ courseReg.total_tokens_received | number: '1.0-1' }} Tokens Available
    </h2>
</div>
<form method="post">
    <div class="token-use-islands">
        <tui-island *ngFor="let tokenUse of courseReg.token_uses">
            <h3 class="tui-island__title">{{ tokenUse.option.assignment_name }}</h3>
            <div class="tui-space_bottom-2">
                <ng-container *ngIf="tokenUse.num_used > 0; else tokenNotUsedTag">
                    <tui-tag size="m" status="success" value="Tokens Used" *ngIf="tokenUse.num_used === tokenUse.option.maximum_number_of_use; else tokenPartialUseTag"></tui-tag>
                    <ng-template #tokenPartialUseTag>
                        <tui-tag size="m" status="warning" value="Tokens Partially Used"></tui-tag>
                    </ng-template>
                </ng-container>
                <ng-template #tokenNotUsedTag>
                    <tui-tag size="m" status="error" value="Not Used"></tui-tag>
                </ng-template>
            </div>
            <p class="tui-island__paragraph">{{ tokenUse.option.tokens_required }} Tokens Required</p>
            <p class="tui-island__paragraph">{{ tokenUse.option.points_given }} Extra Grade Points Given</p>
            <p class="tui-island__paragraph">{{ tokenUse.option.maximum_number_of_use }} Maximum Uses</p>
            <tui-input-count
                [(ngModel)]="tokenUse.num_used"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="calculateCurrentTotal()"
                [min]="0"
                [max]="tokenUse.option.maximum_number_of_use"
                class="tui-space_top-4"
            >
                Number of Tokens Used
            </tui-input-count>
        </tui-island>
    </div>
    <div class="tui-form__buttons">
        <button
            tuiButton
            appearance="primary"
            size="m"
            type="submit"
            class="tui-form__button"
            (click)="confirmChanges()"
            [disabled]="invalid"
        >
            Confirm Changes
        </button>
    </div>
</form>


