<div class="ml-5 mr-5 mb-3">Thank you for your email confirmation. Your Account has been successfully
    activated.
</div>
<h3 class="ml-5">INFORMED CONSENT: STUDENT PARTICIPATION</h3>
<h3 class="ml-5">Introduction</h3>
<div class="ml-5 mr-5 mb-3">
    You are invited to participate in a study that concerns how people interact educational software and/or output of
    educational software. As a participant in this study, you will be asked to complete a questionnaire and interact
    with educational software as needed.
</div>
<div class="ml-5 mr-5 mb-3">
    This statement contains information about the present study that is intended to help you decide whether you wish to
    participate in it. You may refuse to sign this form and not participate in this study. You should be aware that even
    after you signed, you are free to withdraw at any time. If you withdraw from this study, it will not affect your
    relationship with this unit, the people involved in the study, the services it may provide to you, or the University
    of British Columbia Okanagan. If you have any questions about this study before, during, or after your
    participation, please feel free to direct them to:
</div>
<div class="ml-5 mr-5 mb-3">
    Dr. Bowen Hui <br>
    Tel: 250-807-9353, Email: bowen.hui@ubc.ca
</div>

<h3 class="ml-5">Study Objectives</h3>
<div class="ml-5 mr-5 mb-3">
    The objective of this work is to develop educational software that helps students and course administrators to
    automatically generate and interpret feedback from assignment submissions in a course.
</div>

<h3 class="ml-5">Procedure: Software Feedback Usefulness (Total Expected Time: 0.5 hours)</h3>
<div class="ml-5 mr-5 mb-3">
    <ol>
        <li>
            As part of the course, you will work on assignments and submit them as usual. Nothing will change from
            standard procedures.
        </li>
        <li>
            You can use the software as much or as little as you need to in order to complete the course work required
            by your instructor. There are many educational activities available in the software that you can use
            throughout the semester.
        </li>
        <li>
            At the end of the course, you will be asked to complete a short questionnaire that helps us identify what
            was useful for you and what changes you would like to see in the future.
        </li>
    </ol>
</div>

<h3 class="ml-5">Risks</h3>
<div class="ml-5 mr-5 mb-3">
    There are no known risks to participants that as there is nothing more than what you would normally be doing for
    studying purposes regardless of their participation in the study.
</div>

<h3 class="ml-5">Benefits</h3>
<div class="ml-5 mr-5 mb-3">
    The participants may gain a better understanding of the concepts that you practice on through the software, may
    develop an appreciation for learning analytics software, and may develop interest in the research and development
    process.
</div>

<h3 class="ml-5">Privacy and Confidentiality</h3>
<div class="ml-5 mr-5 mb-3">
    Questionnaires and computer logs are anonymous. Names of participants will be stored separately from information
    collected by a neutral third party from UBC Okanagan IT department, Olivier Dube. Therefore, the instructor of the
    course will not get access to participants’ information until after the course appeal date. During this time, the
    instructor will only have access to anonymized version of your data. Information collected include all your
    electronically submitted programming work and associated marks (such as labs and assignments). Your name will not be
    associated in any way with the information collected about you or your usage of the computer during the study.
    Furthermore, because the interest of this study is to identify average responses and behavior of the entire group of
    participants, you will not be identified in any way in any written reports of this research.
</div>
<div class="ml-5 mr-5 mb-3">
    In the case that your instructor provides a bonus mark incentive to participating in this study, the list of
    participants will be provided to the instructor to update your course grade. To get the bonus mark, you may opt to
    not participate and complete an alternate assignment instead. In the case that your instructor does not provide a
    bonus mark incentive for participation, no information is given to the instructor whether you participated or not.
</div>
<div class="ml-5 mr-5 mb-3">
    Participants have a right to access their own results so long as their names and numeric tags are still available.
    The data obtained from both components of the study will be retained for at least 5 years after publication in
    secured, electronic form, which only researchers associated with this research will have access to. No audio or
    video tapes will be used. General results of the research study may be available through publications. A summary of
    the results will be made available to participants upon request.
</div>

<h3 class="ml-5">Access to Course Work and Associated Grades</h3>
<div class="ml-5 mr-5 mb-3">
    By checking the boxes below, you are providing consent for the researchers in this study to analyze your course work
    and grades. The grades will only be used for research analysis purposes without including any of the participants’
    personal information. You can participate in this study by giving us access to your submitted course work, the
    associated grades, or both. In the case you decided to not participate in this study, you will be provided with an
    alternative assignment for getting the bonus mark.
</div>

<h3 class="ml-5">Concerns About Participants' Rights</h3>
<div class="ml-5 mr-5 mb-3">
    If you have any concerns or complaints about your rights as a research participant and/or your experiences while
    participating in this study, contact the Research Participant Complaint Line in the UBC Office of Research Ethics
    toll free at 1-877-822-8598 or the UBC Okanagan Research Services Office at 250-807-8832. It is also possible to
    contact the Research Complaint Line by email (RSIL@ors.ubc.ca). When doing so, include the study number H19- 02053
    when contacting their staff so they can better assist you.
</div>

<h3 class="ml-5">Participation Certification</h3>
<div class="ml-5 mr-5 mb-3">
    I have read this Consent form. I have had the opportunity to ask, and I have received answers to, any questions I
    had regarding the study and the use and disclosure of information about me for the study. I agree to take part in
    this study as a research participant. By my signature I affirm that I have received a copy of this Consent form.
    Your decision to participate in this study will in no way impact your course grades, class standing, or your
    relationship with UBC.
</div>
