<p>consistency-form-snippet works!</p>
<form [formGroup]="consistencyChallengeForm">
    <h5 class="tui-text_h5 my-3">
<!--        TODO: need to add edit in later (after making commits)-->
        {{'Create New ' + localChallengeType[1] + ' Challenge'}}
    </h5>
    <div class="tui-form__row">
        <tui-input aria-label="Challenge Name" formControlName="name">
            Challenge Name
        </tui-input>
        <tui-field-error formControlName="name"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-multi-select
            aria-label="Include Challenges"
            formControlName="event_ids"
            [tuiTextfieldLabelOutside]="true"
            [stringify]="stringify"
            [editable]="true"
            (searchChange)="onSearchChange($event)"
        >
            Include Challenges
            <tui-data-list *tuiDataList tuiMultiSelectGroup>
                <button
                    *ngFor="let eventInCourse of getCourseEvents()"
                    [value]="eventInCourse.id"
                    tuiOption
                >
                    {{eventInCourse.name}}
                </button>
            </tui-data-list>
        </tui-multi-select>
        <tui-field-error formControlName="event_ids"></tui-field-error>
    </div>
    <div class="tui-form__row">
        <tui-input-number
            aria-label="How many tokens are rewarded for consistently solving the above challenges?"
            formControlName="tokens"
        >
            How many tokens are rewarded for consistently solving the above challenges?
        </tui-input-number>
        <tui-field-error formControlName="tokens"></tui-field-error>
    </div>
    <div class="tui-form__buttons">
        <button
            [disabled]="consistencyChallengeForm.invalid"
            class="tui-form__button"
            size="m"
            tuiButton
        >
<!--            TODO: {{eventId ? 'Save Changes' : 'Create Challenge'}}-->
            Create Challenge
        </button>
        <a
            [routerLink]=""
            appearance="secondary"
            aria-label="Cancel"
            class="tui-form__button"
            size="m"
            tuiButton
        >
            Cancel
        </a>
    </div>
</form>
