<link rel="stylesheet" href="signup.component.css">
<div class="signup">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <img src="assets/img/logo.jpg" alt="logo">
          </div>

          <div class="card fat">
            <div class="card-body">
              <form [formGroup]="FormData">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" formControlName="email"
                         id="email">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" class="form-control" name="password" formControlName="password"
                         id="password">
                </div>

                <div class="form-group">
                  <label for="passwordConfirmation">Password Confirmation</label>
                  <input type="text" class="form-control" name="passwordConfirmation" formControlName="passwordConfirmation"
                         id="passwordConfirmation">
                </div>

                <div class="form-group">
                  <re-captcha formControlName="recaptcha_key"
                              siteKey="{{siteKey}}">

                  </re-captcha>
                </div>
              </form>
            </div>
          </div>
          <div class="footer">
            Copyright &copy; 2019 &mdash; Keyvan Khademi
          </div>
        </div>
      </div>
    </div>
</div>
