@mixin screen-sm() {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin screen-md() {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

@mixin screen-lg() {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin screen-md-lg() {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin island-grid() {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-flow: row dense;
    grid-gap: 1rem;
}

@mixin island-grid-sm() {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-flow: row dense;
    grid-gap: 1rem;
}

@mixin sidebar($position: left, $width: 18rem) {
    position: sticky;
    top: calc(4rem + 1px); // Header height + border width
    left: 0;
    width: $width;
    margin-bottom: -1.5rem;
    height: calc(100vh - 4rem - 2px); // Window height - (header + footer) - border width

    @if ($position == left) {
        border-right: 1px solid var(--tui-base-03);
    }

    @if ($position == right) {
        border-left: 1px solid var(--tui-base-03);
    }

    @include screen-sm() {
        position: unset;
        min-height: unset;
        max-height: unset;
        border: none;
        width: 100%;
        height: auto;

        @if ($position == left) {
            border-bottom: 1px solid var(--tui-base-03);
            margin-bottom: var(--tui-padding-l);
        }

        @if ($position == right) {
            border-top: 1px solid var(--tui-base-03);
            margin-top: var(--tui-padding-l);
        }
    }
}
