@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin smooth-transition() {
  @include transition(all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95));
}

@mixin soft-shadow() {
  box-shadow: 0 0.65rem 0.65rem rgba(0, 0, 0, 0.08);
}
