@import 'highlight.js/styles/github.css';

.hljs {
    padding: 0;
    color: var(--tui-text-primary);
    background: none;

    &-keyword {
        color: var(--tui-text-secondary);
    }

    &-class {
        .hljs-title {
            color: var(--tui-chart-categorical-02);
        }
    }

    &-title {
        color: var(--tui-chart-categorical-06);
    }

    &-keyword, &-selector-tag, &-subst {
        font-weight: normal;
        font-style: italic;
    }
}
