@import '~highlight.js/styles/github.css';

.hljs {
    padding: 0;
    color: var(--tui-text-01);
    background: none;

    &-keyword {
        color: var(--tui-text-02);
    }

    &-class {
        .hljs-title {
            color: var(--tui-support-02);
        }
    }

    &-title {
        color: var(--tui-support-06);
    }

    &-keyword, &-selector-tag, &-subst {
        font-weight: normal;
        font-style: italic;
    }
}
