@import 'variables';
@import 'mixins';

body {
    font-size: 2rem;
    font-family: Arial, serif;
    background-color: $color-bg;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
