@import 'mixins';
@import 'highlight';
@import 'tui';
@import '~katex/dist/katex.min.css';

body {
    background: var(--tui-base-01);
    font: var(--tui-font-text-m) !important;
}

table {
    th {
        background-color: var(--tui-base-02) !important;

        // Currently required to deal with a heading placement bug
        .name {
            position: relative !important;
        }
    }
}

pre {
    margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
