@import '~@taiga-ui/core/styles/taiga-ui-local';
@import "mixins";

.course-islands {
    @include island-grid();
}

.more-courses-island {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    @include screen-lg {
        flex-basis: calc(70% - 4.5rem);
    }
    @include screen-md {
        flex-basis: calc(50% - 4.5rem);
    }
    @include screen-sm {
        flex-basis: 100%;
        flex-basis: calc(50% - 4.5rem);
    }
}

.table {
    width: 100%;
}


