<ng-container *ngIf="stats else skeletonTemplate">
    <div class="flex flex-col md:flex-row">
        <app-sidebar
            position="left"
            sidebarId="myStatsSidebar"
            spacing="start"
        >
            <div class="tui-space_vertical-5 tui-col changeHeight">
                <div class="flex-container">
                    <h4 class="tui-text_h4 tui-space_bottom-5">Active Courses</h4>
                    <ng-container *ngIf="activeCourses">
                        <ng-container *ngFor="let course of activeCourses">
                            <button
                                class="tui-space_bottom-3"
                                size="l"
                                tuiButton
                            >
                                {{course.name}}
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!activeCourses.length">
                        <div class="flex justify-center items-center w-full h-32">
                            <tui-marker-icon
                                class="tui-space_right-4"
                                size="s"
                                src="tuiIconAlertCircleLarge"
                            ></tui-marker-icon>
                            <h2 class="tui-text_body-xl">
                                Looks like you don't have any active courses
                            </h2>
                        </div>
                    </ng-container>
                </div>
            </div>
        </app-sidebar>
        <div class="flex-grow">
            <div class="flex-container tui-space_horizontal-5">
                <div class="tui-row tui-row_adaptive">
                    <div class="tui-col_lg-10 tui-col_md-10 tui-col_xs-12">
                        <div>
                            <h4 class="tui-text_h4 tui-space_vertical-5">Personal Statistics</h4>
                        </div>
                        <div class="flex-container">
                            <table class="tui-table tui-table_font-size_m">
                                <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <th class="tui-table__th">Accomplishments</th>
                                    <th class="tui-table__th">Total</th>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">Questions Completed</td>
                                    <td class="tui-table__td">{{totalQuestionsSolved}}</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">Challenges Completed</td>
                                    <td class="tui-table__td">{{challengesCompleted}}</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">Tokens Earned</td>
                                    <td class="tui-table__td">{{roundTokens()}}</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">Goals Completed</td>
                                    <td class="tui-table__td">{{goalsCompleted}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container tui-space_horizontal-5">
                <div>
                    <h4 class="tui-text_h4 tui-space_vertical-5">Question Statistics</h4>
                </div>
            </div>
            <div class="flex-container tui-space_horizontal-5">
                <div class="tui-row tui-row_adaptive">
                    <div class="tui-col tui-col_adaptive">
                        <div class="tui-col_lg-12 tui-col_md-12 tui-col_xs-6">
                            <table class="tui-table tui-table_font-size_m ">
                                <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <th class="tui-table__th">Difficulty</th>
                                    <th class="tui-table__th">Number Completed</th>
                                </tr>
                                <ng-container
                                    *ngFor="let val of questionsSolvedByDifficulty; let i = index">
                                    <tr class="tui-table__tr tui-table__tr_border_none">
                                        <td class="tui-table__td">{{difficulties[i][1]}}</td>
                                        <td class="tui-table__td">{{val}}</td>
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div class="tui-col_lg-12 tui-col_md-12 tui-col_xs-6">
                            <table class="tui-table tui-table_font-size_m ">
                                <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <th class="tui-table__th">Type</th>
                                    <th class="tui-table__th">Number Completed</th>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">Multiple Choice Questions</td>
                                    <td class="tui-table__td">{{mcqNum}}</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">Parson's</td>
                                    <td class="tui-table__td">{{parsonsNum}}</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">Java</td>
                                    <td class="tui-table__td">{{javaNum}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tui-col_lg-6 tui-col_md-12 tui-col_xs-6">
                        <table class="tui-table tui-table_font-size_m ">
                            <tbody>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <th class="tui-table__th">Category</th>
                                <th class="tui-table__th">Number Completed</th>
                            </tr>
                            <ng-container
                                *ngFor="let go of questionsSolvedByCategory; let i = index">
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td">{{topLevelCategories[i].name}}</td>
                                    <td class="tui-table__td">{{go}}</td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #skeletonTemplate>
    <div class="flex flex-col md:flex-row">
        <app-sidebar
            position="left"
            sidebarId="myStatsSidebar"
            spacing="start"
        >
            <div class="tui-space_vertical-5 tui-col changeHeight">
                <div class="flex-container">
                    <h4 class="tui-text_h4 tui-space_bottom-5">Active Courses</h4>
                    <ng-container>
                        <div class="flex justify-center items-center w-full h-32">
                            <tui-marker-icon
                                class="tui-space_right-4"
                                size="s"
                                src="tuiIconAlertCircleLarge"
                            ></tui-marker-icon>
                            <h2 class="tui-text_body-xl">
                                Looks like you don't have any active courses
                            </h2>
                        </div>
                    </ng-container>
                </div>
            </div>
        </app-sidebar>
        <div class="flex-grow">
            <div class="flex-container tui-space_horizontal-5">
                <div class="tui-row tui-row_adaptive">
                    <div class="tui-col_lg-10 tui-col_md-10 tui-col_xs-12">
                        <div>
                            <h4 class="tui-text_h4 tui-space_vertical-5">Personal Statistics</h4>
                        </div>
                        <div class="flex-container">
                            <table class="tui-table tui-table_font-size_m">
                                <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <th class="tui-table__th">Accomplishments</th>
                                    <th class="tui-table__th">Total</th>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">Questions Completed</td>
                                    <td class="tui-table__td tui-skeleton">0</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">Challenges Completed</td>
                                    <td class="tui-table__td tui-skeleton">0</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">Tokens Earned</td>
                                    <td class="tui-table__td tui-skeleton">0</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">Goals Completed</td>
                                    <td class="tui-table__td tui-skeleton">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container tui-space_horizontal-5">
                <div>
                    <h4 class="tui-text_h4 tui-space_vertical-5">Question Statistics</h4>
                </div>
            </div>
            <div class="flex-container tui-space_horizontal-5">
                <div class="tui-row tui-row_adaptive">
                    <div class="tui-col tui-col_adaptive">
                        <div class="tui-col_lg-12 tui-col_md-12 tui-col_xs-6">
                            <table class="tui-table tui-table_font-size_m ">
                                <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <th class="tui-table__th">Difficulty</th>
                                    <th class="tui-table__th">Number Completed</th>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">content</td>
                                    <td class="tui-table__td tui-skeleton">content</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">content</td>
                                    <td class="tui-table__td tui-skeleton">content</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">content</td>
                                    <td class="tui-table__td tui-skeleton">content</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tui-col_lg-12 tui-col_md-12 tui-col_xs-6">
                            <table class="tui-table tui-table_font-size_m ">
                                <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <th class="tui-table__th">Type</th>
                                    <th class="tui-table__th">Number Completed</th>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">Multiple Choice Questions</td>
                                    <td class="tui-table__td tui-skeleton">0</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">Parson's</td>
                                    <td class="tui-table__td tui-skeleton">0</td>
                                </tr>
                                <tr class="tui-table__tr tui-table__tr_border_none">
                                    <td class="tui-table__td tui-skeleton">Java</td>
                                    <td class="tui-table__td tui-skeleton">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tui-col_lg-6 tui-col_md-12 tui-col_xs-6">
                        <table class="tui-table tui-table_font-size_m ">
                            <tbody>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <th class="tui-table__th">Category</th>
                                <th class="tui-table__th">Number Completed</th>
                            </tr>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <td class="tui-table__td tui-skeleton">content</td>
                                <td class="tui-table__td tui-skeleton">0</td>
                            </tr>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <td class="tui-table__td tui-skeleton">content</td>
                                <td class="tui-table__td tui-skeleton">0</td>
                            </tr>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <td class="tui-table__td tui-skeleton">content</td>
                                <td class="tui-table__td tui-skeleton">0</td>
                            </tr>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <td class="tui-table__td tui-skeleton">content</td>
                                <td class="tui-table__td tui-skeleton">0</td>
                            </tr>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <td class="tui-table__td tui-skeleton">content</td>
                                <td class="tui-table__td tui-skeleton">0</td>
                            </tr>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <td class="tui-table__td tui-skeleton">content</td>
                                <td class="tui-table__td tui-skeleton">0</td>
                            </tr>
                            <tr class="tui-table__tr tui-table__tr_border_none">
                                <td class="tui-table__td tui-skeleton">content</td>
                                <td class="tui-table__td tui-skeleton">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
