<div class="tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive">
        <div class="tui-space_auto tui-col_xs-12 tui-col_md-6 tui-col_lg-4">
            <div class="tui-space_auto tui-space_vertical-10 login-brand">
                <img [src]="logoPath" alt="logo">
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
                <h2 class="tui-form__header">Login</h2>
                <div class="tui-form__row">
                    <!-- TODO: (Taiga UI migration) tui-input migration (see https://taiga-ui.dev/components/input):
     - "aria-label" is an unrecognized attribute and was placed on <tui-textfield>. Move it to <input tuiInput> if it targets the native element.
-->
                   <tui-textfield aria-label="Email">
                   <label tuiLabel>Email</label>
                   <input tuiInput formControlName="email" />
                   </tui-textfield>
                    <tui-error  formControlName="email"></tui-error>
                </div>
                <div class="tui-form__row">
                    <tui-textfield aria-label="Password" >
<label tuiLabel>Password</label>

<input tuiInput type="password" formControlName="password" />
<tui-icon tuiPassword />
</tui-textfield>
                    <tui-error  formControlName="password"></tui-error>
                    <div class="tui-form__field-note">
                        Forgot your password? <a [routerLink]="['/accounts', 'reset-password']" tuiLink>Reset
                        Password</a>
                    </div>
                </div>
                <div class="tui-form__buttons">
                    <button
                        [disabled]="formGroup.invalid"
                        [loading]="loading"
                        aria-label="Login"
                        class="tui-form__button login-button__wide"
                        size="m"
                        tuiButton
                        type="submit"
                    >
                        Login
                    </button>
                </div>
                <div class="tui-form__row login-register__center">
                    Don't have an account? <a [routerLink]="['/accounts', 'register']" tuiLink>Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
