.login-brand {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;

    & img {
        width: 100%;
    }
}

.login-button__wide {
    width: 100%;
}

.login-register__center {
    text-align: center;
}
