<tui-island class="tui-space_bottom-8">
    <h2 class="tui-island__title">Question Counts</h2>
    <tui-tabs class="tui-space_bottom-4" #tabsComponent>
        <button tuiTab aria-label="Card View">Card View</button>
        <button tuiTab aria-label="Table View">Table View</button>
    </tui-tabs>
    <tui-loader [overlay]="true" [showLoader]="!questionCountData">
        <ng-container *ngIf="questionCountData">
            <div class="count-islands" *ngIf="tabsComponent.activeItemIndex === 0">
                <tui-island
                        *ngFor="let questionCount of questionCountData"
                        textAlign="center"
                >
                    <h3 class="tui-island__title">
                        {{ questionCount.name }}
                    </h3>
                    <tui-ring-chart [value]="getCountPerDifficultyValues(questionCount.count_per_difficulty)"
                                    [content]="chartContent"
                                    class="tui-space_auto"
                    ></tui-ring-chart>
                    <ng-template #chartContent let-index>
                        <div class="tui-text_body-xl tui-text_bold">
                            {{getDifficultyPerCountLabel(index, questionCount)}}
                        </div>
                        <div>{{getDifficultyPerCountValue(index, questionCount)}}</div>
                    </ng-template>
                </tui-island>
            </div>
            <table
                tuiTable
                class="count-table"
                [columns]="questionCountDataHeader"
                *ngIf="tabsComponent.activeItemIndex === 1"
            >
                <thead>
                <tr tuiThGroup>
                    <th *tuiHead="'name'"
                        tuiTh
                    >
                        Name
                    </th>
                    <th *tuiHead="'count'"
                        tuiTh
                    >
                        Count
                    </th>
                    <th *tuiHead="'count_per_difficulty'"
                        tuiTh
                    >
                        Count Per Difficulty
                    </th>
                </tr>
                </thead>
                <tbody tuiTbody [data]="questionCountData">
                <tr *tuiRow="let item of questionCountData" tuiTr>
                    <td *tuiCell="'count_per_difficulty'" tuiTd>
                        <ng-container *ngFor="let countPerDiffItem of item.count_per_difficulty; let index = index">
                            {{ countPerDiffItem.count }} {{ countPerDiffItem.difficulty }}
                            <span *ngIf="index !== item.count_per_difficulty.length - 1">
                                ,&nbsp;
                            </span>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-container>
    </tui-loader>
</tui-island>
