.top-three-container {
    display: inline-block;
    text-align: center;
    width: 100px;
    background-color: grey;
}

.top-three-container:hover {
    background-color:white;
    transform: scale(1.2);
}

.podium-container {
    display:flex;
    justify-content: baseline;
}

.first {
    height: 300px;
    background-color: gold;
}

.second {
    height: 200px;
    background-color: silver;
}

.third {
    height: 100px;
    background-color: chocolate;
}