.podium-step-container {
    border-radius: 1rem;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: grey;

}


.podium-step-info {
    background-color: white;
}

.podium-container {
    margin: 5rem auto;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline
}

.first {
    height: 300px;
    background-color: gold;
}

.second {
    height: 200px;
    background-color: silver;
}

.third {
    height: 100px;
    background-color: chocolate;
}