<div class="card my-1">
    <div class="card-header">
        <h1>Possible Answers</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
            <div class="form-check" *ngFor="let choice of choiceArray">
                <input class="form-check-input" name="solution" type="radio" id="answer-{{choice.id}}"
                       value="{{choice.id}}" formControlName="solution">
                <div [innerHTML]="choice.value">
                    <label class="form-check-label" for="answer-{{choice.id}}"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!formData.valid">Submit</button>
        </form>
    </div>
</div>
