@import "mixins";

.event {
    &:not(:last-child) {
        border-bottom: solid 1px var(--tui-background-neutral-1-hover);
        margin: 0;
        padding-bottom: 20px;
    }

    &:not(:first-child) {
        padding-top: 20px;
    }
}



