<div class="px-10 space-y-5">
    <ng-container *ngIf="course else skeletonTemplate">
        <div class="flex flex-wrap gap-3">
            <div class="flex-grow">
                <tui-select
                    tuiTextfieldSize="l"
                    [(ngModel)]="filter"
                    class="max-w-xs"
                > You are viewing
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="getEventFilterOptions()"
                    ></tui-data-list-wrapper>
                </tui-select>
            </div>
            <div class="flex items-center gap-3 flex-wrap">
                <button
                    *ngIf="getFeaturedEvent()"
                    [routerLink]="[getFeaturedEvent()?.id]"
                    icon="tuiIconStarFilled"
                    appearance="secondary"
                    aria-label="View Featured Assignment"
                    size="m"
                    tuiButton
                >
                    View Featured Assignment
                </button>
                <button
                    *ngIf="course?.has_create_event_permission"
                    (click)="openEventImportDialog()"
                    icon="tuiIconPlus"
                    appearance="secondary"
                    aria-label="Add Event"
                    size="m"
                    tuiButton
                >
                    Add Event
                </button>
            </div>

            <ng-template
                #importDialog
                let-observer
            >
                <ng-container *ngIf="courseEvents">
                    <div class="tui-space_top-8 space-y-3">
                        <a
                            (click)="observer.complete()"
                            [hoverable]="true"
                            [routerLink]="['/course', courseId, 'assignments-exams', 'create']"
                            size="s"
                            textAlign="center"
                            tuiIsland
                        >
                            <figure class="tui-island__figure">
                                <tui-svg src="tuiIconPlusLarge"></tui-svg>
                            </figure>
                            <h2 class="tui-island__title">Create New Event</h2>
                        </a>
                        <tui-island *ngFor="let event of courseEvents" size="s">
                            <div class="flex">
                                <div class="flex-grow">
                                    <p class="tui-island__category">{{ event.type }}</p>
                                    <h3 class="tui-island__title">{{ event.name }}</h3>
                                </div>
                                <button
                                    (click)="importCourseEvent(event, courseId)"
                                    appearance="secondary"
                                    aria-label="Import"
                                    size="s"
                                    tuiButton
                                >
                                    Import
                                </button>
                            </div>
                        </tui-island>
                    </div>
                </ng-container>
                <button
                    (click)="observer.complete()"
                    aria-label="Cancel"
                    class="tui-space_top-8"
                    size="m"
                    tuiButton
                    type="button"
                >
                    Cancel
                </button>
            </ng-template>
        </div>
        <tui-accordion [closeOthers]="false">
            <tui-accordion-item class="title" open="true" [disableHover]="true">
                Upcoming Events
                <ng-template tuiAccordionItemContent>
                    <div
                        *ngFor="let event of getUpcomingEvents()"
                        class="event"
                    >
                        <app-event-row
                            [event]="event"
                            (reload)="init()"
                        >
                        </app-event-row>
                    </div>
                    <div *ngIf="getUpcomingEvents().length === 0">
                        <div class="flex justify-center items-center w-full h-32">
                            <tui-marker-icon
                                class="tui-space_right-4"
                                size="s"
                                src="tuiIconAlertCircleLarge"
                            ></tui-marker-icon>
                            <h2 class="tui-text_body-xl">
                                Looks like there are no upcoming events
                            </h2>
                        </div>
                    </div>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item open="true">
                Past Events
                <ng-template tuiAccordionItemContent>
                    <div *ngFor="let event of getPastEvents()" class="event">
                        <app-event-row
                            [event]="event"
                            (reload)="init()"
                        >
                        </app-event-row>
                    </div>
                    <div *ngIf="getPastEvents().length === 0">
                        <div class="flex justify-center items-center w-full h-32">
                            <tui-marker-icon
                                class="tui-space_right-4"
                                size="s"
                                src="tuiIconAlertCircleLarge"
                            ></tui-marker-icon>
                            <h2 class="tui-text_body-xl">
                                Looks like there are no past events
                            </h2>
                        </div>
                    </div>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-container>
    <ng-template #skeletonTemplate>
        <div class="functionBar">
            <div class="filter">
                <tui-select
                    class="tui-skeleton"
                    tuiTextfieldSize="l"
                    [(ngModel)]="filter"
                > content
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        class="tui-skeleton"
                    >content
                    </tui-data-list-wrapper>
                </tui-select>
            </div>
        </div>
        <tui-accordion class="accordionContainer" [closeOthers]="false">
            <tui-accordion-item class="title" open="true" [disableHover]="true">
                <ng-template tuiAccordionItemContent>
                    <div class="event">
                        <div class="eventType tui-skeleton">
                            Content
                        </div>
                        <div class="name tui-skeleton">Content</div>
                        <div class="dates">
                            <div class="tui-skeleton">Content For Long Dates</div>
                            <div class="tui-skeleton">Content For Long Dates</div>
                        </div>
                        <div class="availability tui-skeleton">
                            Content
                        </div>
                        <div class="grade tui-skeleton">
                            Content
                        </div>
                        <div class="linkBtn">
                            <a
                                appearance="primary" aria-label="Edit"
                                class="tui-form__button tui-skeleton"
                                size="s"
                                tuiButton
                            > Content
                            </a>
                        </div>
                    </div>
                    <div class="event">
                        <div class="eventType tui-skeleton">
                            Content
                        </div>
                        <div class="name tui-skeleton">Content</div>
                        <div class="dates">
                            <div class="tui-skeleton">Content For Long Dates</div>
                            <div class="tui-skeleton">Content For Long Dates</div>
                        </div>
                        <div class="availability tui-skeleton">
                            Content
                        </div>
                        <div class="grade tui-skeleton">
                            Content
                        </div>
                        <div class="linkBtn">
                            <a
                                appearance="primary" aria-label="Edit"
                                class="tui-form__button tui-skeleton"
                                size="s"
                                tuiButton
                            > Content
                            </a>
                        </div>
                    </div>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item class="title" open="true" [disableHover]="true">
                <ng-template tuiAccordionItemContent>
                    <div class="event">
                        <div class="eventType tui-skeleton">
                            Content
                        </div>
                        <div class="name tui-skeleton">Content</div>
                        <div class="dates">
                            <div class="tui-skeleton">Content For Long Dates</div>
                            <div class="tui-skeleton">Content For Long Dates</div>
                        </div>
                        <div class="availability tui-skeleton">
                            Content
                        </div>
                        <div class="grade tui-skeleton">
                            Content
                        </div>
                        <div class="linkBtn">
                            <a
                                appearance="primary" aria-label="Edit"
                                class="tui-form__button tui-skeleton"
                                size="s"
                                tuiButton
                            > Content
                            </a>
                        </div>
                    </div>
                    <div class="event">
                        <div class="eventType tui-skeleton">
                            Content
                        </div>
                        <div class="name tui-skeleton">Content</div>
                        <div class="dates">
                            <div class="tui-skeleton">Content For Long Dates</div>
                            <div class="tui-skeleton">Content For Long Dates</div>
                        </div>
                        <div class="availability tui-skeleton">
                            Content
                        </div>
                        <div class="grade tui-skeleton">
                            Content
                        </div>
                        <div class="linkBtn">
                            <a
                                appearance="primary" aria-label="Edit"
                                class="tui-form__button tui-skeleton"
                                size="s"
                                tuiButton
                            > Content
                            </a>
                        </div>
                    </div>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-template>
</div>
