<header>
    <div class="container-fluid">
        <div class="row my-auto">
            <div class="col m-3">
                <h1 class="m-0">Edit Question</h1>
            </div>
        </div>
    </div>
</header>
<main class="page-content m-3">
    <div class="container-fluid">
        <ng-container *ngIf="questionType === 'multiple choice question'">
            <app-mcq-edit-snippet [QuestionDetails]="QuestionDetails"></app-mcq-edit-snippet>
        </ng-container>
        <ng-container *ngIf="questionType === 'java question'">
            <app-java-edit-snippet [QuestionDetails]="QuestionDetails"></app-java-edit-snippet>
        </ng-container>
        <ng-container *ngIf="questionType === 'parsons question'">
            <app-parsons-edit-snippet [QuestionDetails]="QuestionDetails"></app-parsons-edit-snippet>
        </ng-container>
    </div>
</main>
