<link href="https://fontawesome.com/v5.15/icons/trophy" rel="stylesheet">
<div class="container podium-container">
    <img src='assets/gif/fire.gif' class="streakIcon transparent-absolute">
    <img src='assets/gif/snow.gif' class="streakIcon transparent-absolute">
    <div class="podium-wrapper" *ngFor="let user of topThree let i = index"
        [ngClass]="{'first-wrapper' : i == 0, 'second-wrapper' : i == 1, 'third-wrapper' : i == 2}">
        <div class="podium-step-container"
            [ngClass]="{'first fa-10x' : i == 0, 'second fa-8x' : i == 1, 'third fa-6x' : i == 2}">
            <div class="podium-step-frontside">
                <div class="name">
                    {{user.name}}
                </div>
                <i class="fas fa-trophy trophy"></i>
                <div class="score">
                    {{user.token}}
                </div>
            </div>
            <div class="podium-step-backside">
                <!--back of card-->
                <div class="streak">
                    {{user.streak}}
                </div>
                <div class="streak-display">
                    <div *ngIf="user.streak > 2">
                        <img src='assets/gif/fire.gif' class="streakIcon">
                    </div>
                    <div *ngIf="user.streak < -2">
                        <img src='assets/gif/snow.gif' class="streakIcon">
                    </div>
                </div>
                <div *ngIf="user.team; else elseBlock" class='team'>
                    {{user.team}}
                </div>
                <ng-template #elseBlock>
                    <div class="team"></div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<table [dataSource]="leaderBoardData" class="table table-hover hover-shadow" mat-table matSort matSortActive="token"
       matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="rank">
        <th *matHeaderCellDef mat-header-cell>Rank</th>
        <td *matCellDef="let i = index" mat-cell>{{i + 4}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let element" mat-cell> {{(element.name | titlecase) || 'Anon'}}</td>
    </ng-container>
    <ng-container matColumnDef="token">
        <th *matHeaderCellDef mat-header-cell>Tokens</th>
        <td *matCellDef="let element" mat-cell> {{element.token || 'No Tokens'}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
