@import '~@taiga-ui/core/styles/taiga-ui-local';

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__island {
        width: 100%;

        &-json {
            height: 100%;
        }
    }
}

.new-item-icon {
    @include transition(transform);
    transition-duration: 300ms;

    &_rotated {
        transform: rotate(180deg);
    }
}
