<div id="mainContainer" class="container">
    <h2 class="my-3">
        Create Event
    </h2>
    <!--TODO: Add aria-labels throughout form (on Opey)-->
    <form id="new-event" class="form">
        <div class="form-group">
            <label for="id-name">Event Name</label>
            <input id="id-name" type="text" name="name" required class="form-control" placeholder="Event Name..."
                   [(ngModel)]="eventName" (input)="checkCanSubmit()">
        </div>
        <div class="form-group">
            <label for="id-type">Event type</label>
            <select id="id-type" name="type" class="form-control" [(ngModel)]="eventType"
                    (change)="checkCanSubmit()" required>
                <option value="" disabled selected>Select Event Type...</option>
                <ng-container *ngFor="let item of localEventTypes | keyvalue">
                    <option [value]="item.key">{{item.value.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-check my-5">
            <input id="id-count-for-tokens" name="count_for_tokens" type="checkbox" class="form-check-input"
                   [(ngModel)]="countsForTokens">
            <label for="id-count-for-tokens" class="form-check-label">Counts for tokens</label>
        </div>
        <div class="form-group">
            <label for="id-name">Start Date & Time</label>
            <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="startPicker"
                       placeholder="Choose a date"
                       [disabled]="false"
                       [(ngModel)]="startTime"
                       id="start-date-id" name="startPicker"
                       (ngModelChange)="checkCanSubmit()">

                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startPicker
                                         [showSeconds]="false" [touchUi]="true"
                                         [stepHour]="1" [stepMinute]="1">
                </ngx-mat-datetime-picker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="id-name">End Date & Time</label>
            <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="endPicker"
                       placeholder="Choose a date"
                       [disabled]="false"
                       [(ngModel)]="endTime" [min]="minDate"
                       id="end-date-id" name="endPicker"
                       (ngModelChange)="checkCanSubmit()">
                <mat-datepicker-toggle matSuffix [for]="endPicker">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endPicker
                                         [showSeconds]="false" [touchUi]="true"
                                         [stepHour]="1" [stepMinute]="1">
                </ngx-mat-datetime-picker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button class="btn btn-primary my-2 mr-3" [routerLink]="['/course/view', courseId]">Back</button>
            <button id="id-submit" type="submit" name="submit" class="btn btn-primary my-2 mr-3"
                    (click)="submitEvent()" [disabled]="invalid">Submit</button>
        </div>
    </form>
</div>
