<div class="container">
<a class="btn btn-primary my-2 mr-3" [routerLink]="['/course/view', courseId]">back</a>
<form action="post" id="new-event">
    <div>
        <label>Event name</label><input type="text" name="name" required>
    </div>
    <div>
        <label>Event type</label>
        <select name="type" required>
            <option value selected>--------------</option>
            <option value="assignment">Assignment</option>
            <option value="exam">Exam</option>
            <option value="practice">Practice</option>
        </select>
    </div>
    <!--Needs to stop -->
    <div>
        <label>Start time</label>
        <input type="datetime-local" required name="start_date">
    </div>
    <div>
        <label>End time</label>
        <input type="datetime-local" required name="end_date">
    </div>
    <div>
        <input type="submit" name="submit">
    </div>
</form>
</div>