<div class="flowchart-instructions tui-space_bottom-4">
    <button
        *ngIf="parentNode"
        (click)="reset()"
        [class.tui-skeleton]="flowchartComponent.children.length === 0"
        appearance="flat"
        aria-label="Back"
        class="tui-space_right-3"
        icon="tuiIconArrowLeft"
        size="s"
        tuiButton
    >
        Back
    </button>
    <ng-container *ngIf="parentNode else topLevel">
        <h6
            [class.tui-skeleton]="flowchartComponent.children.length === 0"
            class="tui-text_h6 tui-space_vertical-0"
        >
            Sub-Categories for {{parentNodeName}}
        </h6>
    </ng-container>
    <ng-template #topLevel>
        <button
            appearance="flat"
            [routerLink]="['..']"
            icon="tuiIconArrowLeft"
            aria-label="Back to Homepage"
            size="s"
            tuiButton>
            Homepage
        </button>
        <h6
            [class.tui-skeleton]="flowchartComponent.children.length === 0"
            class="tui-text_h6 tui-space_vertical-0"
        >
            Top-Level Categories
        </h6>

    </ng-template>
</div>
<div #flowchartComponent [class.tui-skeleton]="flowchartComponent.children.length === 0" id="paper"></div>
