<div class="flowchart-instructions tui-space_bottom-4">
    <button
        *ngIf="parentNode"
        (click)="reset()"
        [class.tui-skeleton]="flowchartComponent.children.length === 0"
        appearance="primary"
        aria-label="Back"
        class="tui-space_right-4"
        icon="tuiIconArrowLeft"
        size="s"
        tuiButton
    >
        Back
    </button>
    <ng-container *ngIf="parentNode else topLevel">
        <h2
            [class.tui-skeleton]="flowchartComponent.children.length === 0"
            class="tui-text_h5 tui-space_vertical-0"
        >
            Sub-Categories for {{parentNodeName}}
        </h2>
    </ng-container>
    <ng-template #topLevel>
        <h2
            [class.tui-skeleton]="flowchartComponent.children.length === 0"
            class="tui-text_h5 tui-space_vertical-0"
        >
            Top-Level Categories
        </h2>
    </ng-template>
</div>
<div #flowchartComponent [class.tui-skeleton]="flowchartComponent.children.length === 0" id="paper"></div>
