@import "mixins";

#paper {
    width: 100%;
    overflow: auto;
}
.flowchart-instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include screen-sm() {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
.flowchart-skeleton {
    width: 100%;
    height: 60vh;
}
