@import "mixins";

#paper {
    width: 100%;
    height: 30rem;
    overflow: auto;
    cursor: move;
    border-radius: var(--tui-radius-m);
    border: var(--tui-base-03) 1px solid
}
.flowchart-instructions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_left {
        display: flex;
        align-items: center;
    }

    @include screen-sm() {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
.flowchart-skeleton {
    width: 100%;
    height: 30rem;
}
