@import '~@taiga-ui/core/styles/taiga-ui-local';
@import "mixins";

.w-full {
  width: 100%;
}

.practice {
    display: flex;

    @include screen-sm() {
        flex-direction: column;
    }

    &-sidebar {
        &_content {
            display: flex;
            flex-direction: column;

            &-breadcrumbs {
                color: var(--tui-text-03);
                display: flex;
                align-items: center;
                width: 100%;

                a {
                    width: auto;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &-categories {
                &_button {
                    border: none;
                    background-color: transparent;
                    text-align: left;
                    cursor: pointer;
                    padding: 0;

                    @include transition(color);
                    transition-duration: 300ms;

                    &:hover {
                        color: var(--tui-primary-hover);
                    }
                }
            }
        }

        &_buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            button {
                flex-grow: 1;
            }
        }
    }

    &-content {
        width: 100%;

        &_none {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}
