<div class="tui-text_h3 tui-space_left-4 tui-space_top-4">{{category?.name}}</div>
<table class="tui-table tui-space_left-4 tui-space_bottom-4">
    <tbody>
    <tr class="tui-table__tr">
        <td class="tui-table__td">Your Success: {{userSuccessRate || 'N/A'}}</td>
        <td class="tui-table__td">Average Success: {{category?.average_success || 'N/A'}}</td>
    </tr>
    </tbody>
</table>
<tui-select
    class="tui-space_left-4"
    [tuiTextfieldCleaner]="true"
    [valueContent]="difficulties ? (difficulties | stringifyTuiDataList: 0: 1) : ''"
    (ngModelChange)="changeDifficulty($event)"
    [ngModel]="difficulty"
>
    Difficulty
    <tui-data-list *tuiDataList>
        <button *ngFor="let diff of difficulties" tuiOption [value]="diff[0]">
            {{ diff[1] }}
        </button>
    </tui-data-list>
</tui-select>
<button
    tuiButton
    size="m"
    class="tui-form__button tui-space_left-4 tui-space_top-4 tui-space_bottom-4"
    aria-label="Next"
    (click)="prevQuestion()"
>
    Prev
</button>

<button
    tuiButton
    size="m"
    class="tui-form__button tui-space_top-4 tui-space_bottom-4"
    aria-label="Next"
    (click)="nextQuestion()"
>
    Next
</button>
<app-problem-view *ngIf="currentQuestionId else noProblems" [questionId]="currentQuestionId">
</app-problem-view>
<ng-template #noProblems>
    <h4 class="tui-text_h4 tui-space_left-4 tui-space_top-4">There are no available practice questions for this category/difficulty.</h4>
</ng-template>
