<h2 class="my-2">{{category?.name}}</h2>
<div class="card my-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Your Success: {{userSuccessRate || 'N/A'}}</li>
        <li class="list-group-item">Average Success: {{category?.average_success || 'N/A'}}</li>
    </ul>
</div>
<label for="difficulty">Difficulty:</label>
<select class="form-control" [(ngModel)]="difficulty" id="difficulty">
    <option value="">All</option>
    <option *ngFor="let diff of difficulties" [value]="diff[0]">{{diff[0]}}</option>
</select>
<button
        tuiButton
        size="m"
        class="tui-form__button"
        aria-label="Next"
        (click)="prevQuestion()"
>
    Prev
</button>

<button
        tuiButton
        size="m"
        class="tui-form__button"
        aria-label="Next"
        (click)="nextQuestion()"
>
    Next
</button>

<app-problem-view *ngIf="currentQuestionId" [questionId]="currentQuestionId">
</app-problem-view>
