@import "mixins";

.practice {
    display: flex;

    @include screen-sm() {
        flex-direction: column;
    }

    &-sidebar {
        @include sidebar(left);

        &_content {
            display: flex;
            flex-direction: column;
        }

        &_buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            button {
                flex-grow: 1;
            }
        }
    }

    &-content {
        width: 100%;

        @include screen-sm() {
            margin-top: 4rem;
        }

        &_none {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}
